{% extends 'crm/basetabs.html' %}


{% block page_title %}
    Account {{object.name}}
{% endblock %}


{% block custom_js %}
	<script type="text/javascript">
		console.log("See i am showing here now lick my anus");
		var map = L.map('map').setView([25.7459819, -80.2615343], 16);
		L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
		    subdomains: ['a','b','c']
		}).addTo( map );
		{% if geo_markers %}
			{% for g in geo_markers %}
				{{g}}
			{% endfor %}
		{% endif %}

	</script>
{% endblock %}


{% block nav_tab_override %}

    {% if item_type == 'itp_voice' %}
        {% include 'crm/account_services/itp_voice_tabs.html' %}        
		{% endif %}
		
		{% if 'itp_fiber' in item_type  %}
        {% include 'crm/account_services/itp_fiber_tabs.html' %}        
    {% endif %}

{% endblock %}




{% block content %}


    <!-- ITP_VOICE TABS CONTENT -->
    {% if item_type == 'itp_voice' %}

		{% include 'crm/account_services/itp_voice_tab_content.html' %}
		
		<!-- modal -->
		<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
				  <form method="POST" action="{% url 'wizard_add_itemgroup' %}">{% csrf_token %}
					  <input type="hidden" name="quoteid" value="{{quote_id}}" />
					<div class="modal-header">
					  <h3 class="modal-title">New Item Group</h3>
					  <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-11px;">
						<span aria-hidden="true" style="font-size:24px;">&times;</span>
					  </button>
					</div>
					<div class="modal-body">
					  <p>Enter the name of the Item Group here</p>
					  <input type="text" name="new_itemgroup_name" id="new-itemgroup-name" /><br/>
	  
					</div>
					<div class="modal-footer">
						<input type="submit" class="btn btn-primary" value="Save Changes">
					  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				  </form>
			  </div>
			</div>
		  </div>
		  <!-- end modal -->
    
    {% endif %}
	<!-- END ITPVOICE TABS CONTENT-->



	{% if 'itp_fiber' in item_type %}

		{% include 'crm/account_services/itp_fiber_tab_content.html' %}
		
	  
  {% endif %}
	


	
  
    

{% endblock %}

