{% extends 'crm/basetabs.html' %}


{% block page_title %}
    Account {{object.name}}
{% endblock %}


{% block custom_js %}
	<script type="text/javascript">
		console.log("See i am showing here now lick my anus");
		var map = L.map('map').setView([25.7459819, -80.2615343], 16);
		L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
		    subdomains: ['a','b','c']
		}).addTo( map );
		{% if geo_markers %}
			{% for g in geo_markers %}
				{{g}}
			{% endfor %}
		{% endif %}

	</script>
{% endblock %}

{% block content %}

    <div class="tab-pane active" id="overview" role="tabpanel">
        <div class="p-20">
            

            <div class="row" style="padding:0px;">

                <div class="col-md-6 col-sm-12" style="padding-left:10px;float:left;">
            
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card card-cute-border">
                                <div class="card-body">
                                    <div class="d-flex no-block">
                                        <div class="align-self-center">
                                            <h6 class="text-muted m-t-10 m-b-0">Balance</h6>
                                            <h2 class="m-t-0">${{billing_api.balance}}</h2></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-cute-border">
                                <div class="card-body">
                                    <div class="d-flex no-block">
                                        <div class="align-self-center">
                                            <h6 class="text-muted m-t-10 m-b-0">Credits</h6>
                                            <h2 class="m-t-0">$0.00</h2></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-cute-border">
                                <div class="card-body">
                                    <div class="d-flex no-block">
                                        <div class="align-self-center">
                                            <h6 class="text-muted m-t-10 m-b-0">Outstanding</h6>
                                            <h2 class="m-t-0">${{billing_api.past_due_balance}}</h2></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
            
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="card card-cute-border">
                                <div class="card-body">
                                    <table class="account-standings account-standings-info" style="font-size:13px; font-family: 'Lato', sans-serif;">
                                        <tbody><tr>
                                            <td class="account-standings-info__payment" data-tooltip="Total amount for the client's services averaged to one month.">
                                                <i class="mdi mdi-credit-card"></i>
                                                <span>
                                                    Expected payment:
                                                    <strong>${{object.expected_payment}} / month</strong>
                                                </span>
                                            </td>
                                            <td data-tooltip="Date when the next recurring invoice will be generated">
                                                <!--Next invoicing day:
                                                <strong>12 Oct 2018	</strong-->
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="" style="padding-left:0px">
                        <div class="card card-cute-border">
                            <div class="card-body">
                                <div class="align-self-center">
                                    <h4 class="text-muted m-t-10 m-b-0 account-details-box-heading">
                                        {{object.name}}
                                    </h4>
                                    <!--h2 class="m-t-0">953,000</h2-->
                                    <div class="account-details-editlink">
                                        <a href="{% url 'accounts_edit' pk=object.pk %}" class="" style="padding:8px;">
                                            <i class="ti-pencil"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="table-responsive account-details-box-table">  
                                    <table class="table">
                                        <tr>
                                            <td>Name</td>
                                            <td>{{object.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Status</td>
                                            <td>{{object.status}}</td>
                                        </tr>
                                        <tr>
                                            <td>Account Type</td>
                                            <td>{{object.account_type}}</td>
                                        </tr>
                                        <tr>
                                            <td>Account #</td>
                                            <td>{{object.accountnumber}}</td>
                                        </tr>
                                        <tr>
                                            <td>Billing Address</td>
                                            <td>{{object.billing_address}} {{object.billing_city}}, {{object.billing_state}} {{object.billing_zipcode}}</td>
                                        </tr>
                                        <tr>
                                            <td>Phone #</td>
                                            <td>{{object.phone}}</td>
                                        </tr>
                                        <tr>
                                            <td>Net Terms#</td>
                                            <td>{{object.net_terms}}</td>
                                        </tr>
                                        <tr>
                                            <td>Auto Pay</td>
                                            <td>{% if billing_api.automatic_payments %}<i class="fas fa-check-square" style="color:green !important;"></i>{% else %}<i class="far fa-times-circle" style="color:red;"></i>{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <td>E-bill</td>
                                            <td>{% if billing_api.ebilling %}<i class="fas fa-check-square" style="color:green;"></i>{% else %}<i class="far fa-times-circle" style="color:red;"></i>{% endif %}</td>
                                        </tr>
                                         <tr>
                                            <td>Billing</td>
                                            <td>{% if object.billing_api_id %}{{object.billing_api_id}}{% else %}<i class="far fa-times-circle" style="color:red;"></i>{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <td>Billing Cycle Date</td>
                                            <td>
                                                {% if not billing_api.billing_cycle_month_date and object.status == 'Active' %}
                                                This account has not been billed 
                                                {% else %}
                                                {{billing_api.billing_cycle_month_date}}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            
            
                    
            
                </div> <!-- end main col left -->
            
                <!-- start main col right -->
                <div class="col-md-6 col-sm-12" style="padding-right:10px;float:left;">

                    {% if object.agent %}
                    <div class="" style="padding-left:0px">
                        <div class="card card-cute-border">
                            <div class="card-body">
                                <div class="align-self-center">
                                    <h4 class="text-muted m-t-10 m-b-0 account-details-box-heading" style="color:#e82b2b !important;">
                                        Agent Info
                                    </h4>
                                    <!--h2 class="m-t-0">953,000</h2-->
                                    <div class="account-details-editlink">
                                        <a href="#" class="" style="padding:8px;">
                                            <i class="ti-pencil"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="table-responsive account-details-box-table">  
                                    <table class="table">
                                        <tr>
                                            <td>Name</td>
                                            <td>{{object.agent.firstname}} {{object.agent.lastname}}</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>{{object.agent.email}}</td>
                                        </tr>
                                        
                                        <tr>
                                            <td>Active</td>
                                            <td>{% if object.active %}<i class="fas fa-check-square" style="color:green !important;"></i>{% else %}<i class="far fa-times-circle" style="color:red;"></i>{% endif %}</td>
                                        </tr>
                                       
                                        
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            
                    <div class="" style="padding-left:0px">
                        <div class="card card-cute-border">
                            <div class="card-body">
                                <div class="align-self-center">
                                    <h4 class="text-muted m-t-10 m-b-0 account-details-box-heading">
                                        Services 
                                    </h4>
                                </div>
            
                                    <div class="">
                                        {% if services %}
                                            <!--tr>
                                                <td></td>
                                                <td>ID</td>
                                                <td>Name</td>
                                                <td>Part#</td>
            
                                            </tr-->
                                            {% for oi in services %}
                                            <div class="account-details-services-row col-md-12">
                                                <div style="float:left;padding:10px;">
                                                    <i class="mdi mdi-checkbox-blank-circle" style="color:#4caf50;"></i>
                                                </div>
                                                <div style="float:left;">
                                                    <h6 class="text-muted m-t-10 m-b-0 account-details-box-heading" style="padding-bottom:0px !important;">
                                                        <a class="" 
                                                            href="{% url 'accountservice_detail' pk=oi.pk %}">
                                                                {{oi.product.name}}<br />
                                                                <h6 class="card-subtitle" style="font-size:10px;padding-top:10px;">
                                                                    {{oi.prod_description}}
                                                                </h6>
                                                                <h6 class="card-subtitle" style="padding-top:10px;">
                                                                    {{oi.service_address.get_address_pretty}}
                                                                </h6>
                                                        </a>
                                                    </h6>
                                                </div>
                                                <div style="float:right;padding:10px;">
                                                    <h3>${{oi.price}}</h3>
                                                </div>
                                            </div>
                                            {% endfor %}
            
                                        {% else %}
            
                                            <div class="alert alert-info account-details-alert-text">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                                                    <span aria-hidden="true">×</span> 
                                                </button>
                                                <h3 class="text-info">
                                                    <i class="fa fa-exclamation-circle"></i> Information
                                                </h3> 
                                                There are no services associated with this account
                                            </div>
            
            
                                        {% endif %}
                                        <div id="map" style="width:100%;height:250px;"></div>
            
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            
            </div> <!-- end row -->

            <!-- overview tab END -->

        </div>
    </div>


    
    <!-- contacts tab-->
    <div class="tab-pane  p-20" id="contacts" role="tabpanel">
        <div class="row" style="padding:0px;">
            <div class="col-md-12 col-sm-12" style="padding-left:10px;float:left;">
                <div class="" style="padding-left:0px">
                    <div class="card card-cute-border">
                        <div class="card-body">
                            <div class="align-self-center">
                                <!----h4 class="text-muted m-t-10 m-b-0 account-details-box-heading">Contacts</h4-->
                                <h4 class="text-muted m-t-10 m-b-0 account-details-box-heading">Contacts</h4>
                                <div class="account-details-editlink">
                                        
                                        <div class="account-details-editlink">
                                            <a href="{% url 'contacts_new' %}?account={{object.pk}}" target="_blank" class="btn btn-success" style="padding:8px;">
                                                Add Contact
                                            </a> 
                                            <!---a href="{% url 'quotes_list' %}" class="" style="margin-top:-10px;">SEE ALL</a-->
                                        </div>
                                </div>
                            </div>
                            <div class="table-responsive account-details-box-table">  
                                {% if check_contacts %}
                                    <table class="table color-bordered-table info-bordered-table">
                                        <thead>
                                            <tr style="font-weight:bold;">
                                                <th></th>
                                                <th></th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Email</th>
                                                <th>Admin</th>
                                                <th>Billing</th>
                                                <th>Tech.</th>
                                            </tr>
                                        </thead>
                                        {% for i in object.contacts_set.select_related %}
                                        <tr>
                                            <td>
                                                <a href=""><i class="fas fa-search"></i></a>
                                            </td>
                                            <td>
                                                <a href="{% url 'contacts_edit' pk=i.pk %}"><i class="fas fa-edit"></i></a>
                                            </td>
                                            <td>{{i.firstname}}</td>
                                            <td>{{i.lastname}}</td>
                                            <td>{{i.email}}</td>
                                            <td>{% if i.admin_group %}<i class="fas fa-check-square"></i>{% else %}<i class="far fa-times-circle"></i>{% endif %}</td>
                                            <td>{% if i.billing_group %}<i class="fas fa-check-square"></i>{% else %}<i class="far fa-times-circle"></i>{% endif %}</td>
                                            <td>{% if i.technical_group %}<i class="fas fa-check-square"></i>{% else %}<i class="far fa-times-circle"></i>{% endif %}</td>
                                        </tr>
                                        {% endfor %}    
                                    </table>
                                {% else %}
                                
                                    <div class="alert alert-info account-details-alert-text">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                                                <span aria-hidden="true">×</span> 
                                            </button>
                                            <h3 class="text-info">
                                                <i class="fa fa-exclamation-circle"></i> Information
                                            </h3> 
                                            There are no contacts associated with this account. <br />
                                            Click New to add a new contact<br /><br />
                                            <a class="btn btn-sm btn-info" href="{% url 'contacts_new' %}?account={{object.pk}}">Add Contact</a>
                                    </div>
        
        
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    <!-- end contact tab -->

    <!-- quotes and orders tab -->
    <div class="tab-pane p-20" id="quotes" role="tabpanel">
        <div class="row" style="padding:0px;">
            <div class="col-md-12 col-sm-12" style="padding-left:10px;float:left;">
                <div style="padding-left:0px">
                    <div class="card card-cute-border">
                        <div class="card-body">
                                <div class="align-self-center">
                                    <h4 class="text-muted m-t-10 m-b-0 account-details-box-heading">Quotes</h4>
                                    <div class="account-details-editlink">
                                        <a href="{% url 'wizard_quotes_step2' pk=object.pk %}" target="_blank" class="btn btn-success" style="padding:8px;">
                                            New Quote
                                        </a> 
                                        <!---a href="{% url 'quotes_list' %}" class="" style="margin-top:-10px;">SEE ALL</a-->
                                    </div>
                                </div>
                                <div class="table-responsive account-details-box-table">
                                    {% if quotes %}
                                    <table class="table color-bordered-table info-bordered-table">
                                        <thead>
                                            <tr style="font-weight:bold;font-height:14px;">
                                                <th>
                                                <th>ID</th>
                                                <th>Status</th>
                                                <th>Created</th>
                                            </tr>
                                        </thead>
                                        {% for ord in quotes %}
                                        <tr>
                                            <td>
                                                {% ifequal ord.quote_status 'Draft' %}
                                                <a class="btn btn-xs btn-info" href="{% url 'wizard_quotes_step3_ro' pk=ord.pk %}">
                                                    View</a>
                                                {% else %}
                                                <a class="btn btn-xs btn-info" href="{% url 'wizard_quotes_step3_ro' pk=ord.pk %}">
                                                    View</a>
                                                {% endifequal %}
                                            </td>
                                            <td>{{ord.id}}</td>
                                            <td>{{ord.quote_status}}</td>
                                            <td>{{ord.date_created}}</td>
                                        </tr>
                                        {% endfor %}
                                        
                                    </table>
                                    {% else %}
                                        <div class="alert alert-info account-details-alert-text">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                                                    <span aria-hidden="true">×</span> 
                                                </button>
                                                <h3 class="text-info">
                                                    <i class="fa fa-exclamation-circle"></i> Information
                                                </h3> 
                                                There are no quotes associated with this account.
                                        </div>
        
        
        
                                    {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div> <!-- end orders tab-->

    <div class="tab-pane p-20" id="orders" role="tabpanel">
        <div class="row" style="padding:0px;">
            <div class="col-md-12 col-sm-12" style="padding-left:10px;float:left;">
                <div class="" style="padding-left:0px">
                    <div class="card card-cute-border">
                        <div class="card-body">
                                <div class="align-self-center">
                                    <h4 class="text-muted m-t-10 m-b-0 account-details-box-heading">Orders</h4>
                                    <!---div class="account-details-editlink">
                                        <a href="{% url 'orders_list' %}" style="margin-top:-10px;">NEW</a>
                                    </div-->
                                </div>
                                <div class="table-responsive account-details-box-table">
                                    {% if orders %}
                                    <table class="table color-bordered-table info-bordered-table">
                                        <thead>
                                            <tr style="font-weight:bold;font-height:14px;">
                                                <th>
                                                <th>ID</th>
                                                <th>Status</th>
                                                <th>Created</th>
                                            </tr>
                                        </thead>
                                        {% for ord in orders %}
                                        <tr>
                                            <td><a class="btn btn-xs btn-info" href="{%url 'orders_detail' pk=ord.pk %}">
                                                    View</a>
                                            </td>
                                            <td>{{ord.id}}</td>
                                            <td>{{ord.status}}</td>
                                            <td>{{ord.date_created}}</td>
                                        </tr>
                                        {% endfor %}
                                        
                                    </table>
                                    {% else %}
                                        <div class="alert alert-info account-details-alert-text">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                                                    <span aria-hidden="true">×</span> 
                                                </button>
                                                <h3 class="text-info">
                                                    <i class="fa fa-exclamation-circle"></i> Information
                                                </h3> 
                                                There is no orders for this account.
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
        
                </div>
            </div>
        </div>

    </div> <!-- end orders tab-->

    <div class="tab-pane p-20" id="invoices" role="tabpanel">
            <div class="row" style="padding:0px;">
                <div class="col-md-12 col-sm-12" style="padding-left:10px;float:left;">
                    <div class="" style="padding-left:0px">
                        <div class="card card-cute-border">
                            <div class="card-body">
                                    <div class="align-self-center">
                                        <h4 class="text-muted m-t-10 m-b-0 account-details-box-heading">Invoices</h4>
                                        <!---div class="account-details-editlink">
                                            <a href="{% url 'orders_list' %}" style="margin-top:-10px;">NEW</a>
                                        </div-->
                                    </div>
                                    <div class="table-responsive account-details-box-table">
                                        {% if invoices %}
                                        <table class="table color-bordered-table info-bordered-table">
                                            <thead>
                                                <tr style="font-weight:bold;font-height:14px;">
                                                    <th></th>
                                                    <th>Balance</th>
                                                    <th>Billing Cycle Start Date</th>
                                                </tr>
                                            </thead>
                                            {% for ord in invoices %}
                                            <tr>
                                                <td><a class="btn btn-xs btn-info" href="#">
                                                    View </a>
                                                </td>
                                                <td>{{ord.balance}}</td>
                                                <td>{{ord.billing_cycle_start_date}}</td>
                                                
                                            </tr>
                                            {% endfor %}
                                            
                                        </table>
                                        {% else %}
                                            <div class="alert alert-info account-details-alert-text">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                                                        <span aria-hidden="true">×</span> 
                                                    </button>
                                                    <h3 class="text-info">
                                                        <i class="fa fa-exclamation-circle"></i> Information
                                                    </h3> 
                                                    There are no invoices for this account.
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
            
                    </div>
                </div>
            </div>
    
        </div> <!-- end orders tab-->





{% endblock %}

