{% extends 'crm/base2.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
     <li class="breadcrumb-item"><a href="/">Home</a></li>
     <li class="breadcrumb-item"><a href="#">{{request.user}}</a></li>
     <li class="breadcrumb-item active" class="active">Accounts</li>
    </ol>
{% endblock %}


{% block page_title %}
    Accounts List
{% endblock %}


{% block content %}


    <div class="row">

		<div class="col-12">
        	<div class="card card-cute-border">
            	<div class="card-body">
                	<!--h4 class="card-title">Responsive Table </h4>
                    <h6 class="card-subtitle">Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive </code></h6-->
                    <div class="table-responsive account-details-box-table">
                        <a href="{% url 'accounts_new' %}" class="btn btn-sm btn-danger">New Account</a><br /><br />
                        <table class="table color-bordered-table info-bordered-table" style="width: 98%; cellspacing: 0;">
                            <thead>
                                <tr style="color:#fff !important;">
                                    <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'name' %}-name{% else %}name{% endifequal %}">Name</a></th>
                                    <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'status' %}-status{% else %}status{% endifequal %}">Status</a></th>
                                    <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'accountnumber' %}-accountnumber{% else %}accountnumber{% endifequal %}">Account #</a></th>
                                    <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'phone' %}-phone{% else %}phone{% endifequal %}">Phone</a></th>
                                    <th></th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in object_list %}
                                <tr>
                                    <td>{{i.name}}</td>
                                    <td>{% ifequal i.status 'Active' %} <div class="label label-table label-success">Active</div> {% else %} <div class="label label-table label-warning">{{i.status}}</div> {% endifequal %}</td>
                                    <td>{{i.accountnumber}}</td>
                                    <td>{{i.phone}}</td>
                                    <td style="text-align:right;">
                                        <a href="{% url 'accounts_detail' pk=i.pk %}" class="btn btn-sm btn-info">View</a> &nbsp;&nbsp;
                                        <a href="{% url 'accounts_edit' pk=i.pk %}" class="btn btn-sm btn-success">Edit</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                           </table>  

                           {% if is_paginated %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}&order_by={{order_by}}">&laquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                <li><a href="?page={{ i }}&order_by={{order_by}}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}&order_by={{order_by}}">&raquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                            {% endif %}


                        </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

