{% extends 'crm/base2.html' %}

{% block breadcrumb %}
<ol class="breadcrumb">
     <li class="breadcrumb-item"><a href="/">Home</a></li>
     <li class="breadcrumb-item active">
             {% if object %}{{object.name}}{% else %}New Service{% endif %}
     </li>
</ol>
{% endblock %}

{% block extra_css %}
<style type="text/css">
input, select {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
textarea {
    display: block;
    width: 100%;
    height: 250px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#id_service_address { display:none;}
#fg_id_service_address { display:none;}

ul.ui-autocomplete {
	background-color:#fff !important;
	cursor:pointer;
        width:200px;

}
ul.ui-autocomplete li { color:blue !important; padding:5px !important;}
.frmSearch {border: 1px solid #a8d4b1;background-color: #fff;margin: 2px 0px;padding:40px;border-radius:4px;}
#country-list{float:left;list-style:none;margin-top:-3px;padding:0;width:190px;position: absolute;}
#country-list li{padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}
#country-list li:hover{background:#ece3d2;cursor: pointer;}
#search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}
#sddress-search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}
#quote-select-account2 { display:none; }
.pull-left { float:left;}
.pull-right { float:right; }
.linebreak10 { overflow:auto;width:100%;height:10px; }

</style>

{% endblock %}


{% block page_title %}
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h2>New Service for an Account</h2>
            <div class="card card-cute-border panel-white">
                <div class="panel-body card-body">
                    <form method="POST" action=".">
                        <div class="row">
                            <div class="col-md-6">
                                
                                    
                                    {% csrf_token %}

            
                                        <div class="form-group">
                                                <label for="something">
                                                        Enter the Account Name <span class="required">*</span>
                                                    </label>
                                                <div class="frmSearch" style="width:100% !important;"> 
                                                    <input type="text" id="search-box" class="form-control" placeholder="Type Account Name" />
                                                    <input type="hidden" id="account-id" name="account" value=""/>
                                                    <div id="suggesstion-box" style="width:100% !important;padding:3px;background-color:#fff;"></div>
                                                </div>   
                                        </div>
                                                    

                                        <div class="form-group" id="fg_id_{{field.name}}">
                                            <label for="something">
                                                Enter Location of New Service. <span class="required">*</span>
                                            </label>
                                            <div class="frmSearch">
                                                <input type="text" id="adrr-search-box" name="adr_search_box" value="{{service_address_object.full_address}}"/>
                                                <input type="hidden" id="service-address-id" name="service_address_id" value="" />
                                                <input type="hidden" id="service-address-name" name="service_address_name" value="" />
                                                <div id="address-results-box"></div>
                                                
                                                
                                            </div>
                                                
                                        </div>

                                        {% for field in form %}
                                            
                                            <div class="form-group" id="fg_id_{{field.name}}">
                                                <label for="something">
                                                    {{field.label_tag}} <span class="required">*</span>
                                                </label>
                                                    {{field}}
                                            </div>
                        
                                        {% endfor %}
            
                                        <div class="form-group">
                                            <label for="first-name">
                                            </label>
                                            <input type="submit" class="btn btn-success" value="Save" />
                                        </div>
            
                                    
                                
                            </div>
                            <div class="col-md-6" style="padding-left:25px;padding-right:25px;">
                                <h3>Metadata Fields</h3>
                                <div id="metadata_fields_form" class="alert alert-info" >
                                    
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block custom_js %}
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
<script type="text/javascript">

function select_prod_item(val) {
    console.log("Selected product " + val);
    $('#quote-item-groups').show();
    // id##anme##price
    var splits = val.split('##');
    var productid = splits[0];
    var productname = splits[1];
    var productprice = splits[2];
    var partnum = splits[3];

    $('#add-product-id').val(productid);
    $('#add-product-name').val(productname);
    $('#add-product-price').val(productprice);

    $("#customfields__" + partnum).css('display', 'block');

}


document.getElementById("id_product").onchange = function() { product_by_id($('#id_product').val()) };

function product_by_id(id) {
    console.log("RUN AJAX pk = " + id);
    $.ajax({
        type: "GET",
        url: "/ajax/get-product-by-id/",
        data: "q="+id,
        success: function(data2) {
            console.log("Products by ID Search..." + data2);
            
            var metadata_fields = '';
            $('#id_metadata').val(JSON.stringify(data2['metadata'], null, 2));
            for (k in data2['metadata']) {
                console.log('md ' + k);

                metadata_fields += '<div class="form-group" id="fg_id_md_'+k+'">';
                metadata_fields += '<label for="something">';
                metadata_fields += k + '<span class="required">*</span></label>';
                metadata_fields += '<input type="text" name="md__' + k + '" placeholder="' + k + '" value="' + data2['metadata'][k]+ '" />';
                metadata_fields += '</div>';

            }

            $('#metadata_fields_form').html(metadata_fields);

            
            return data2;
        },
    });
};

$(document).ready(function(){



    $("#search-box").autocomplete({
        minLength: 3,
        select: function(event, data) {
            //console.log('selectedev');
            //console.log(event);
            //console.log('selected ');
            //console.log(data);
            //console.log(data.item.label);
            //console.log(data.item.id);
            $("#suggesstion-box").show();
            $("#suggesstion-box").html('Selected Account ID: ' + data.item.id);
            $("#search-box").css("background","#FFF");
            $('#account_sel_next').show();
            $('#account-id').val(data.item.id);

        },
        source: function(req, resp) {
            $.ajax({
            type: "GET",
            url: "/ajax/autocomplete/accounts/",
            data:'q='+req.term,
            beforeSend: function(){
                $("#search-box").css("background","#FFF url(loading.gif) no-repeat 165px");
            },
            success: function(data){
                //console.log(data);
                resp($.map(data, function (item) {
                return {
                        label: item.name,
                        value: item.name,
                        id: item.id
                    }
                }))
            },
            });
        }
    });
    
    $("#adrr-search-box").autocomplete({
			minLength: 3,
            select: function(event, data) {
				//console.log(data.item.label);
				console.log(data.item.pk);
				//$("#suggesstion-box").show();
				//$("#suggesstion-box").html('Selected Service Address ID: ' + data.item.id);
				$("#address-results-box").html('Selected Service Address ID: ' + data.item.id);
				$("#search-box").css("background","#FFF");
                //a$('#prod_sel_next').show();
                //$('#quote-item-groups').show();
                $('#service-address-id').val(data.item.id);
                $('#service-address-name').val(data.item.label);
                $('#id_service_address').val(data.item.id);

                $('#address_search_json').html(data);

                //window.location="{% url 'serviceaddress_search' %}?pk="+data.item.id;
                    
                //$('#select-service-dropdown').show();
                

                $.ajax({
                    type: "GET",
                    url: "/ajax/prod-by-service-address/",
                    data: "pk="+data.item.id,
                    success: function(data2) {
                        console.log("Products by service address search...");
                        console.log("Service address ID " + data.item.id);
                        
                        var html = '<option value=""> - Select Service or Product - </option>';
                        for (var k in data2) {
                            html += '';
                            html += '<option disabled></option>'
                            html += '<option style="font-weight:bold;padding-top:10px;padding-botttom:10px;" disabled> -- '+ k +' --</option>'
                            console.log('iterate results..');
                            console.log(k);
                            for (i = 0; i < data2[k].length; i++) {
                                console.log(" - " + data2[k][i]['pk']);
                                html += '<option value="'+data2[k][i]['pk']+'##'+ data2[k][i]['name'] + '##' + data2[k][i]['price'] + '##' + data2[k][i]['part_number'] + '"> '+ data2[k][i]['name'] +'</option>';
                            }
                            html += '<option disabled></option>';
                        }
                        $('#product_select_dropdown').html(html);
                        return data2;
                    },
                });

            },
            source: function(req, resp) {
              $.ajax({
				type: "GET",
				url: "/ajax/autocomplete/service-address/",
				data:'q='+req.term,
				beforeSend: function(){
					$("#adrr-search-box").css("background","#FFF url(loading.gif) no-repeat 165px");
				},
				success: function(data){
                    console.log(data);
					resp($.map(data, function (item) {
                        $(".ui-autocomplete").css("z-index", "2147483647");
                        $(".ui-autocomplete").css("overflow", "auto"); 
                        $(".ui-autocomplete").css("width", "100%"); 
                        var fulladdr = item.full_address;
                        if (item.suite_num !== null) {
                            fulladdr = fulladdr + ' #' + item.suite_num;
                        }
                        return {
                              label: fulladdr,
                              value: fulladdr,
                              id: item.pk,
                            }
                    }))
				},
			  });
            }
		});


});

</script>
{% endblock %}