<ul id="sidebarnav">
        <li class="nav-devider"></li>
        <li class="nav-small-cap">PERSONAL</li>
        
        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account"></i><span class="hide-menu">Accounts</span></a>
            <ul aria-expanded="false" class="collapse">
                <li><a href="{% url 'accounts_list' %}">Show Accounts</a></li>
                <li><a href="{% url 'contacts_list' %}">Show All Contacts</a></li>
                <li><a href="{% url 'accounts_new' %}">Add a new Account</a></li>
            </ul>
        </li>
        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-cart-outline"></i><span class="hide-menu">Products</span></a>
            <ul aria-expanded="false" class="collapse">
                <li><a href="{% url 'products_list' %}">Show Products</a></li>
                <li><a href="{% url 'products_new' %}">Add a Product</a></li>
                
            </ul>
        </li>
        
        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-cart-plus"></i><span class="hide-menu">Quotes</span></a>
            <ul aria-expanded="false" class="collapse">
                <li><a href="{% url 'quotes_by_pending' %}">Show Pending Quotes</a></li>
                <li><a href="{% url 'quotes_by_draft' %}">Show New/Draft Quotes</a></li>
                <li><a href="{% url 'quotes_list' %}">Show ALL Quotes</a></li>
                <li><a href="{% url 'wizard_quotes_step1' %}">Create a Quote</a></li>

            </ul>
        </li>
        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-cash-usd"></i><span class="hide-menu">Orders</span></a>
            <ul aria-expanded="false" class="collapse">
                <li><a href="{% url 'orders_list' %}">Show Orders</a></li>
               
            </ul>
        </li>
        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-cash-usd"></i><span class="hide-menu">Addresses</span></a>
            <ul aria-expanded="false" class="collapse">
                <li><a href="{% url 'serviceaddress_list' %}">List Service Addresses</a></li>
                <li><a href="{% url 'serviceaddress_new' %}">Add Service Address</a></li>
                <li><a href="{% url 'serviceaddress_search' %}">Search Service Address</a></li>
                <li><a href="{% url 'serviceaddress_formalize' %}">Formalize an Address</a></li>
               
            </ul>
        </li>
        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-cash-usd"></i><span class="hide-menu">Services</span></a>
            <ul aria-expanded="false" class="collapse">
                
                <li><a href="{% url 'accountservice_new' %}">Add Account Service</a></li>
                <li><a href="{% url 'serviceaddon_new' %}">Add Service-Addon</a></li>
               
            </ul>
        </li>
        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-cash-usd"></i><span class="hide-menu">Admin Tools</span></a>
            <ul aria-expanded="false" class="collapse">
                
                    <li><a href="/admin">DJ Admin</a></li>
                    <li>
                        <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><span class="hide-menu">Billing</span></a>
                        <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url 'admintools_international_rates' %}">International Rates</a></li>
                        </ul>
                    </li>

            </ul>
        </li>
        

    </ul>