{% extends 'crm/base2.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
     <li class="breadcrumb-item"><a href="/">Home</a></li>
     <li class="breadcrumb-item active" class="active">Contacts</li>
    </ol>
{% endblock %}


{% block page_title %}
    Contacts List
{% endblock %}



{% block content %}


    <div class="row">

		<div class="col-12">
        	<div class="card card-cute-border">
            	<div class="card-body">
                	<!--h4 class="card-title">Responsive Table </h4>
                    <h6 class="card-subtitle">Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive </code></h6-->
                    <div class="table-responsive account-details-box-table">
                        <a href="{% url 'contacts_new' %}" class="btn btn-sm btn-success pull-right">New Contact</a><br /><br />
                        <table class="table color-bordered-table info-bordered-table" style="width: 98%; cellspacing: 0;">
                                <thead>
                                        <tr>
                                            <th></th>
                                            <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'account' %}-account{% else %}account{% endifequal %}">Account</a></th>
                                            <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'auth_api_id' %}-auth_api_id{% else %}auth_api_id{% endifequal %}">API ID</th>
                                            <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'firstname' %}-firstname{% else %}firstname{% endifequal %}">First Name</th>
                                            <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'lastname' %}-lastname{% else %}lastname{% endifequal %}">Last Name</th>
                                            <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'email' %}-email{% else %}email{% endifequal %}">Email</th>
                                            <th>Portal Login</th>
                                           
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        {% for i in object_list %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'contacts_edit' pk=i.pk %}" class="btn btn-success">Edit</a>
                                            </td>
                                            <td>
                                                <a style="" href="{% url 'accounts_detail' pk=i.account.pk %}" class="" target="_blank">{{i.account.name}}</a>
                                            </td>
                                            <td>
                                                {{i.auth_api_id}}
                                            </td>
                                            <td>{{i.firstname}}</td>
                                            <td>{{i.lastname}}</td>
                                            <td>{{i.email}}</td>
                                            <td>{{i.client_portal_login_enabled}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                           </table>  

                           {% if is_paginated %}
                           <ul class="pagination">
                               {% if page_obj.has_previous %}
                               <li><a href="?page={{ page_obj.previous_page_number }}&order_by={{order_by}}">&laquo;</a></li>
                               {% else %}
                               <li class="disabled"><span>&laquo;</span></li>
                               {% endif %}
                               {% for i in paginator.page_range %}
                               {% if page_obj.number == i %}
                                   <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                               {% else %}
                               <li><a href="?page={{ i }}&order_by={{order_by}}">{{ i }}</a></li>
                               {% endif %}
                               {% endfor %}
                               {% if page_obj.has_next %}
                               <li><a href="?page={{ page_obj.next_page_number }}&order_by={{order_by}}">&raquo;</a></li>
                               {% else %}
                               <li class="disabled"><span>&raquo;</span></li>
                               {% endif %}
                           </ul>
                           {% endif %}



                        </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


