{% extends 'crm/base.html' %}

{% block breadcrumb %}
     <li><a href="/">Home</a></li>
     <li class="active">Contacts</li>
{% endblock %}


{% block page_title %}
    Contact {{object.name}}
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-6" style="">
        <div class="col-lg-12 col-md-12" style="padding:0px;">
            <div class="panel info-box panel-white">
                <div class="panel-body">
                    <div class="info-box-stats">
                        <p class="counter">{{object.name}}</p>
                        <span class="info-box-title">Account Balance</span>
                    </div>
                    <div class="info-box-icon">
                        <i class="fa fa-money"></i>
                    </div>
                    <div class="info-box-progress">
                        <div class="progress progress-xs progress-squared bs-n">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--div class="col-md-6" style="">
        <div class="col-lg-12 col-md-12" style="padding:0px;">
            <div class="panel info-box panel-white">
                <div class="panel-body">
                    <div class="info-box-stats">
                        <p class="counter">3 Active Issues</p>
                        <span class="info-box-title">Support Issues</span>
                    </div>
                    <div class="info-box-icon">
                        <i class="icon-envelope"></i>
                    </div>
                    <div class="info-box-progress">
                        <div class="progress progress-xs progress-squared bs-n">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div-->
</div>






{% endblock %}

