{% extends 'crm/base2.html' %}

{% block breadcrumb %}
{% endblock %}


{% block page_title %}
     Quote Approval Confirmation {{quote.pk}}
{% endblock %}


{% block content %}



<div class="row">
    <div class="col-md-6 card" style="padding:0px;">

        <div class="col-md-12 m-t-lg" style="padding-left:0px">
            <div class="panel info-box panel-white">
                <div class="panel-body">
                    <div class="panel-heading">
                        <!--h3 class="panel-title">Quote Approval Confirmation</h3><br /><br /-->
                    </div>
                    <div style="padding:20px;">
                        <p>Are you sure you want to approve the quote? Press NO to cancel</p>
                        <form action="{% url 'customer_approve_quote' %}?token={{token}}" method="POST">{% csrf_token %}
                            <input type="hidden" name="action" value="approved" />
                            <input type="submit" class="btn btn-success" value="Yes, Approve The Quote" />
                        </form>
                        <hr />
                        <form action="{% url 'customer_approve_quote' %}?token={{token}}" method="POST">{% csrf_token %}
                            <input type="hidden" name="action" value="declined" />
                            <input type="submit" class="btn btn-danger" value="NO, Decline the Quote" />
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <!--div class="col-md-6 card" style="padding:0px;">

        <div class="col-md-12 m-t-lg" style="padding-left:0px">
            <div class="panel info-box panel-white">
                <div class="panel-body">
                    <div class="panel-heading">
                        <h4 class="panel-title">Quote Details</h4>
                    </div>
                    <div class="table-responsive project-stats">
                        <table class="table">
                            <tr>
                                <td>ID</td>
                                <td>Status</td>
                                <td>Created</td>
                            </tr>
                            <tr>
                                <td>{{quote.id}}</td>
                                <td>{{quote.quote_status}}</td>
                                <td>{{quote.date_created}}</td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div-->

</div>









{% endblock %}

