{% extends 'crm/base2.html' %}

{% block breadcrumb %}
{% endblock %}


{% block page_title %}
{% endblock %}


{% block content %}




<div class="col-md-12" style="padding:0px;">

    <div class="col-md-12 m-t-lg card" style="padding-left:0px">
        <div class="panel info-box panel-white">
            <div class="panel-body">
                <div class="card-body">
                    {% if quote.quote_status == quote_declined %}
                    <h3 class="panel-title">This quote has been declined. Please contact your agent for further details. </h3><br /><br />
                    {% endif %}

                    {% if quote.quote_status == quote_approved %}
                    <h3 class="panel-title">Thank you for accepting the quote. You will be receiving an email with the official contract where you can electronically sign.</h3><br /><br />
                    {% endif %}
                    
                    {% if not quote.quote_status == quote_approved and not quote.quote_status == quote_declined %}
                    <h3 class="panel-title">This quote has already been processed. </h3><br /><br />
                    {% endif %}
                </div>

            </div>
        </div>
	</div>
</div>






{% endblock %}

