{% extends 'crm/base2.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
     <li class="breadcrumb-item"><a href="/">Home</a></li>
     <li class="breadcrumb-item"><a href="#">{{request.user}}</a></li>
     <li class="breadcrumb-item active" class="active">Accounts</li>
    </ol>
{% endblock %}


{% block page_title %}
    Search Results
{% endblock %}


{% block content %}


    <div class="row">

		<div class="col-12">
        	<div class="card card-cute-border">
            	<div class="card-body">
                	<!--h4 class="card-title">Responsive Table </h4>
                    <h6 class="card-subtitle">Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive </code></h6-->
                    <div class="table-responsive account-details-box-table">
                        {% for k, srch in search_results.items %}
                        {% if srch %}
                            <table class="table color-bordered-table info-bordered-table" style="width: 98%; cellspacing: 0;">
                            
                                {% if k == 'accounts' and srch %}
                                <thead>
                                <tr style="color:#fff !important;">
                                    <th><a style="color:#fff !important;" href="#">Account</a></th>
                                    <th><a style="color:#fff !important;" href="#">Acct #</a></th>
                                    <th><a style="color:#fff !important;" href="#">Address</a></th>
                                    <th><a style="color:#fff !important;" href="#">City / State</a></th>
                                    <th><a style="color:#fff !important;" href="#">Phone</a></th>
                    
                                </tr>
                                </thead>
                                {% endif %}
                                {% if k == 'quotes' and srch %}
                                <thead>
                                <tr style="color:#fff !important;">
                                    <th><a style="color:#fff !important;" href="#">Quote</a></th>
                                    <th><a style="color:#fff !important;" href="#">Quote #</a></th>
                                    <th><a style="color:#fff !important;" href="#">Account</a></th>
                                </tr>
                                </thead>
                                {% endif %}
                                {% if k == 'contacts' and srch %}
                                <thead>                                
                                <tr style="color:#fff !important;">
                                    <th><a style="color:#fff !important;" href="#">Firstname</a></th>
                                    <th><a style="color:#fff !important;" href="#">Lastname</a></th>
                                    <th><a style="color:#fff !important;" href="#">Email</a></th>
                                    <th><a style="color:#fff !important;" href="#">Account</a></th>
                                </tr>
                                </thead>
                                {% endif %}
                                {% if k == 'serviceaddon' and srch %}
                                <thead>                                
                                <tr style="color:#fff !important;">
                                    <th><a style="color:#fff !important;" href="#">Account</a></th>
                                    <th><a style="color:#fff !important;" href="#">Product</a></th>
                                    <th><a style="color:#fff !important;" href="#">Price</a></th>
                                    <th><a style="color:#fff !important;" href="#">Service</a></th>
                                    <th><a style="color:#fff !important;" href="#">DID</a></th>
                                </tr>
                                </thead>
                                {% endif %}
                         
                            
                                {% if k == 'accounts' and srch %}
                                    {% for vv in srch %}
                                    <tbody>
                                    <tr>
                                        <td><a href="{% url 'accounts_detail' pk=vv.account.pk %}">{{vv.name}}</a></td>
                                        <td>{{vv.accountnumber}}</td>
                                        <td>{{vv.billing_address}}</td>
                                        <td>{{vv.billing_city}} {{vv.billing_state}}</td>
                                        <td>{{vv.phone}}</td>
                                    </tr>
                                    </tbody>
                                    {% endfor %}
                                {% endif %}
                                {% if k == 'quotes' and srch %}
                                    {% for vv in srch %}
                                    <tbody>
                                    <tr>
                                        <td>{{vv.name}}</td>
                                        <td>{{vv.pk}}</td>
                                        <td>{{vv.account}}</td>
                                     </tr>
                                    </tbody>   
                                    {% endfor %}
                                {% endif %}
                                {% if k == 'contacts' and srch %}
                                    {% for vv in srch %}
                                    <tbody>
                                    <tr>
                                        <td>{{vv.firstname}}</td>
                                        <td>{{vv.lastname}}</td>
                                        <td>{{vv.email}}</td>
                                        <td><a href="{% url 'accounts_detail' pk=vv.account.pk %}">{{vv.account}}</a></td>
                                    </tr>
                                    </tbody>    
                                    {% endfor %}
                                {% endif %}
                                {% if k == 'serviceaddon' and srch %}
                                    {% for vv in srch %}
                                    <tbody>
                                    <tr>
                                        <td><a href="{% url 'accounts_detail' pk=vv.account.pk %}">{{vv.account}}</a></td>
                                        <td>{{vv.product}}</td>
                                        <td>{{vv.price}}</td>
                                        <td>{{vv.service}}</td>
                                        <td>{{vv.metadata.did}}</td>
                                    </tr>
                                    </tbody>    
                                    {% endfor %}
                                {% endif %}
                                
                            </tbody>
                           </table>
                        {% endif %}  
                        {% endfor %}

                           

                        </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

