{% extends 'crm/base.html' %}

{% block breadcrumb %}
     <li><a href="/">Home</a></li>
     <li class="active">Accounts</li>
{% endblock %}


{% block page_title %}
    Hello Accounts 
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                     Dashboard Page sample
                     Logged in as {{user}}
                    <br /><br />

                     Go to <a href="/accounts/">accounts</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

