{% extends 'crm/base.html' %}

{% block breadcrumb %}
     <li><a href="/">Home</a></li>
     <li class="active">Quotes</li>
{% endblock %}


{% block page_title %}
    Manager Quote Approval - ID {{object.pk}}
{% endblock %}


{% block content %}




<div class="col-md-6" style="padding:0px;">

    <div class="col-md-12 m-t-lg" style="padding-left:0px">
        <div class="panel info-box panel-white">
            <div class="panel-body">
                <div class="panel-heading">
                    <h3 class="panel-title">Manager Quote Approval Confirmation</h3><br /><br />
                </div>
                <div>
                    <p>Are you sure you want to approve the quote? Press back to cancel</p>
                    <form action="{% url 'manager_approval_quote_approve' pk=object.pk %}" method="POST">{% csrf_token %}
                        <input type="submit" class="btn btn-success" value="Yes, Approve The Quote" />
                    </form>
                </div>

            </div>
        </div>
	</div>
</div>




<div class="col-md-6" style="padding:0px;">

    <div class="col-md-12 m-t-lg" style="padding-left:0px">
        <div class="panel info-box panel-white">
            <div class="panel-body">
                <div class="panel-heading">
                    <h4 class="panel-title">Quote Details</h4>
                </div>
                <div class="table-responsive project-stats">
                    <table class="table">
						<tr>
                            <td>ID</td>
                            <td>Status</td>
                            <td>Created</td>
						</tr>
                        <tr>
                            <td>{{object.id}}</td>
                            <td>{{object.quote_status}}</td>
                            <td>{{object.date_created}}</td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
	</div>

</div>











{% endblock %}

