{% extends 'crm/base.html' %}

{% block breadcrumb %}
        <li><a href="/">Home</a></li>
        <li class="active"><a href="{% url 'orderitems_list' %}">Order Items</a></li>
{% endblock %}


{% block page_title %}
    Order Items
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div class="table-responsive">
                        <a class="btn btn-danger" href="{% url 'products_new' %}{% if account_filter %}?account={{account_filter_id}}{% endif %}
                            ">New Order</a>
                        <table id="example" class="display table" style="width: 100%; cellspacing: 0;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>Status</th>
                                    <th>Order</th>
                                    <th>Product</th>
                                    <th>Item type</th>
                                    <th>Price (P/U)</th>
                                    <th>Price</th>
                                    <th>Bill Interval</th>
                                    
                                   
                                </tr>
                            </thead>
                            <tfoot>
                                {% for i in object_list %}
                                <tr {% if i.deleted %}class="danger"{% endif %}>
                                    <td>
                                        <a href="{% url 'orderitems_edit' pk=i.pk %}" class="btn btn-success">Edit</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'orderitems_detail' pk=i.pk %}" class="btn btn-danger">View</a>
                                    </td>
                                    <td>
                                        {{i.status}}
                                    </td>
                                    <td>
                                        {{i.order.pk}}
                                    </td>
                                    <td>
                                        {{i.product}}
                                    </td>
                                    <td>
                                        {{i.item_type}}
                                    </td>
                                    <td>
                                        {{i.price_per_unit}}
                                    </td>
                                    <td>
                                        {{i.price}}
                                    </td>
                                    <td>
                                        {{i.bill_interval}}
                                    </td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                           </table>  

                                {% if is_paginated %}
                                  <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                    <li><a href="?page={{ page_obj.previous_page_number }}&order_by={{order_by}}">&laquo;</a></li>
                                    {% else %}
                                      <li class="disabled"><span>&laquo;</span></li>
                                    {% endif %}
                                    {% for i in paginator.page_range %}
                                      {% if page_obj.number == i %}
                                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                      {% else %}
                                      <li><a href="?page={{ i }}&order_by={{order_by}}">{{ i }}</a></li>
                                      {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                    <li><a href="?page={{ page_obj.next_page_number }}&order_by={{order_by}}">&raquo;</a></li>
                                    {% else %}
                                      <li class="disabled"><span>&raquo;</span></li>
                                    {% endif %}
                                  </ul>
                                {% endif %}
                        </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
