{% extends 'crm/base2.html' %}

{% block breadcrumb %}
<ol class="breadcrumb">
     
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/orders/">Orders</a></li>
        <li class="breadcrumb-item active"><a href="/orders/">Order ID {{object.id}}</a></li>
     
    </ol>
{% endblock %}


{% block page_title %}
{% endblock %}


{% block content %}

<div class="row">
	<div class="col-md-6 col-lg-6 col-sm-12">
		<div class="card card-cute-border">
            <h3 class="text-themecolor heading-padding">Order - # {{object.order_number}}</h3>
            <div class="card-body">
                <table class="table borderless" style="font-size:12px;">
                        <tr>
                            <th>Account</th>
                            <td><a href="{% url 'accounts_detail' pk=object.account.pk %}">{{object.account}}</a></td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{object.status}}</td>
                        </tr>
                        <tr>
                            <th>Created</th>
                            <td>{{object.date_created}}</td>
                        </tr>
                        <tr>
                            <th>Agent</th>
                            <td>{{object.agent}}</td>
                        </tr>
                        <tr>
                            <th>Assigned user</th>
                            <td>{{object.assigned_user}}</td>
                        </tr>
                        <tr>
                            <th>Ref. Quote</th>
                            {% if object.quote %}
                                <td><a href="{% url 'wizard_quotes_step3_ro' pk=object.quote.pk %}">{{object.quote}}</a></td>
                             {% else %}
                                <td> - </td>
                             {% endif %}
                        </tr>
                        <tr>
                            <th></th>
                            <td></td>
                        </tr>
                </table>

            </div>
        </div>
    </div>
	<div class="col-md-6 col-lg-6 col-sm-12">
		<div class="card card-cute-border">
            <h3 class="text-themecolor heading-padding">Tasks</h3>
            <div class="card-body">
                <input type="text" style="padding:5px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#ddd;"> &nbsp;
                <input type="button" class="btn btn-info" value="Add"/>

            </div>
        </div>
    </div>
</div>
		


<div class="row">

    {% for og in object.orderitemgroup_set.select_related %}
    <div class="col-md-12 m-t-lg" style="">
        <div class="card card-cute-border">
            <h3 class="text-themecolor heading-padding">
                {% if og.name == 'nrc' %}Non-recurring Charges{% endif %}
                {% if og.name == 'mrc' %}Monthly Recurring Charges{% endif %}
            </h3>
            <div class="card-body">
                <!--a href="{% url 'orderitems_new' %}" class="btn btn-danger pull-right" style="margin-top:-10px;float:right;">Add</a><br /><br /-->
                <div class="table-responsive project-stats" style="font-size:12px;">
                    <table class="table">
						<tr>
                            <td>View</td>
                            <td>ID</td>
                            <td>Status</td>
                            <td>Product</td>
                            <td>Quantity</td>
							<td>Price</td>
							<td>BillRate</td>
							<td>Complete</td>
                            <td></td><td></td>
						</tr>
						{% for oi in og.orderitems_set.select_related %}
                        <tr>
                            <td><a href="{% url 'orderitems_detail' pk=oi.pk %}" class="btn btn-sm btn-primary">View</a></td>
                            <td>{{oi.id}}</td>
                            <td>{{oi.provision_status}}</td>
                            <td>{{oi.product.name}}</td>
                            <td>{{oi.quantity}}</td>
                            <td>{{oi.price}}</td>
                            <td>{{oi.bill_interval}}</td>
                            <td>{{oi.completed}}</td>

                            {% if oi.show_provision %}
                                <td>
                                    <a href="{% url 'orderitem_provision' %}?orderitem_id={{oi.pk}}" class="btn btn-danger btn-sm">Provision</a>
                                </td>
                            {% endif %}
                            {% if oi.mark_complete %}
                                <td>
                                    <a href="{% url 'orderitem_mark_complete' %}?orderitem_id={{oi.pk}}" class="btn btn-success btn-sm">Mark Complete</a>
                                </td>
                            {% endif %}
                            {% if oi.manual_approve_provision %}
                                <td>
                                    <a href="{% url 'orderitem_manual_approve' %}?orderitem_id={{oi.pk}}" class="btn btn-warning btn-sm">Manual Approve</a>
                                </td>
                            {% endif %}

                            {% if 'itp_fiber' in oi.product.product_key.name and not oi.provision_status == 'provisioned' %}
                                <td>
                                    <a href="{% url 'orderitem_fiber_mark_complete' %}?orderitem_id={{oi.pk}}&account_service_id={{oi.upgrade_service.pk}}" class="btn btn-success btn-sm">Mark Complete</a>
                                </td>
                            {% endif %} 
                                    

                        </tr>
						{% endfor %}
                    </table>
                </div>
            </div>
        </div>
	</div>
    {% endfor %}


</div>





{% endblock %}

