{% extends 'crm/base.html' %}

{% block breadcrumb %}

        <li><a href="/">Home</a></li>
        <li><a href="{% url 'products_list' %}">Orders</a></li>
        {% if object.pk %}
            <li class="active"><a href="#">Update Order</a></li>
        {% else %}
            <li class="active"><a href="#">New Quote</a></li>
        {% endif %}
{% endblock %}

     

{% block extra_css %}
<style type="text/css">
input, select, textarea {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
</style>

{% endblock %}


{% block page_title %}
{% if object.pk %}
    Update Order - {{object.name}} 
{% else %}
Create a new Quote
{% endif %}

{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
					<div class="col-md-6">
                    <form method="POST" > 
						{% csrf_token %}
                            {% for field in form %}

                            
                                <div class="form-group">
                                    <label for="something">
                                        {{field.label_tag}} <span class="required">*</span>
                                    </label>
                                        {{field}}
                                </div>
                            
                            {% endfor %}

                            <div class="form-group">
                                <label for="first-name">
                                </label>
                                <input type="submit" class="btn btn-success" value="Save" />
                            </div>

                        
                    </form>
					</div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
