
{% extends 'crm/base2.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
     <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active"><a href="/orders/">Orders</a></li>
        <li class="breadcrumb-item"><a href="/orders/{{object.order.id}}">Order ID {{object.order.id}}</a></li>
     <li class="breadcrumb-item active">Item{{object.name}}</li>
    </ol>
{% endblock %}


{% block page_title %}
{% endblock %}


{% block content %}


<div class="row">
    <!-- left side -->
	<div class="col-md-6 col-lg-6 col-sm-12">
            <div class="card card-cute-border" style="width:100%;">
                <h3 class="text-themecolor heading-padding" >
                    Order Details for Item - # {{object.pk}}
                </h3>
                <div class="card-body">
                    <table class="table borderless" style="font-size:12px;">
                        <tbody>
                                <tr>
                                        <th>Account</th>
                                        <td><a href="{% url 'accounts_detail' pk=object.order.account.pk %}">{{object.order.account.name}}</td>
                                    </tr>
                            <tr>
                                <th>Order #</th>
                                <td><a href="{% url 'orders_detail' pk=object.order.pk %}">{{object.order.order_number}}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>{{object.order.status}}</td>
                            </tr>
                            <tr>
                                <th>Purchase Type</th>
                                <td>{{object.purchase_type}}</td>
                            </tr>
                            <tr>
                                <th>Service Address</th>
                                <td>{% if object.upgrade_service %}

                                        {{object.upgrade_service.service_address.full_address}}<br />
                                        {{object.upgrade_service.service_address.city}}, {{object.upgrade_service.service_address.state}} {{object.upgrade_service.service_address.zip}}
                                    {% else %}
                                        {{object.service_address.full_address}}<br />
                                        {{object.service_address.city}}, {{object.service_address.state}} {{object.service_address.zip}}

                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            
            <div class="card card-cute-border" style="width:100%;">
                <h3 class="text-themecolor heading-padding" >
                    Order Item Details 
                </h3>
                <div class="card-body">
                    <table class="table borderless" style="font-size:12px;">
                        <tbody>
                            {% if object.upgrade_service %}
                            <tr>
                                <th>Service Affected</th>
                                <td>{{object.upgrade_service.product}}<br />
                                ID # {{object.upgrade_service.pk}}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th>DB ID</th>
                                <td>{{object.pk}}</td>
                            </tr>
                            <tr>
                                <th>Provision Status</th>
                                <td>{{object.provision_status}}</td>
                            </tr>
                            <tr>
                                <th>Product</th>
                                <td>{{object.product}}</td>
                            </tr>
                            <tr>
                                <th>Price</th>
                                <td>{{object.price}}</td>
                            </tr>
                            <tr>
                                <th>Bill Interval</th>
                                <td>{{object.bill_interval}}</td>
                            </tr>
                            <tr>
                                <th>Pay Complete</th>
                                <td>{{object.payment_complete}}</td>
                            </tr>
                            <tr>
                                <th>Auto Provision</th>
                                <td>{{object.auto_provision}}</td>
                            </tr>
                            <tr>
                                {% if object.show_provision %}
                                    <td>
                                        <a href="{% url 'orderitem_provision' %}?orderitem_id={{object.pk}}" class="btn btn-danger btn-sm">Provision</a>
                                    </td>
                                {% endif %}
                                {% if object.mark_complete %}
                                    <td>
                                        <a href="{% url 'orderitem_mark_complete' %}?orderitem_id={{object.pk}}" class="btn btn-success btn-sm">Mark Complete</a>
                                    </td>
                                {% endif %}
                                {% if object.manual_approve_provision %}
                                    <td>
                                        <a href="{% url 'orderitem_manual_approve' %}?orderitem_id={{object.pk}}" class="btn btn-warning btn-sm">Manual Approve</a>
                                    </td>
                                {% endif %}
    
                                {% if 'itp_fiber' in object.product.product_key.name and not object.provision_status == 'provisioned' %}
                                    <td><br /><br />
                                        <a href="{% url 'orderitem_fiber_mark_complete' %}?orderitem_id={{object.pk}}&account_service_id={{object.upgrade_service.pk}}" class="btn btn-success btn-sm">Mark Item as Complete</a>
                                    </td>
                                {% endif %}
                            </tr>
                        </tbody>

                        

                    </table>
                </div>
            </div>

    </div>

    <!-- right side -->
	<div class="col-md-6 col-lg-6 col-sm-12">
            <div class="card card-cute-border" style="width:100%;">
                <h3 class="text-themecolor heading-padding" >
                    Item - # {{object.pk}} Meta Data
                </h3>
                <div class="card-body">
                    <table class="table borderless" style="font-size:12px;">
                        <tbody>
                            {% for k, v in object.metadata.items %}
                            <tr>
                                <th>{{k}}</th> <td>{{v}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
    </div>

</div>







{% endblock %}

