{% extends 'crm/base2.html' %}

{% block breadcrumb %}
<ol class="breadcrumb">
     <li class="breadcrumb-item"><a href="/">Home</a></li>
     <li class="breadcrumb-item "><a href="{% url 'accounts_list' %}">Accounts</a></li>
     <li class="breadcrumb-item active">
             {% if object %}{{object.name}}{% else %}New Account{% endif %}
     </li>
</ol>
{% endblock %}

{% block extra_css %}
<style type="text/css">
input, select, textarea {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
</style>

{% endblock %}


{% block page_title %}
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-cute-border panel-white">
                <div class="panel-body card-body">
					<div class="col-md-6">
                        <form method="POST" > 
                            {% csrf_token %}
                                {% for field in form %}
    
                                
                                    <div class="form-group">
                                        <label for="something">
                                            {{field.label_tag}} <span class="required">*</span>
                                        </label>
                                            {{field}}
                                    </div>
                                
                                {% endfor %}
    
                                <div class="form-group">
                                    <label for="first-name">
                                    </label>
                                    <input type="submit" class="btn btn-success" value="Save" />
                                </div>
    
                            
                        </form>
					</div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}


