{% extends 'crm/base.html' %}

{% block breadcrumb %}
        <li><a href="/">Home</a></li>
        <li class="active"><a href="{% url 'productpackages_list' %}">Product Packages</a></li>
{% endblock %}


{% block page_title %}
    Product Packages
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div class="table-responsive">
                        <a class="btn btn-danger" href="{% url 'productpackages_new' %}{% if account_filter %}?account={{account_filter_id}}{% endif %}
                            ">New Product Package</a>
                        <table id="example" class="display table" style="width: 100%; cellspacing: 0;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>Package Type</th>
                                    <th>Account</th>
                                    <th>Discouunt %</th>
                                    <th>Phase Type</th>
                                    <th># of Days</th>
                                    <th>Owner</th>
                                   
                                </tr>
                            </thead>
                            <tfoot>
                                {% for i in object_list %}
                                <tr {% if i.deleted %}class="danger"{% endif %}>
                                    <td>
                                        <a href="{% url 'productpackages_edit' pk=i.pk %}" class="btn btn-success">Edit</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'productpackages_delete' pk=i.pk %}" class="btn btn-danger">Delete</a>
                                    </td>
                                    <td>
                                        {{i.package_type}}
                                    </td>
                                    <td>
                                        {{i.accouunt}}
                                    </td>
                                    <td>{{i.discount_percent}}</td>
                                    <td>{{i.phase_type}}</td>
                                    <td>{{i.num_of_days}}</td>
                                    <td>{{i.owner}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                           </table>  
                        </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
