{% extends 'crm/base2.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
     <li class="breadcrumb-item"><a href="/">Home</a></li>
     <li class="breadcrumb-item active" class="active">Products</li>
    </ol>
{% endblock %}


{% block page_title %}
    Products List
{% endblock %}


{% block content %}


    <div class="row">

		<div class="col-12">
        	<div class="card card-cute-border">
            	<div class="card-body">
                	<!--h4 class="card-title">Responsive Table </h4>
                    <h6 class="card-subtitle">Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive </code></h6-->
                    <div class="table-responsive account-details-box-table">
                        <a href="{% url 'products_new' %}" class="btn btn-sm btn-success pull-right">New Product</a><br /><br />
                        <table class="table color-bordered-table info-bordered-table" style="width: 98%; cellspacing: 0;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'name' %}-name{% else %}name{% endifequal %}">Name</a></th>
                                    <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'deleted' %}-deleted{% else %}deleted{% endifequal %}">Deleted</a></th>
                                    <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'category' %}-category{% else %}category{% endifequal %}">Category</a></th>
                                    <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'product_type' %}-product_type{% else %}product_type{% endifequal %}">Type</a></th>
                                    <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'cost' %}-cost{% else %}cost{% endifequal %}">Cost</a></th>
                                    <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'price' %}-price{% else %}price{% endifequal %}">Price</a></th>
                                    <th>Part #</th>
                                   
                                </tr>
                            </thead>
                            <tfoot>
                                {% for i in object_list %}
                                <tr {% if i.deleted %}class="danger"{% endif %}>
                                    <td>
                                        <a href="{% url 'products_edit' pk=i.pk %}" class="btn btn-success">Edit</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'products_delete' pk=i.pk %}" class="btn btn-danger">Delete</a>
                                    </td>
                                    <td>
                                        {{i.name}}
                                    </td>
                                    <td>
                                        {{i.deleted}}
                                    </td>
                                    <td>
                                        {{i.category}}
                                    </td>
                                    <td>{{i.product_type}}</td>
                                    <td>{{i.cost}}</td>
                                    <td>{{i.price}}</td>
                                    <td>{{i.part_number}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                           </table>  

                           {% if is_paginated %}
						  <ul class="pagination">
							{% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}&order_by={{order_by}}">&laquo;</a></li>
							{% else %}
							  <li class="disabled"><span>&laquo;</span></li>
							{% endif %}
							{% for i in paginator.page_range %}
							  {% if page_obj.number == i %}
								<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
							  {% else %}
                              <li><a href="?page={{ i }}&order_by={{order_by}}">{{ i }}</a></li>
							  {% endif %}
							{% endfor %}
							{% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}&order_by={{order_by}}">&raquo;</a></li>
							{% else %}
							  <li class="disabled"><span>&raquo;</span></li>
							{% endif %}
						  </ul>
						{% endif %}


                        </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}




