{% extends 'crm/base.html' %}

{% block breadcrumb %}
        <li><a href="/">Home</a></li>
        <li class="active"><a href="{% url 'quotes_list' %}">Quotes</a></li>
{% endblock %}


{% block page_title %}
    Quotes
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="example" class="display table" style="width: 100%; cellspacing: 0;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th><a href="?order_by={% ifequal order_by 'account' %}-account{% else %}account{% endifequal %}">Accout</a></th>
                                    <th><a href="?order_by={% ifequal order_by 'id' %}-id{% else %}id{% endifequal %}">ID#</a></th>
                                    <th>Status</th>
                                    <th>Customer Signed</th>
                                    <th>Accepted Date</th>
                                    <th>Valid Until</th>

                                    
                                   
                                </tr>
                            </thead>
                            <tfoot>
                                {% for i in object_list %}
                                <tr {% if i.deleted %}class="danger"{% endif %}>
                                    <td>
                                        <a href="{% url 'manager_approval_quote_view' pk=i.pk %}" class="btn btn-success">View Quote</a>
                                    </td>
                                    <td>
                                        {{i.account}}
                                    </td>
                                    <td>
                                        {{i.id}}
                                    </td>
                                    <td>
                                        {{i.quote_status}}
                                    </td>
                                    <td>
                                        {{i.customer_signed}}
                                    </td>
                                    <td>
                                        {{i.accepted_date}}
                                    </td>
                                    <td>
                                        {{i.valid_until}}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                           </table>  
                           {% if is_paginated %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}&order_by={{order_by}}">&laquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                <li><a href="?page={{ i }}&order_by={{order_by}}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}&order_by={{order_by}}">&raquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                            {% endif %}

                        </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
