{% extends 'crm/base.html' %}

{% block breadcrumb %}
     <li><a href="/">Home</a></li>
     <li class="active">Quotes</li>
{% endblock %}


{% block page_title %}
    Quote - ID {{object.pk}}
{% endblock %}


{% block content %}


<div class="col-md-12" style="padding:0px;">

    <div class="col-md-12 m-t-lg" style="padding-left:0px">
        <div class="panel info-box panel-white">
            <div class="panel-body">
                <div class="panel-heading">
                    <h4 class="panel-title">Quote Detail</h4>
                    <a href="{% url 'manager_approval_quote_cancel' pk=object.pk %}" class="btn btn-danger pull-right" style="margin-top:-10px;">Cancel</a>&nbsp;&nbsp;&nbsp;
                    <a href="{% url 'manager_approval_quote_approve' pk=object.pk %}" class="btn btn-success pull-right" style="margin-top:-10px;">Approve</a>&nbsp;&nbsp;&nbsp;
                </div>
                <div class="table-responsive project-stats">
                    <table class="table">
						<tr>
                            <td>ID</td>
                            <td>Status</td>
                            <td>Created</td>
						</tr>
                        <tr>
                            <td>{{object.id}}</td>
                            <td>{{object.quote_status}}</td>
                            <td>{{object.date_created}}</td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
	</div>
    
    {% for og in object.quoteitemgroup_set.select_related %}
    <div class="col-md-12 m-t-lg" style="padding-left:0px">
        <div class="panel info-box panel-white">
            <div class="panel-body">
                <div class="panel-heading">
                    <h4 class="panel-title">{{og.name}}</h4>
                </div>
                <div class="table-responsive project-stats">
                    <table class="table">
						<tr>
                            <td>ID</td>
                            <td>Status</td>
                            <td>Product</td>
							<td>Price</td>
							<td>Actual Price</td>
						</tr>
						{% for oi in og.quoteitems_set.select_related %}
                        <tr>
                            <td>{{oi.id}}</td>
                            <td>{{oi.quote_status}}</td>
                            <td>{{oi.product.name}}</td>
                            <td>{{oi.price}}</td>
                            <td>{{oi.product.price}}</td>
                        </tr>
						{% endfor %}
                    </table>
                </div>
            </div>
        </div>
	</div>
    {% endfor %}


</div>





{% endblock %}

