{% extends 'crm/base.html' %}

{% block breadcrumb %}

        <li><a href="/">Home</a></li>
        <li><a href="{% url 'products_list' %}">Products</a></li>
            <li class="active"><a href="#">Delete Product</a></li>
{% endblock %}

     

{% block extra_css %}
<style type="text/css">
input, select, textarea {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
</style>

{% endblock %}

{% block page_title %}
  Deactivate a Product

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">

					          <div class="col-md-6">
                                  {% if not deleted_object %}
                                  <p>Are you sure you want to delete this Quote?<br /><br />
                                  Quote ID: {{object.pk}}</p>
                                   <br />
                                     <a href="?godelete=y" class="btn btn-danger">Yes, Delete It</a>
                                  {% else %}
                                  <p>Quote was successfully deactivated, click below to go back to the product listing page.<br /><br /></p>
                                  <a href="{% url 'quotes_list' %}" class="btn btn-success">OK</a>
                                  {% endif %}
                            </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
