{% extends 'crm/base2.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
     <li class="breadcrumb-item"><a href="/">Home</a></li>
     <li class="breadcrumb-item"><a href="#">{{request.user}}</a></li>
     <li class="breadcrumb-item active" class="active">Accounts</li>
    </ol>
{% endblock %}


{% block page_title %}
    Quotes List
{% endblock %}



{% block content %}


    <div class="row">

		<div class="col-12">
        	<div class="card card-cute-border">
            	<div class="card-body">
                	<!--h4 class="card-title">Responsive Table </h4>
                    <h6 class="card-subtitle">Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive </code></h6-->
                    <div class="table-responsive account-details-box-table">
                        <a href="{% url 'wizard_quotes_step1' %}" class="btn btn-sm btn-danger">New Quote</a><br /><br />
                        <table class="table color-bordered-table info-bordered-table" style="width: 98%; cellspacing: 0;">
                                <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th style="color:#fff !important;"><a href="?order_by={% ifequal order_by 'account' %}-account{% else %}account{% endifequal %}">Accout</a></th>
                                            <th style="color:#fff !important;"><a href="?order_by={% ifequal order_by 'id' %}-id{% else %}id{% endifequal %}">ID#</a></th>
                                            <th>Status</th>
                                            <th>Customer Signed</th>
                                            <th>Accepted Date</th>
                                            <th>Valid Until</th>
        
                                            
                                           
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        {% for i in object_list %}
                                        <tr {% if i.deleted %}class="danger"{% endif %}>
                                            <td>
                                                <a href="{% url 'wizard_quotes_step3' pk=i.pk %}" class="btn btn-success">Edit</a>
                                            </td>
                                            <td>
                                                <a href="{% url 'quotes_delete' pk=i.pk %}" class="btn btn-danger">Delete</a>
                                            </td>
                                            <td>
                                                {{i.account}}
                                            </td>
                                            <td>
                                                {{i.id}}
                                            </td>
                                            <td>
                                                {{i.quote_status}}
                                            </td>
                                            <td>
                                                {{i.customer_signed}}
                                            </td>
                                            <td>
                                                {{i.accepted_date}}
                                            </td>
                                            <td>
                                                {{i.valid_until}}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                           </table>  

                           {% if is_paginated %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}&order_by={{order_by}}">&laquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                <li><a href="?page={{ i }}&order_by={{order_by}}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}&order_by={{order_by}}">&raquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                            {% endif %}


                        </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


