{% extends 'crm/base2.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
     <li class="breadcrumb-item"><a href="/">Home</a></li>
     <li class="breadcrumb-item active" class="active">Service Address Check</li>
    </ol>
{% endblock %}


{% block page_title %}
    Service Address Test
{% endblock %}


{% block extra_css %}
<style type="text/css">
input, select, textarea {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
ul.ui-autocomplete {
	background-color:#fff !important;
	cursor:pointer;
        width:200px;

}
ul.ui-autocomplete li { color:blue !important; padding:5px !important;}
.frmSearch {border: 1px solid #a8d4b1;background-color: #fff;margin: 2px 0px;padding:40px;border-radius:4px;}
#country-list{float:left;list-style:none;margin-top:-3px;padding:0;width:190px;position: absolute;}
#country-list li{padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}
#country-list li:hover{background:#ece3d2;cursor: pointer;}
#search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}
#sddress-search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}
#quote-select-account2 { display:none; }
.pull-left { float:left;}
.pull-right { float:right; }
.linebreak10 { overflow:auto;width:100%;height:10px; }
</style>

{% endblock %}




{% block content %}

    <div class="row">
        <div class="col-md-12 col-lg-12 " id="quote-select-account">
            <div class="card">
                <div class="card-body">
                    
                    
                    <div style="height:10px;width:100%;overflow:auto;"></div>
                    <div style="height:10px;width:100%;overflow:auto;"></div>

                    <form method="GET" action="."> {% csrf_token %}
                            

                            <h2>Formalize Address Test</h2>
                            <p>Let Google Maps API formalize an address for ya!</p>
                            <div class="frmSearch">
                                <div id="locationField">
                                    <input id="autocomplete"
                                           name="q" 
                                           value="{{q}}"
                                           placeholder="Enter your address"
                                           onFocus="geolocate()"
                                           type="text"/>
                                  </div>
                                <input type="hidden" id="service-address-id" name="service_address_id" value="" />
                                <input type="hidden" id="service-address-name" name="service_address_name" value="" />
                                <hr />
                                <input type="submit" value="Formalize Address" class="btn btn-success"/>
                                <div id="address-results-box"></div>
                                
                               
                            </div>
                            
                            
                    </form>

                    {% if service_address_json %}
                    <div class="frmSearch">
                        <h2>Openstreet map geo code</h2>
                        <pre id="address_search_json"> {{service_address_json}}

                        </pre>
                    </div>{% endif %}




                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block custom_js %}
<script src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&libraries=places&callback=initAutocomplete"
        async defer></script>

<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>

<script>
    // This sample uses the Autocomplete widget to help the user select a
    // place, then it retrieves the address components associated with that
    // place, and then it populates the form fields with those details.
    // This sample requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script
    // src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
    
    var placeSearch, autocomplete;
    
    var componentForm = {
      street_number: 'short_name',
      route: 'long_name',
      locality: 'long_name',
      administrative_area_level_1: 'short_name',
      country: 'long_name',
      postal_code: 'short_name'
    };
    
    function initAutocomplete() {
      // Create the autocomplete object, restricting the search predictions to
      // geographical location types.
      autocomplete = new google.maps.places.Autocomplete(
          document.getElementById('autocomplete'), {types: ['geocode']});
    
      // Avoid paying for data that you don't need by restricting the set of
      // place fields that are returned to just the address components.
      autocomplete.setFields(['address_component']);
    
      // When the user selects an address from the drop-down, populate the
      // address fields in the form.
      autocomplete.addListener('place_changed', fillInAddress);
    }
    
    function fillInAddress() {
      // Get the place details from the autocomplete object.
      var place = autocomplete.getPlace();
    
      for (var component in componentForm) {
        document.getElementById(component).value = '';
        document.getElementById(component).disabled = false;
      }
    
      // Get each component of the address from the place details,
      // and then fill-in the corresponding field on the form.
      for (var i = 0; i < place.address_components.length; i++) {
        var addressType = place.address_components[i].types[0];
        if (componentForm[addressType]) {
          var val = place.address_components[i][componentForm[addressType]];
          document.getElementById(addressType).value = val;
        }
      }
    }
    
    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var geolocation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          var circle = new google.maps.Circle(
              {center: geolocation, radius: position.coords.accuracy});
          autocomplete.setBounds(circle.getBounds());
        });
      }
    }

</script>
{% endblock %}
