{% extends 'crm/base2.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
     <li class="breadcrumb-item"><a href="/">Home</a></li>
     <li class="breadcrumb-item active" class="active">Service Address Check</li>
    </ol>
{% endblock %}


{% block page_title %}
    Service Address Test
{% endblock %}


{% block extra_css %}
<style type="text/css">
input, select, textarea {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
ul.ui-autocomplete {
	background-color:#fff !important;
	cursor:pointer;
        width:200px;

}
ul.ui-autocomplete li { color:blue !important; padding:5px !important;}
.frmSearch {border: 1px solid #a8d4b1;background-color: #fff;margin: 2px 0px;padding:40px;border-radius:4px;}
#country-list{float:left;list-style:none;margin-top:-3px;padding:0;width:190px;position: absolute;}
#country-list li{padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}
#country-list li:hover{background:#ece3d2;cursor: pointer;}
#search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}
#sddress-search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}
#quote-select-account2 { display:none; }
.pull-left { float:left;}
.pull-right { float:right; }
.linebreak10 { overflow:auto;width:100%;height:10px; }

[type="checkbox"]:checked {
    width:15px !important;
  /* position: absolute; */
  /* left: -9999px; */
  /* opacity: 0; */
  }
  [type="checkbox"] {
    width:15px !important;
  /* position: absolute; */
  /* left: -9999px; */
  /* opacity: 0; */
  }

</style>

{% endblock %}




{% block content %}

    <div class="row">
        <div class="col-md-12 col-lg-12 " id="quote-select-account">
            <div class="card">
                <div class="card-body">
                    
                    
                    <div style="height:10px;width:100%;overflow:auto;"></div>
                    <div style="height:10px;width:100%;overflow:auto;"></div>

                    <form method="POST" action="{% url 'serviceaddress_search' %}"> {% csrf_token %}
                            <input type="hidden" id="add-product-purchtype" name="pk" value="{{pk}}"/>
                            
                            

                            <h2>Start typing an address below</h2>
                            <p>Begin searching internal database for Service Addresses</p>
                            <div class="frmSearch">
                                <input type="text" id="address-search-box" name="address_search_box" value="{{service_address_object.full_address}}" />
                                <input type="hidden" id="service-address-id" name="service_address_id" value="" />
                                <input type="hidden" id="service-address-name" name="service_address_name" value="" />
                                <div id="address-results-box"></div>
                                
                               
                            </div>

                            {% if products_to_add %} 
                            <div class="row" style="margin-top:20px;">
                                <div class="col-md-6">
                                    <div class="frmSearch">
                                        <h2>Add Products to this Address</h2>
                                        <table class="table color-bordered-table info-bordered-table"  style="font-size:12px;">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Product</th>
                                                    <th>key</th>
                                                    <th>type</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for p in products_to_add %}
                                                <tr>
                                                    <td>
                                                        <div class="demo-checkbox">
                                                            <input type="checkbox" name="prod_service_address" id="md_checkbox_32" 
                                                            class="filled-in chk-col-lime" {% if not p in products_available %}checked=""{%endif %} value="{{p.pk}}" />
                                                        </div>
                                                    </td>
                                                    <td>{{p.name}}</td>
                                                    <td>{{p.product_key.name}}</td>
                                                    <td>{{p.product_type}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table> <hr />
                                        <input type="submit" class="btn btn-danger" value="Add Products to this Address" />
                                    </div>
                                </div>

                                <div class="col-md-6">

                                        <div class="frmSearch">
                                                <h2>Services Available</h2>
                                                <table class="table color-bordered-table info-bordered-table" style="font-size:12px;">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Product</th>
                                                            
                                                           
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for p in products_available %}
                                                        <tr>
                                                            <td>
                                                                <div class="demo-checkbox">
                                                                    <!----input type="checkbox" name="prod_sa" id="md_checkbox_32" 
                                                                    class="filled-in chk-col-lime" checked="" value="{{p.pk}}" /-->
                                                                </div>
                                                            </td>
                                                            <td>{{p.name}}</td>
                                                            
                                                            
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table> <hr />
                                            </div>
                                    
                                </div>
                            </div>
                            {% endif %}
        
                            
                    </form>


                   
                    {% if service_address_json %}
                    <div class="frmSearch" style="margin-top:40px;">
                        <h2>CRM Database Result</h2>
                        <input type="button" class="btn btn-success" onclick="javascript:window.location='?pk={{pk}}&debug_json=y';" value="SHOW JSON"/>
                        {% if debug_json %}
                            <pre id="address_search_json"> {{service_address_json}}
                        {% endif %}

                        </pre>
                    </div>{% endif %}

                    




                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block custom_js %}
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
<script type="text/javascript">

function select_prod_item(val) {
    console.log("Selected product " + val);
    $('#quote-item-groups').show();
    // id##anme##price
    var splits = val.split('##');
    var productid = splits[0];
    var productname = splits[1];
    var productprice = splits[2];
    var partnum = splits[3];

    $('#add-product-id').val(productid);
    $('#add-product-name').val(productname);
    $('#add-product-price').val(productprice);

    $("#customfields__" + partnum).css('display', 'block');

}

$(document).ready(function(){
    
    $("#address-search-box").autocomplete({
			minLength: 3,
            select: function(event, data) {
				//console.log(data.item.label);
				console.log(data.item.pk);
				//$("#suggesstion-box").show();
				//$("#suggesstion-box").html('Selected Service Address ID: ' + data.item.id);
				$("#address-results-box").html('Selected Service Address ID: ' + data.item.id);
				$("#search-box").css("background","#FFF");
                //a$('#prod_sel_next').show();
                //$('#quote-item-groups').show();
                $('#service-address-id').val(data.item.id);
                $('#service-address-name').val(data.item.label);

                $('#address_search_json').html(data);
                window.location="{% url 'serviceaddress_search' %}?pk="+data.item.id;
                    
                //$('#select-service-dropdown').show();
                

                $.ajax({
                    type: "GET",
                    url: "/ajax/prod-by-service-address/",
                    data: "pk="+data.item.id,
                    success: function(data2) {
                        console.log("Products by service address search...");
                        console.log("Service address ID " + data.item.id);
                        
                        var html = '<option value=""> - Select Service or Product - </option>';
                        for (var k in data2) {
                            html += '';
                            html += '<option disabled></option>'
                            html += '<option style="font-weight:bold;padding-top:10px;padding-botttom:10px;" disabled> -- '+ k +' --</option>'
                            console.log('iterate results..');
                            console.log(k);
                            for (i = 0; i < data2[k].length; i++) {
                                console.log(" - " + data2[k][i]['pk']);
                                html += '<option value="'+data2[k][i]['pk']+'##'+ data2[k][i]['name'] + '##' + data2[k][i]['price'] + '##' + data2[k][i]['part_number'] + '"> '+ data2[k][i]['name'] +'</option>';
                            }
                            html += '<option disabled></option>';
                        }
                        $('#product_select_dropdown').html(html);
                        return data2;
                    },
                });

            },
            source: function(req, resp) {
              $.ajax({
				type: "GET",
				url: "/ajax/autocomplete/service-address/",
				data:'q='+req.term,
				beforeSend: function(){
					$("#address-search-box").css("background","#FFF url(loading.gif) no-repeat 165px");
				},
				success: function(data){
                    console.log(data);
					resp($.map(data, function (item) {
                        $(".ui-autocomplete").css("z-index", "2147483647");
                        $(".ui-autocomplete").css("overflow", "auto"); 
                        $(".ui-autocomplete").css("width", "100%"); 
                        var fulladdr = item.full_address;
                        console.log(fulladdr);
                        console.log(item.suite_num)
                        if (item.suite_num != null) {
                            console.log("suite num is not null");
                            fulladdr = fulladdr + ' #' + item.suite_num;
                        }
                        return {
                              label: fulladdr,
                              value: fulladdr,
                              id: item.pk,
                            }
                    }))
				},
			  });
            }
		});


});

</script>
{% endblock %}
