{% extends 'crm/base2.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
     <li class="breadcrumb-item"><a href="/">Home</a></li>
     <li class="breadcrumb-item active" class="active">Service Address</li>
    </ol>
{% endblock %}


{% block page_title %}
    Service Address List
{% endblock %}


{% block content %}


    <div class="row">

		<div class="col-12">
        	<div class="card card-cute-border">
            	<div class="card-body">
                	<!--h4 class="card-title">Responsive Table </h4>
                    <h6 class="card-subtitle">Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive </code></h6-->
                    <div class="table-responsive account-details-box-table">
                        <a href="{% url 'serviceaddress_new' %}" class="btn btn-sm btn-success pull-right">New Service Address</a><br /><br />
                        <table class="table color-bordered-table info-bordered-table" style="width: 98%; cellspacing: 0;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'full_address' %}-full_address{% else %}full_address{% endifequal %}">Full Address</a></th>
                                    <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'suite' %}-full_address{% else %}suite{% endifequal %}">Suite #</a></th>
                                    <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'hse_num' %}-hse_num{% else %}hse_num{% endifequal %}">HSE Num</a></th>
                                    
                                    <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'city' %}-city{% else %}city{% endifequal %}">City</a></th>
                                    <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'state' %}-state{% else %}state{% endifequal %}">State</a></th>
                                    <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'zip' %}-zip{% else %}zip{% endifequal %}">Zip</a></th>
                                   
                                </tr>
                            </thead>
                            <tfoot>
                                {% for i in object_list %}
                                <tr {% if i.deleted %}class="danger"{% endif %}>
                                    <td>
                                        <a href="{% url 'serviceaddress_edit' pk=i.pk %}" class="btn btn-sm btn-success">Edit</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'serviceaddress_delete' pk=i.pk %}" class="btn btn-sm btn-danger">Delete</a>
                                    </td>
                                    <td>
                                        {{i.full_address}}
                                    </td>
                                     <td>
                                        {{i.suite_num}}
                                    </td>
                                    <td>
                                        {{i.hse_num}}
                                    </td>
                                    <td>
                                        {{i.city}}
                                    </td>
                                    <td>
                                        {{i.state}}
                                    </td>
                                    <td>
                                        {{i.zip}}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                           </table>  

                         {% if is_paginated %}
						  <ul class="pagination">
							{% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}&order_by={{order_by}}">&laquo;Previous </a></li>
							{% else %}
							  <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
							&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;&nbsp;
							{% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}&order_by={{order_by}}">Next &raquo;</a></li>
							{% else %}
							  <li class="disabled"><span>&raquo;</span></li>
							{% endif %}
						  </ul>
						{% endif %}


                        </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}




