{% extends 'crm/base.html' %}

{% block breadcrumb %}
     <li><a href="/">Home</a></li>
     <li class="active">Accounts</li>
{% endblock %}


{% block page_title %}
    Hello Accounts 
{% endblock %}
