{% extends 'crm/base.html' %}

{% block breadcrumb %}

     {% if account_filter %}
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'contacts_list' %}">Contacts</a></li>
        <li class="active"><a href="{% url 'accounts_detail' pk=account_filter_id %}">{{account_filter_name}}</a></li>
     {% else %}
        <li><a href="/">Home</a></li>
        <li class="active"><a href="{% url 'contacts_list' %}">Contacts</a></li>
     {% endif %}

{% endblock %}

     

{% block extra_css %}
<style type="text/css">
input, select, textarea {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
ul.ui-autocomplete {
	background-color:#fff !important;
	cursor:pointer;

}
ul.ui-autocomplete li { color:blue !important; padding:5px !important;}
.frmSearch {border: 1px solid #a8d4b1;background-color: #c6f7d0;margin: 2px 0px;padding:40px;border-radius:4px;}
#country-list{float:left;list-style:none;margin-top:-3px;padding:0;width:190px;position: absolute;}
#country-list li{padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}
#country-list li:hover{background:#ece3d2;cursor: pointer;}
#search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}
#quote-select-account2 { display:none; }
</style>

{% endblock %}


{% block page_title %}
Quote for {{quote.account}}- {{quote.name}}
<a href="{% url 'quotes_by_draft' %}" class="btn btn-success pull-right">Save Quote</a>
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-6" id="quote-select-account">
            <div class="panel panel-white">
                <div class="panel-body">
                    <h2>Create Item Group</h2>
                    Create an item group to group together the different products and services<br /><br />
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
					  New Item Group
					</button>
                </div>
            </div>
        </div>
        <div class="col-md-3" id="quote-select-account">
            <div class="panel panel-white">
                <div class="panel-body">
                    <h2>Grand Total</h2>
                    <h1 style="color:green;">$ {{total}}</h1>

                </div>
            </div>
        </div>
        <div class="col-md-3" id="quote-select-account">
            <div class="panel panel-white">
                <div class="panel-body">
                    <h2>Status</h2>
                    <p>
                    Quote Status: {{quote.quote_status}}
                    </p>
                    <a href="{% url 'wizard_quotes_submit' pk=quote.pk %}" class="btn btn-warning">Submit to Customer</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="quote-inventory">
    </div>


    <div class="row">
        <div class="col-md-12" id="quote-select-account">
            <div class="panel panel-white">
                <div class="panel-body">
                    <h2>Account Services</h2>
                    <table class="table table-bordered">
                        {% for a in account_services %}
                            <tr>
                                <td>
                                    ID #{{a.pk}}
                                </td>
                                <td>
                                    {{a.account}}
                                </td>
                                <td>
                                    {{a.product}}
                                </td>
                                <td>
                                    {{a.order.order_number}}
                                </td>
                                <td>
                                    {{a.price}}
                                </td>

                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

   {% if itemgroups %}
    <div class="row">
        <div class="col-md-12" id="quote-select-account">
            {% for ig in itemgroups %}
            <div class="panel panel-white">
                <div class="panel-body">
                    <h2>{{ig.name}}</h2>
                    <table class="table table-bordered">
                        {% for it in ig.items %}
                        <tr>
                        <td>{{it.product.name}}</td>
                        <td><a href="{% url 'wizard_del_item_from_group' %}?quoteitem_id={{it.pk}}">[delete]</a></td>
                        <td>
                            <input type="text" id="item_price_{{it.pk}}" value="{{it.price}}" style="width:100px;"/>
                        </td>
                        <td>
                            <button class="btn btn-primary" onclick="update_price({{it.pk}});">update price</button>
                        </td>
                        <td>
                            {% if it.price_changed %}
                                Price Updated!
                            {% endif %}
                        </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-12" id="quote-select-account">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div class="alert alert-danger">

                       <h3>No Item groups Created</h3>
                       First, you must create the item groups that the products will belong to. 
                       <br /><br />
					    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                            Create Item Group
                        </button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}



    <!-- item group modal -->
	<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
            <form method="POST" action="{% url 'wizard_add_itemgroup' %}">{% csrf_token %}
                <input type="hidden" name="quoteid" value="{{quote_id}}" />
              <div class="modal-header">
                <h3 class="modal-title">New Item Group</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-11px;">
                  <span aria-hidden="true" style="font-size:24px;">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Enter the name of the Item Group here</p>
                <input type="text" name="new_itemgroup_name" id="new-itemgroup-name" /><br/>
                
              </div>
              <div class="modal-footer">
                  <input type="submit" class="btn btn-primary" value="Save Changes">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </form>
		</div>
	  </div>
	</div>
    <!-- end modal -->


   <!-- info modal -->
	<div class="modal" tabindex="-1" role="dialog" id="infoModal">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h3 class="modal-title">Adding Product or Service</h3>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-11px;">
			  <span aria-hidden="true" style="font-size:24px;">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
              <div class="alert alert-info" style="padding-top:20px;">  
			        <p id='infoModalText'>Test</p>
               </div>
            
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
		  </div>
		</div>
	  </div>
	</div>
    <!-- end modal -->

   <!-- debug modal -->
	<div class="modal" tabindex="-1" role="dialog" id="debugModal">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h3 class="modal-title">Notification</h3>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-11px;">
			  <span aria-hidden="true" style="font-size:24px;">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
              <div class="alert alert-info" style="padding-top:20px;">  
			        <p id='debugModalText'>Test</p>
               </div>
            
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
		  </div>
		</div>
	  </div>
	</div>
    <!-- debug modal-->


	<div class="modal" tabindex="-1" role="dialog" id="addproductmodal">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
            <form method="POST" action="{% url 'wizard_add_itemgroup' %}">{% csrf_token %}
                <input type="hidden" name="quoteid" value="{{quote_id}}" />
              <div class="modal-header">
                <h3 class="modal-title">Add an Item to this Quote</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-11px;">
                  <span aria-hidden="true" style="font-size:24px;">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    <form method="POST" action="{% url 'wizard_quotes_step3' pk=quote.pk %}"> {% csrf_token %}
                            <h2>Add a Product/Service</h2>
                            <p>Start typing a name to search for products and services</p>
							<div class="frmSearch">
								<input type="text" id="search-box" placeholder="Type Product Name" />
                                <input type="hidden" id="add-product-id" name="add_product_id" value=""/>
                                <input type="hidden" id="add-product-name" name="add_product_name" value=""/>
                                <input type="hidden" id="add-product-price" name="add_product_price" value=""/>
								<div id="suggesstion-box" style="padding:3px;"></div>
							</div>

                            <div id="quote-item-groups" style="display:none;">
                                <hr />
                                
                                <div class="col-md-3">
                                    <h2>Select The Item Group</h2>
                                    <select name="quote_item_groups" id="item_grp_dropdown" class="form-control pull-left" style="height:44px;">
                                        <option value="#">Select item group</option>
                                        {% if itemgroups %}
                                            {% for ig in itemgroups %}
                                                <option value="{{ig.pk}}">{{ig.name}}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <h2>Upgrade?</h2>
                                    <select name="quote_item_purchase_type" id="quote_item_purchasetype" class="form-control pull-left" style="height:44px;">
                                        <option value="">New Order</option>
                                        {% for i in account_services %}
                                        <option value="{{i.pk}}">{{i.order.order_number}} - #{{i.pk}} {{i.product.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <h2>Quantity</h2>
                                    <input type="text" name="item_grp_qty" id="item-group-qty" value="1" style="width:50px"/>
                                </div>
                                <div class="col-md-3">
                                    <!--a href="javascript:add_item_to_group();" class="btn btn-success pull-right" id="prod_sel_next"  style="margin-top:50px;">Continue</a-->
                                    <input type="submit" class="btn btn-success" value="Add Product" style="margin-top:50px;"/>
                                </div>
                           </div>
                    </form>
                
              </div>
              <div class="modal-footer">
                  <input type="submit" class="btn btn-primary" value="Save Changes">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </form>
		</div>
	  </div>
	</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
function update_price(id) {
    var price = $('#item_price_' + id).val();
    console.log('update price for ' + id + ' to price = ' + price);
    url = "{% url 'wizard_change_item_price' %}?id="+id+"&price="+price;
    console.log(url);
    window.location = url;

}

var QUOTE_ITEM_DATA = {};

function add_item_group() {
    var h = $('#item_grp_dropdown').html();
    var igname = $('#new-itemgroup-name').val();
    var h2 = h + '<option value="' + igname + '">' + igname + '</option>'; 
    console.log(h2);
    if (QUOTE_ITEM_DATA[igname] === undefined) {
        $("#item_grp_dropdown").html(h2);
        QUOTE_ITEM_DATA[igname] = [];
    }
    $('#exampleModal').modal('hide');
    var msg = 'Created item group: ' + igname;
    $('#infoModalText').html(msg);
    $('#infoModal').modal();
    update_item_listing();

}

function add_item_to_group() {
    // $("#quote-select-account").css('display', 'none');
    console.log($("#item_grp_dropdown").val());
    var igname = $("#item_grp_dropdown").val();
    var pid = $('#add-product-id').val();
    var pname = $('#add-product-name').val();
    var price = $('#add-product-price').val();
    QUOTE_ITEM_DATA[igname].push({'product': pname, 'pid': pid, 'itemgroup': igname, 'price': price});
    var msg = 'The Product/Service ' + pname + ' was successfully added to item group: ' + igname;
    $('#infoModalText').html(msg);
    $('#infoModal').modal();
    update_item_listing();

}
function update_item_listing() {//$('#quote-inventory').html('&nbsp;');
    
    var inhtml = '';
    var subhtml = '';
    for (let [key, value] of Object.entries(QUOTE_ITEM_DATA)) {
        console.log('iterating quote items: ' + key);
        var itemgroup_name = key;
        inhtml += '<div class="col-md-12" id="quote-select-account">';
        inhtml += '<div class="panel panel-white">';
        inhtml += '<div class="panel-body">';
        inhtml += '<h3>Item Group: ' + itemgroup_name + '</h3>';

        //console.log(inhtml);
        //$('#quote-inventory').html($('#quote-inventory').html() + inhtml);
        console.log('hello');
        var subhtml = '';
        if (value.length <= 0) {
            subhtml = '<div class="alert alert-danger">here are no products in this group</div>';
        } else {
            inhtml += '<table class="table table-bordered">';
            for (let v of value) {
                console.log(v);
                subhtml += '<tr><td>' + v.product + '</td><td>' + v.price + '</td><td><a href="#">[remove]</a></td></tr>';
            }
            subhtml += '</table>';
        }
        
        inhtml += subhtml;
        inhtml += '</div></div></div>';

    }
    $('#quote-inventory').html(inhtml);

}

        {% if debug_msg %}
            var msg = '{{debug_msg}}';
            $('#debugModalText').html(msg);
            $('#debugModal').modal();

        {% endif %}



$(document).ready(function(){
		$("#search-box").autocomplete({
			minLength: 3,
            select: function(event, data) {
				//console.log(data.item.label);
				//console.log(data.item.id);
				$("#suggesstion-box").show();
				$("#suggesstion-box").html('Selected Product ID: ' + data.item.id);
				$("#search-box").css("background","#FFF");
                //a$('#prod_sel_next').show();
                $('#quote-item-groups').show();
                $('#add-product-id').val(data.item.id);
                $('#add-product-name').val(data.item.label);
                $('#add-product-price').val(data.item.price);

            },
            source: function(req, resp) {
              $.ajax({
				type: "GET",
				url: "/ajax/autocomplete/products/",
				data:'q='+req.term,
				beforeSend: function(){
					$("#search-box").css("background","#FFF url(loading.gif) no-repeat 165px");
				},
				success: function(data){
                    //console.log(data);
					resp($.map(data, function (item) {
                    return {
                          label: item.name,
                          value: item.name,
						  id: item.id,
                          price: item.price
                    	}
                	}))
				},
			  });
            }
		});
});
//To select country name
function selectCountry(val) {
$("#search-box").val(val);
$("#suggesstion-box").hide();
}
</script>
{% endblock %}
