{% extends 'crm/base2.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
     {% if account_filter %}
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'contacts_list' %}">Contacts</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'accounts_detail' pk=account_filter_id %}">{{account_filter_name}}</a></li>
     {% else %}
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'contacts_list' %}">Contacts</a></li>
     {% endif %}
    </ol>
{% endblock %}

     

{% block extra_css %}
<style type="text/css">
input, select, textarea {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
ul.ui-autocomplete {
    background-color:#fff !important;
    cursor:pointer;
        width:200px;

}
ul.ui-autocomplete li { color:blue !important; padding:5px !important;}
.frmSearch {border: 1px solid #a8d4b1;background-color: #fff;margin: 2px 0px;padding:40px;border-radius:4px;}
#country-list{float:left;list-style:none;margin-top:-3px;padding:0;width:190px;position: absolute;}
#country-list li{padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}
#country-list li:hover{background:#ece3d2;cursor: pointer;}
#search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}
#sddress-search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}
#quote-select-account2 { display:none; }
.pull-left { float:left;}
.pull-right { float:right; }
.linebreak10 { overflow:auto;width:100%;height:10px; }
.universalquantity {}
</style>

{% endblock %}


{% block page_title %}
 
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12 col-lg-12 " id="quote-select-account">
            <div class="card">
                <div class="card-body">

                    <div class="col-md-6 offset-md-3">
                        
                        <h2 style="color:#1976d2 !important;">New Service Addon</h2>
                        <h4 class="card-title">{{account_service.product.name}}</h4>
                        <h5 class="card-title">{{account_service.service_address.full_address}}</h5>
                        <h6 class="card-subtitle">
                            {{account_service.account}}<br />
                        </h6><br /><br />
                        
                        <div style="height:10px;width:100%;overflow:auto;"></div>
                        <div style="height:10px;width:100%;overflow:auto;"></div>

                        <form method="POST" action="{% url 'post_add_service_addon' %}"> {% csrf_token %}
                            <input type="hidden" name="action" id="id_action" value="new-addon-service" />
                            <input type="hidden" name="purchase_type" id="id_purchase_type" value="upgrade" />
                            <input type="hidden" name="account_service" value="{{account_service.pk}}" />
                            <input type="hidden" name="quote_pk" value="{{quote.pk}}" />
                            <!-- ^? -->
                            <input type="hidden" name="service_for_addon" value="{{account_service.pk}}" />
                            <input type="hidden" id="selected-product-partnum" 
                                   name="selected_product_partnum" value="" />
                            <input type="hidden" id="selected-product-id" 
                                   name="selected_product_id" value="" />
                            <input type="hidden" id="did_custom_action" name="did_action" value="" />

                             

                            <div id="upgrade_service_product_div" style="overflow:auto;display:block;padding-bottom:25px;">
                                <h2>Select New Service-Addon </h2>
                                <p>Select the new service-addon to add from the dropdown below</p>
                                <select name="new_service_addon_product" id="upgradeserviceproduct"
                                    onchange="selected_the_service_addon(this.value);">
                                    <option value=""></option>
                                    {% for sp in service_addons %}
                                        <option value="{{sp.pk}}##{{sp.part_number}}">
                                            {{sp.name}}
                                        </option>
                                    {% endfor %}
                                </select><br />
                
                                
                                <!-- if part number...blabl -->
                                <div id="itpvoice_pbx_did_edit" class="editlayer" style="display:none;">
                                    <h2>New DID phone numbers</h2>
                                    <input name="group1" type="radio" id="newnum" class="with-gap"
                                        onclick="$('#newnum_withnum_layer').css('display', 'none'); $('#newnum_layer').css('display', 'block'); $('#did_custom_action').val('newnum'); ">
                                    <label for="newnum">Assign New Numbers (city/state)</label><br />

                                    <input name="group1" type="radio" id="newnum_withnum" class="with-gap"
                                        onclick="$('#newnum_layer').css('display', 'none'); $('#newnum_withnum_layer').css('display', 'block'); $('#did_custom_action').val('newnum_withnum');">
                                       <label for="newnum_withnum">Enter the Phone Numbers</label>

                                    <input type="radio" name="new_number_with_num" value="newnumberwithnum" />Enter the Phone Numbers
                                    <br /><hr /><br />

                                    <div id="newnum_layer" style="display:none;">
                                        <p>How many numbers would you like to add?</p>
                                        <input type="text" name="num_of_new_dids" 
                                            placeholder="# of DIDs" class="col-md-3"/>&nbsp;&nbsp;

                                        <!--input type="text" name="new_did_ratecenter" 
                                            placeholder="Rate Center" class="col-md-6"/-->

                                        <p>Select State:</p>
                                        <select id="itp_voice_did_state" name="new_did_state">
                                            <option value="">Select State</option>
                                            {% for state in did_states %}
                                            <option value="{{state.shortcode}}">{{state.shortcode}}</option>
                                            {% endfor %}
                                        </select>
                                        <div id="itp_voice_did_cities" style="display:none;margin-top:20px;">
                                            <p>City - Rate Center</p>
                                            <select id="itp_voice_did_cities_dropdown" name="new_did_ratecenter">
                                                {% for city in did_cities %}
                                                <option value="{{city.name}}">{{city.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>


                                        <br /><br /><br />
                                        <input type="submit" class="btn btn-success pull-right" 
                                            style="width:100%;" value="Add new DID Numbers">
                                        
                                        <br /><br /><br /> 
                                    </div>

                                    <div id="newnum_withnum_layer" style="display:none;">
                                        <p>Enter the DIDs you would like to order (one per line)</p>

                                        <textarea id="newnum_withnum_numbers" cols="10" rows="50" 
                                            style="height:250px;" name="newnum_withnum_dids" onclick="this.value='';">Paste numbers here (one per line)</textarea>
                                        <br /><br /><br />
                                        <input type="submit" class="btn btn-success pull-right" 
                                            style="width:100%;" value="Add new DID Numbers">

                                    </div>

                                </div>


                                <!-- did port -->
                                <div id="itpvoice_pbx_did_port_edit" class="editlayer" style="display:none;">
                                    <h2>Paste phone numbers</h2>
                                    <p>Paste phone numbers below (one per line)</p>
                                    <textarea id="add_new_serviceaddon_numbers" cols="10" rows="50" 
                                        style="height:250px;" name="numbers_to_port" onclick="this.value='';">Paste numbers here (one per line)</textarea>
                                        <br /><br />
                                    <input type="submit" class="btn btn-success pull-right" 
                                        style="width:100%;" value="Add Number Port">
                                    
                                </div>
                                <!-- end did port -->

                                <div id="itpvoice_pbx_tollfree_did_port_edit" class="editlayer" style="display:none;">
                                    <input type="text" name="itpvoice_pbx_tollfree_did_port_qty" placeholder="Quantity" />
                                    <br /><br />
                                    <input type="submit" class="btn btn-success pull-right" 
                                        style="width:100%;" value="Save">
                                </div>
                                
                                {% for p in products %}
                                    {% if not p.product_key.name in custom_edit_fields %}
                                    <div id="{{p.product_key.name}}_edit" class="editlayer" style="display:none;">
                                        <input type="text" class="universalquantity" 
                                                name="{{p.product_key.name}}_universal_quantity" 
                                                placeholder="Quantity" />
                                        <br /><br />
                                        <input type="submit" class="btn btn-success pull-right" 
                                            style="width:100%;" value="Save">
                                    </div>
                                    {% endif %}
                                {% endfor %}

                                <!--div id="itpvoice_pbx_tollfree_did_edit" class="editlayer" style="display:none;">
                                    <input type="text" name="itpvoice_pbx_tollfree_did" placeholder="Quantity" />
                                    <br /><br />
                                    <input type="submit" class="btn btn-success pull-right" 
                                        style="width:100%;" value="Save">
                                </div>

                                <div id="itp_voice_cdr_365_days_edit" class="editlayer" style="display:none;">
                                    <input type="text" name="itp_voice_cdr_365_days" placeholder="Quantity" />
                                    <br /><br />
                                    <input type="submit" class="btn btn-success pull-right" 
                                        style="width:100%;" value="Save">
                                </div>
                                
                                <div id="itp_voice_cdr_180_days_edit" class="editlayer" style="display:none;">
                                    <input type="text" name="itp_voice_cdr_180_days" placeholder="Quantity" />
                                    <br /><br />
                                    <input type="submit" class="btn btn-success pull-right" 
                                        style="width:100%;" value="Save">
                                </div>

                                <div id="itp_voice_cdr_90_days_edit" class="editlayer" style="display:none;">
                                    <input type="text" name="itp_voice_cdr_90_days" placeholder="Quantity" />
                                    <br /><br />
                                    <input type="submit" class="btn btn-success pull-right" 
                                        style="width:100%;" value="Save">
                                </div>

                                <div id="itp_voice_premium_phone_conference_edit" class="editlayer" style="display:none;">
                                    <input type="text" name="itp_voice_premium_phone_conference" placeholder="Quantity" />
                                    <br /><br />
                                    <input type="submit" class="btn btn-success pull-right" 
                                        style="width:100%;" value="Save">
                                </div>

                                <div id="itp_voice_premium_phone_edit" class="editlayer" style="display:none;">
                                    <input type="text" name="itp_voice_premium_phone" placeholder="Quantity" />
                                    <br /><br />
                                    <input type="submit" class="btn btn-success pull-right" 
                                        style="width:100%;" value="Save">
                                </div-->


                            </div>


                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block custom_js %}
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
<script type="text/javascript">


function selected_the_service_addon(val) {
    var splitsies = val.split('##');
    var partnum = splitsies[1];
    console.log("Part number " + partnum);

    $('.editlayer').hide();
    $('.universalquantity').val(null);

    $('#selected-product-id').val(splitsies[0]);
    $('#selected-product-partnum').val(partnum);
    $('#' + partnum + '_edit').css('display', 'block');

}

function select_prod_item(val) {
    console.log("Selected product " + val);
    $('#quote-item-groups').show();
    // id##anme##price
    var splits = val.split('##');
    var productid = splits[0];
    var productname = splits[1];
    var productprice = splits[2];

    $('#add-product-id').val(productid);
    $('#add-product-name').val(productname);
    $('#add-product-price').val(productprice);

}

$(document).ready(function(){
   
    $("#itp_voice_did_state").change(function() {
        console.log("state changed... loading cities");
        var val = $('#itp_voice_did_state').val();
        //Get cities, filtper
            $.ajax({
                type: "GET",
                url: "/ajax/city-by-state/",
                data: "state="+val,
                success: function(data2) {
                    console.log("City state search " + data2.result);
                    
                    var html = '<option value=""> - Select City -</option>';
                    $.each( data2.result, function(k, v) {
                        html += '<option value="'+v+'">'+v+'</option>';
                        console.log(k);
                    });
                    console.log(html);
                    $('#itp_voice_did_cities').css('display', 'block');
                    $('#itp_voice_did_cities_dropdown').html(html);
                    return data2;
                },
            });



    })


    $("#address-search-box").autocomplete({
            minLength: 3,
            select: function(event, data) {
                //console.log(data.item.label);
                console.log(data.item.pk);
                //$("#suggesstion-box").show();
                //$("#suggesstion-box").html('Selected Service Address ID: ' + data.item.id);
                $("#address-results-box").html('Selected Service Address ID: ' + data.item.id);
                $("#search-box").css("background","#FFF");
                //a$('#prod_sel_next').show();
                //$('#quote-item-groups').show();
                $('#service-address-id').val(data.item.id);
                $('#service-address-name').val(data.item.label);
                $('#select-service-dropdown').show();
                

                $.ajax({
                    type: "GET",
                    url: "/ajax/prod-by-service-address/",
                    data: "pk="+data.item.id,
                    success: function(data2) {
                        console.log("Products by service address search...");
                        console.log("Service address ID " + data.item.id);
                        
                        var html = '<option value=""> - Select Service or Product - </option>';
                        for (var k in data2) {
                            html += '';
                            html += '<option disabled></option>'
                            html += '<option style="font-weight:bold;padding-top:10px;padding-botttom:10px;" disabled> -- '+ k +' --</option>'
                            console.log('iterate results..');
                            console.log(k);
                            for (i = 0; i < data2[k].length; i++) {
                                console.log(" - " + data2[k][i]['pk']);
                                html += '<option value="'+data2[k][i]['pk']+'##'+ data2[k][i]['name'] + '##' + data2[k][i]['price'] + '"> '+ data2[k][i]['name'] +'</option>';
                            }
                            html += '<option disabled></option>';
                        }
                        $('#product_select_dropdown').html(html);
                        return data2;
                    },
                });

            },
            source: function(req, resp) {
              $.ajax({
                type: "GET",
                url: "/ajax/autocomplete/service-address/",
                data:'q='+req.term,
                beforeSend: function(){
                    $("#address-search-box").css("background","#FFF url(loading.gif) no-repeat 165px");
                },
                success: function(data){
                    console.log(data);
                    resp($.map(data, function (item) {
                        $(".ui-autocomplete").css("z-index", "2147483647");
                        $(".ui-autocomplete").css("overflow", "auto"); 
                        $(".ui-autocomplete").css("width", "100%"); 
                        return {
                              label: item.full_address,
                              value: item.full_address,
                              id: item.pk,
                            }
                    }))
                },
              });
            }
        });


});

</script>
{% endblock %}
