{% extends 'crm/base2.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
     {% if account_filter %}
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'contacts_list' %}">Contacts</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'accounts_detail' pk=account_filter_id %}">{{account_filter_name}}</a></li>
     {% else %}
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/quoteswizard/3/{{quote.pk}}">Quote {{quote.pk}}</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'contacts_list' %}">Contacts</a></li>
     {% endif %}
    </ol>
{% endblock %}

     

{% block extra_css %}
<style type="text/css">
input, select, textarea {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
ul.ui-autocomplete {
	background-color:#fff !important;
	cursor:pointer;
        width:200px;

}
ul.ui-autocomplete li { color:blue !important; padding:5px !important;}
.frmSearch {border: 1px solid #a8d4b1;background-color: #fff;margin: 2px 0px;padding:40px;border-radius:4px;}
#country-list{float:left;list-style:none;margin-top:-3px;padding:0;width:190px;position: absolute;}
#country-list li{padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}
#country-list li:hover{background:#ece3d2;cursor: pointer;}
#search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}
#sddress-search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}
#quote-select-account2 { display:none; }
.pull-left { float:left;}
.pull-right { float:right; }
.linebreak10 { overflow:auto;width:100%;height:10px; }
</style>

{% endblock %}


{% block page_title %}
 
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12 col-lg-12 " id="quote-select-account">
            <div class="card">
                <div class="card-body">
                    <h2 style="color:#1976d2 !important;">Add New NRC Product for {{account}}</h2>
                    <h4 class="card-title">{{account_service.product.name}}</h4>
                    <h6 class="card-subtitle">
                        {{account_service.oi.service_address}}
                    </h6><br /><br />
                    
                    <div style="height:10px;width:100%;overflow:auto;"></div>
                    <div style="height:10px;width:100%;overflow:auto;"></div>

                    <form method="POST" action="{% url 'post_wizard_add_nrc_product' %}"> {% csrf_token %}
                            <input type="hidden" id="add-product-purchtype" name="quote_id" value="{{quote.pk}}"/>
                            <!--input type="hidden" id="add-product-purchtype" name="add_service_purchase_type" value="nrc"/-->
                            <input type="hidden" id="add-product-id" name="add_product_id" value=""/>
                            <input type="hidden" id="add-product-name" name="add_product_name" value=""/>
                            <input type="hidden" id="add-product-price" name="add_product_price" value=""/>
                            <input type="hidden" id="add-product-taxable" name="add_product_taxable" value="{{product.taxable}}"/>
                            <input type="hidden" id="add-product-taxpercent" name="add_product_tax_percent" value="{{product.tax_percent}}"/>



                            <div id="select-service-dropdown" style="overflow:auto;display:block;margin-top:30px;">
                                <hr />
                                <h2>New Service / Product</h2>
                                <p>Select a Service or Product from the dropdown below</p>
                                <select id="product_select_dropdown" name="product_selected" onchange="javascript:select_prod_item(this.value);">
                                    <option value=""> - Select Service or Product - 
                                    {% for prod in products %}
                                       
                                    <option value="{{prod.pk}}" {% if product.pk == prod.pk %}selected{% endif %}> {{prod.name}}</option>
                                
                                    {% endfor %}
                                </select>
                                <hr />
                                <h3>Requested activation date </h3>
                                <input type="text" name="req_activation_date" placeholder="2018-01-01"/><br /><br />
                            </div>

                            <div id="quote-item-groups" style="overflow:auto;display:block;">
                                
                                
                                <hr />
                                <div class="col-md-4 col-lg-4 col-sm-12 pull-left">
                                    <h2>Quantity</h2>
                                    <input type="hidden" name="item_grp_qty" id="item-group-qty" value="1" style="width:50px"/>
                                    <input type="text" name="item_quantity" id="itemquantity" style="width:50px;"/>
                                </div>
                                <div class="col-md-4 col-lg-4 col-sm-12 pull-left">
                                    <h2>Taxable?</h2>
                                    <select name="item_taxable">
                                        <option value="no" {% if not product.taxable %}selected{% endif %}>No</option>
                                        <option value="yes" {% if product.taxable %}selected{% endif %}>Yes</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-lg-4 col-sm-12 pull-left">
                                    <h2>Tax Percent %</h2>
                                    <input type="text" name="item_tax_percent" id="itemtaxpercent" style="width:70px;" value="{{product.tax_percent}}"/> 
                                </div>
                                <div>
                                    <!--a href="javascript:add_item_to_group();" class="btn btn-success pull-right" id="prod_sel_next"  style="margin-top:50px;">Continue</a-->
                                    <input type="submit" class="btn btn-success" value="Add Product" style="margin-top:50px; width:100%;"/>
                                </div>
                           </div>
                    </form>




                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block custom_js %}
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
<script type="text/javascript">

function select_prod_item(val) {
    console.log("Selected product " + val);
    window.location="{% url 'wizard_add_new_nrc_product' pk=quote.pk %}?p=" + val;
    $('#quote-item-groups').show();
    // id##anme##price
    var splits = val.split('##');
    var productid = splits[0];
    var productname = splits[1];
    var productprice = splits[2];

    $('#add-product-id').val(productid);
    $('#add-product-name').val(productname);
    $('#add-product-price').val(productprice);

}

$(document).ready(function(){
    
    $("#address-search-box").autocomplete({
			minLength: 3,
            select: function(event, data) {
				//console.log(data.item.label);
				console.log(data.item.pk);
				//$("#suggesstion-box").show();
				//$("#suggesstion-box").html('Selected Service Address ID: ' + data.item.id);
				$("#address-results-box").html('Selected Service Address ID: ' + data.item.id);
				$("#search-box").css("background","#FFF");
                //a$('#prod_sel_next').show();
                //$('#quote-item-groups').show();
                $('#service-address-id').val(data.item.id);
                $('#service-address-name').val(data.item.label);
                $('#select-service-dropdown').show();
                

                $.ajax({
                    type: "GET",
                    url: "/ajax/prod-by-service-address/",
                    data: "pk="+data.item.id,
                    success: function(data2) {
                        console.log("Products by service address search...");
                        console.log("Service address ID " + data.item.id);
                        
                        var html = '<option value=""> - Select Service or Product - </option>';
                        for (var k in data2) {
                            html += '';
                            html += '<option disabled></option>'
                            html += '<option style="font-weight:bold;padding-top:10px;padding-botttom:10px;" disabled> -- '+ k +' --</option>'
                            console.log('iterate results..');
                            console.log(k);
                            for (i = 0; i < data2[k].length; i++) {
                                console.log(" - " + data2[k][i]['pk']);
                                html += '<option value="'+data2[k][i]['pk']+'##'+ data2[k][i]['name'] + '##' + data2[k][i]['price'] + '"> '+ data2[k][i]['name'] +'</option>';
                            }
                            html += '<option disabled></option>';
                        }
                        $('#product_select_dropdown').html(html);
                        return data2;
                    },
                });

            },
            source: function(req, resp) {
              $.ajax({
				type: "GET",
				url: "/ajax/autocomplete/service-address/",
				data:'q='+req.term,
				beforeSend: function(){
					$("#address-search-box").css("background","#FFF url(loading.gif) no-repeat 165px");
				},
				success: function(data){
                    console.log(data);
					resp($.map(data, function (item) {
                        $(".ui-autocomplete").css("z-index", "2147483647");
                        $(".ui-autocomplete").css("overflow", "auto"); 
                        $(".ui-autocomplete").css("width", "100%"); 
                        return {
                              label: item.full_address,
                              value: item.full_address,
                              id: item.pk,
                            }
                    }))
				},
			  });
            }
		});


});

</script>
{% endblock %}
