{% extends 'crm/base2.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
     {% if account_filter %}
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'contacts_list' %}">Contacts</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'accounts_detail' pk=account_filter_id %}">{{account_filter_name}}</a></li>
     {% else %}
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'contacts_list' %}">Contacts</a></li>
     {% endif %}
    </ol>
{% endblock %}

     

{% block extra_css %}
<style type="text/css">
input, select, textarea {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
ul.ui-autocomplete {
	background-color:#fff !important;
	cursor:pointer;
        width:200px;

}
ul.ui-autocomplete li { color:blue !important; padding:5px !important;}
.frmSearch {border: 1px solid #a8d4b1;background-color: #fff;margin: 2px 0px;padding:40px;border-radius:4px;}
#country-list{float:left;list-style:none;margin-top:-3px;padding:0;width:190px;position: absolute;}
#country-list li{padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}
#country-list li:hover{background:#ece3d2;cursor: pointer;}
#search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}
#sddress-search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}
#quote-select-account2 { display:none; }
.pull-left { float:left;}
.pull-right { float:right; }
.linebreak10 { overflow:auto;width:100%;height:10px; }
</style>

{% endblock %}


{% block page_title %}
 
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12 col-lg-12 " id="quote-select-account">
            <div class="card">
                <div class="card-body">
                    <h2 style="color:#1976d2 !important;">Add New Service for {{account}}</h2>
                    <h4 class="card-title">{{account_service.product.name}}</h4>
                    <h6 class="card-subtitle">
                        {{account_service.get_service_address}}
                    </h6><br /><br />
                    
                    <div style="height:10px;width:100%;overflow:auto;"></div>
                    <div style="height:10px;width:100%;overflow:auto;"></div>

                    <form method="POST" action="{% url 'post_wizard_add_service' %}"> {% csrf_token %}
                            <input type="hidden" id="add-product-purchtype" name="add_service_quote_id" value="{{quote.pk}}"/>
                            <input type="hidden" id="add-product-purchtype" name="add_service_purchase_type" value=""/>
                            <input type="hidden" id="add-product-id" name="add_product_id" value=""/>
                            <input type="hidden" id="add-product-name" name="add_product_name" value=""/>
                            <input type="hidden" id="add-product-price" name="add_product_price" value=""/>

                            <h2>First, Enter The Service Address</h2>
                            <p>Begin typing the service address, and click the result shown below</p>
                            <div class="frmSearch">
                                <input type="text" id="address-search-box" name="address_search_box" />
                                <input type="hidden" id="service-address-id" name="service_address_id" value="" />
                                <input type="hidden" id="service-address-name" name="service_address_name" value="" />
                                <div id="address-results-box"></div>
                            </div>

                            <div id="select-service-dropdown" style="overflow:auto;display:none;margin-top:30px;margin-bottom:30px;width:100%;">
                                <div class="col-md-12 col-lg-6 pull-left" style="margin-bottom:30px;">
                                    <h3>New Service / Product</h3>
                                    <p>Select a Service or Product from the dropdown below</p>
                                    <select id="product_select_dropdown" name="product_selected" onchange="javascript:select_prod_item(this.value);">
                                        <option value=""> - Select Service or Product - </option>
                                        
                                    </select>
                                </div>

                                <div class="col-md-12 col-lg-6 pull-left" style="margin-bottom:30px;">
                                    <h3 style="">Requested activation date </h3>
                                    <p>Please type the date for activation below</p>
                                    <input type="text" name="req_activation_date" placeholder="2018-01-01"/>

                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-12 pull-left" style="margin-bottom:30px;">
                                    <h3>Contract Terms</h3>
                                    <select name="contract_terms" placeholder="2018-01-01">
                                        <option value="0">None</option>
                                        <option value="6">6 Months</option>
                                        <option value="12">12 Months</option>
                                        <option value="24">24 Months</option>
                                        <option value="36">36 Months</option>
                                        <option value="48">48 Months</option>
                                        <option value="60">60 Months</option>
                                        <option value="72">72 Months</option>
                                        <option value="84">84 Months</option>
                                        <option value="96">96 Months</option>
                                        <option value="120">120 Months</option>
                                    </select><br /><br />
                                </div>
                            </div>
                            <div style="height:10px;width:100%;overflow:auto;"></div>
                            <div style="height:10px;width:100%;overflow:auto;"></div>

                            <div id="customfields__itp_voice" style="display:none;width:100%;">
                                <div class="col-md-12 col-lg-4 pull-left">
                                    <h3>ITP Voice Platform Version</h3>
                                    <select name="itp_voice_platform">
                                        <option value="legacy">Legacy</option>
                                        <!--option value="development">Development</option-->
                                        <option value="production">Production</option>
                                    </select>
                                </div>
                                <div class="col-md-12 col-lg-4 pull-left">

                                    <h3>Toll Free Rate</h3>
                                    <select name="toll_free_rate">
                                            
                                            <option value="$0.012/min">$0.012/min</option>
                                            <option value="$0.011/min">$0.011/min</option>
                                            <option value="$0.010/min">$0.010/min</option>
                                            <option value="$0.009/min">$0.009/min</option>
                                            <option value="$0.008/min">$0.008/min</option>

                                    </select>
                                </div>
                                <div class="col-md-12 col-lg-4 pull-left">
                                    <h3>International Calling</h3>
                                    <select name="international_calling">
                                            
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                            
                                    </select>
                                </div>

                            </div>

                            <div style="height:10px;width:100%;overflow:auto;"></div>
                            <div style="height:10px;width:100%;overflow:auto;"></div>

                            <div id="quote-item-groups" style="overflow:auto;display:none;width:100%;">
                                
                                <hr /><br />
                                <div>
                                    <h2>Quantity</h2>
                                    <input type="hidden" name="item_grp_qty" id="item-group-qty" value="1" style="width:50px;"/>
                                    <input type="text" name="item_quantity" id="itemquantity" style="width:50px;"/>
                                </div>
                                <div>
                                    <!--a href="javascript:add_item_to_group();" class="btn btn-success pull-right" id="prod_sel_next"  style="margin-top:50px;">Continue</a-->
                                    <input type="submit" class="btn btn-success" value="Add Product" style="margin-top:50px; width:100%;"/>
                                </div>
                           </div>
                    </form>




                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block custom_js %}
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
<script type="text/javascript">

function select_prod_item(val) {
    console.log("Selected product " + val);
    $('#quote-item-groups').show();
    // id##anme##price
    var splits = val.split('##');
    var productid = splits[0];
    var productname = splits[1];
    var productprice = splits[2];
    var partnum = splits[3];

    $('#add-product-id').val(productid);
    $('#add-product-name').val(productname);
    $('#add-product-price').val(productprice);

    $("#customfields__" + partnum).css('display', 'block');

}

$(document).ready(function(){
    
    $("#address-search-box").autocomplete({
			minLength: 3,
            select: function(event, data) {
				//console.log(data.item.label);
				console.log(data.item.pk);
				//$("#suggesstion-box").show();
				//$("#suggesstion-box").html('Selected Service Address ID: ' + data.item.id);
				$("#address-results-box").html('Selected Service Address ID: ' + data.item.id);
				$("#search-box").css("background","#FFF");
                //a$('#prod_sel_next').show();
                //$('#quote-item-groups').show();
                $('#service-address-id').val(data.item.id);
                $('#service-address-name').val(data.item.label);
                $('#select-service-dropdown').show();
                

                $.ajax({
                    type: "GET",
                    url: "/ajax/prod-by-service-address/",
                    data: "pk="+data.item.id,
                    success: function(data2) {
                        console.log("Products by service address search...");
                        console.log("Service address ID " + data.item.id);
                        
                        var html = '<option value=""> - Select Service or Product - </option>';
                        for (var k in data2) {
                            html += '';
                            html += '<option disabled></option>'
                            html += '<option style="font-weight:bold;padding-top:10px;padding-botttom:10px;" disabled> -- '+ k +' --</option>'
                            console.log('iterate results..');
                            console.log(k);
                            for (i = 0; i < data2[k].length; i++) {
                                console.log(" - " + data2[k][i]['pk']);
                                html += '<option value="'+data2[k][i]['pk']+'##'+ data2[k][i]['name'] + '##' + data2[k][i]['price'] + '##' + data2[k][i]['part_number'] + '"> '+ data2[k][i]['name'] +'</option>';
                            }
                            html += '<option disabled></option>';
                        }
                        $('#product_select_dropdown').html(html);
                        return data2;
                    },
                });

            },
            source: function(req, resp) {
              $.ajax({
				type: "GET",
				url: "/ajax/autocomplete/service-address/",
				data:'q='+req.term,
				beforeSend: function(){
					$("#address-search-box").css("background","#FFF url(loading.gif) no-repeat 165px");
				},
				success: function(data){
                    console.log(data);
					resp($.map(data, function (item) {
                        $(".ui-autocomplete").css("z-index", "2147483647");
                        $(".ui-autocomplete").css("overflow", "auto"); 
                        $(".ui-autocomplete").css("width", "100%"); 
                        return {
                              label: item.full_address,
                              value: item.full_address,
                              id: item.pk,
                            }
                    }))
				},
			  });
            }
		});


});

</script>
{% endblock %}
