{% extends 'crm/base2.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
     {% if account_filter %}
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'contacts_list' %}">Contacts</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'accounts_detail' pk=account_filter_id %}">{{account_filter_name}}</a></li>
     {% else %}
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'contacts_list' %}">Contacts</a></li>
     {% endif %}
    </ol>
{% endblock %}

     

{% block extra_css %}
<style type="text/css">
input, select, textarea {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
ul.ui-autocomplete {
	background-color:#fff !important;
	cursor:pointer;
        width:200px;

}
ul.ui-autocomplete li { color:blue !important; padding:5px !important;}
.frmSearch {border: 1px solid #a8d4b1;background-color: #fff;margin: 2px 0px;padding:40px;border-radius:4px;}
#country-list{float:left;list-style:none;margin-top:-3px;padding:0;width:190px;position: absolute;}
#country-list li{padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}
#country-list li:hover{background:#ece3d2;cursor: pointer;}
#search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}
#sddress-search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}
#quote-select-account2 { display:none; }
.pull-left { float:left;}
.pull-right { float:right; }
.linebreak10 { overflow:auto;width:100%;height:10px; }
</style>

{% endblock %}


{% block page_title %}
 
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12 col-lg-12 " id="quote-select-account">
            <div class="card">
                <div class="card-body">

                    <div class="col-md-6 offset-md-3">
                        
                        <h2 style="color:#1976d2 !important;">Upgrade Service for {{account}}</h2>
                        <h4 class="card-title">{{account_service.product.name}}</h4>
                        <h5>{{account_service.product.part_number}}</h5>
                        <h6 class="card-subtitle">
                            {{account_service.get_service_address}}<br />
                        </h6><br /><br />
                        
                        <div style="height:10px;width:100%;overflow:auto;"></div>
                        <div style="height:10px;width:100%;overflow:auto;"></div>

                        <form method="POST" id="upgradeform" action="{% url 'post_wizard_upgrade_service' %}"> {% csrf_token %}
                            <input type="hidden" name="action" id="id_action" value="upgrade-service" />
                            <input type="hidden" name="purchase_type" id="id_purchase_type" value="upgrade" />
                            <input type="hidden" name="account_service" value="{{account_service.pk}}" />
                            <input type="hidden" name="quote" value="{{quote.pk}}" />

                             

                            <div id="upgrade_service_product_div" style="overflow:auto;display:block;">

                                    {% ifequal account_service.oi.product.part_number 'itp_voice' %}
                                        <hr />
                                        <h2>Upgrade Service </h2>
                                        <p>Update the quantity of the service 
                                            (this needs to be optimized....hardcoded by service type)
                                        </p>
                                        <hr />
                                        <b>You Currently have {{account_service.metadata.purchased_users}} users</b><br />
                                        <span id="invalid_upgrade_count" style="display:none;color:red;">
                                            Please select a number greater than {{account_service.metadata.purchased_users}} users and greater than 0</span>
                                        <input type="number" id="itpvoicequantity" name="itp_voice__quantity" placeholder="Enter quantity" style="width:150px;" /><br />
                                        <!--input type="submit" value="Make Changes" class="btn btn-success pull-right" /-->
                                        <input type="button" onclick="validate_upgrade_itpvoice({{account_service.metadata.purchased_users}})" 
                                            value="Make Changes" class="btn btn-success pull-right" />
                                    {% endifequal %}


                                    {% if 'itp_fiber' in account_service.product.part_number %}
                                        <hr />
                                        <h2>Upgrade ITP Fiber </h2>
                                        <p>Select the package on which to upgrade to.
                                               
                                        </p>
                                        <select name="itp_fiber__product2upgrade">
                                            {% for p in itp_fiber_products %}
                                                
                                                    <option value="{{p.pk}}">{{p.name}}</option>
                                                
                                            {% endfor %}
                                        </select>
                                        
                                        <div style="height:10px;width:100%;overflow:auto;"></div>
                                        <div style="height:10px;width:100%;overflow:auto;"></div>
                                        <input type="submit" value="Make Changes" class="btn btn-success pull-right" />
                                    {% endif %}
                            </div>

                            <div id="upgrade_service_add_serviceaddon" style="overflow:auto;display:none;">
                                <hr />
                                
                                <h2>Select New Service-Addon </h2>
                                <p>Select the new service-addon to add from the dropdown below</p>
                                
                                    <select name="upgrade_service_product" id="upgrade_service_product_id">
                                        <option value=""></option>
                                        {% for sp in service_addons %}
                                        <option value="{{sp.pk}}##{{sp.part_number}}">
                                                {{sp.name}}
                                            </option>
                                        {% endfor %}
                                    </select><br />

                                    <a href="javascript:new_serviceaddon($('#upgrade_service_product_id').val());" class="pull-right btn btn-success">
                                        Next Step
                                    </a>

                            </div>
                            
                            <br /><hr />


                            <div id="new_serviceaddon_selected">

                            </div>


                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block custom_js %}
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
<script type="text/javascript">

    (function() {
        var age = document.getElementById('upgradeform');
        age.addEventListener('keypress', function(event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                if (age.value > 20) {
                    document.getElementById('adult').click();
                } else {
                    document.getElementById('child').click();
                }
            }
        });
    }());


function validate_upgrade_itpvoice(x) {
    var y = $('#itpvoicequantity').val();
    console.log(y);
    if (x >= y) {
        $("#invalid_upgrade_count").css('display', 'block');
    }
    if(y < 1) {
        $("#invalid_upgrade_count").css('display', 'block');
    } 
    if (x < y && y >= 1) {
        $('#upgradeform').submit(); 
    }

}

function select_prod_item(val) {
    console.log("Selected product " + val);
    $('#quote-item-groups').show();
    // id##anme##price
    var splits = val.split('##');
    var productid = splits[0];
    var productname = splits[1];
    var productprice = splits[2];

    $('#add-product-id').val(productid);
    $('#add-product-name').val(productname);
    $('#add-product-price').val(productprice);

}

$(document).ready(function(){
    
    $("#address-search-box").autocomplete({
			minLength: 3,
            select: function(event, data) {
				//console.log(data.item.label);
				console.log(data.item.pk);
				//$("#suggesstion-box").show();
				//$("#suggesstion-box").html('Selected Service Address ID: ' + data.item.id);
				$("#address-results-box").html('Selected Service Address ID: ' + data.item.id);
				$("#search-box").css("background","#FFF");
                //a$('#prod_sel_next').show();
                //$('#quote-item-groups').show();
                $('#service-address-id').val(data.item.id);
                $('#service-address-name').val(data.item.label);
                $('#select-service-dropdown').show();
                

                $.ajax({
                    type: "GET",
                    url: "/ajax/prod-by-service-address/",
                    data: "pk="+data.item.id,
                    success: function(data2) {
                        console.log("Products by service address search...");
                        console.log("Service address ID " + data.item.id);
                        
                        var html = '<option value=""> - Select Service or Product - </option>';
                        for (var k in data2) {
                            html += '';
                            html += '<option disabled></option>'
                            html += '<option style="font-weight:bold;padding-top:10px;padding-botttom:10px;" disabled> -- '+ k +' --</option>'
                            console.log('iterate results..');
                            console.log(k);
                            for (i = 0; i < data2[k].length; i++) {
                                console.log(" - " + data2[k][i]['pk']);
                                html += '<option value="'+data2[k][i]['pk']+'##'+ data2[k][i]['name'] + '##' + data2[k][i]['price'] + '"> '+ data2[k][i]['name'] +'</option>';
                            }
                            html += '<option disabled></option>';
                        }
                        $('#product_select_dropdown').html(html);
                        return data2;
                    },
                });

            },
            source: function(req, resp) {
              $.ajax({
				type: "GET",
				url: "/ajax/autocomplete/service-address/",
				data:'q='+req.term,
				beforeSend: function(){
					$("#address-search-box").css("background","#FFF url(loading.gif) no-repeat 165px");
				},
				success: function(data){
                    console.log(data);
					resp($.map(data, function (item) {
                        $(".ui-autocomplete").css("z-index", "2147483647");
                        $(".ui-autocomplete").css("overflow", "auto"); 
                        $(".ui-autocomplete").css("width", "100%"); 
                        return {
                              label: item.full_address,
                              value: item.full_address,
                              id: item.pk,
                            }
                    }))
				},
			  });
            }
		});


});

</script>
{% endblock %}
