{% extends 'crm/base2.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
     {
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        
        <li class="breadcrumb-item active"><a href="{% url 'accounts_detail' pk=account.pk %}">{{account}}</a></li>
    
    </ol>
{% endblock %}

     

{% block extra_css %}
<style type="text/css">
input, select, textarea {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
ul.ui-autocomplete {
	background-color:#fff !important;
	cursor:pointer;

}
ul.ui-autocomplete li { color:blue !important; padding:5px !important;}a
.frmSearch {border: 1px solid #a8d4b1;background-color: #c6f7d0;margin: 2px 0px;padding:40px;border-radius:4px;}
#country-list{float:left;list-style:none;margin-top:-3px;padding:0;width:190px;position: absolute;}
#country-list li{padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}
#country-list li:hover{background:#ece3d2;cursor: pointer;}
#search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}
#quote-select-account2 { display:none; }
</style>

{% endblock %}


{% block page_title %}
Quote for {{account}}
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 col-sm-offset-0" id="quote-select-account">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">Enter a name for this quote</h4>
                    <h6 class="card-subtitle">Enter a name for this quote so you can identify it later as needed. The recipient will not see this.
                    </h6><br /><br />

                    <form action="{% url 'wizard_quotes_step2' pk=pk %}" method="POST"> {% csrf_token %}
                    <input type="text" class="form-control" name="quotename" />
                    <br /><br />
                    <input type="submit" value="Save and Continue" class="btn btn-sm btn-info" />
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block extra_js %}
{% endblock %}
