{% extends 'crm/base2.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
     {% if account_filter %}
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'contacts_list' %}">Contacts</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'accounts_detail' pk=account_filter_id %}">{{account_filter_name}}</a></li>
     {% else %}
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'contacts_list' %}">Contacts</a></li>
     {% endif %}
    </ol>
{% endblock %}

     

{% block extra_css %}
<style type="text/css">
input, select, textarea {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
ul.ui-autocomplete {
	background-color:#fff !important;
	cursor:pointer;

}
ul.ui-autocomplete li { color:blue !important; padding:5px !important;}a
.frmSearch {border: 1px solid #a8d4b1;background-color: #c6f7d0;margin: 2px 0px;padding:40px;border-radius:4px;}
#country-list{float:left;list-style:none;margin-top:-3px;padding:0;width:190px;position: absolute;}
#country-list li{padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}
#country-list li:hover{background:#ece3d2;cursor: pointer;}
#search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}
#quote-select-account2 { display:none; }
</style>

{% endblock %}


{% block page_title %}
Quote for {{account}}
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12 col-lg-12 " id="quote-select-account">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">{{account_service.product.name}}</h4>
                    <h6 class="card-subtitle">
                        {{account_service.oi.service_address}}
                    </h6><br /><br />
                    
                    <div style="height:10px;width:100%;overflow:auto;"></div>
                    <div style="height:10px;width:100%;overflow:auto;"></div>

                    <div class="col-md-4 col-sm-12 col-lg-4 pull-left" style="float:left;">
                        <h3>Upgrade Service</h3>
                        <p>Click below to upgrade the {{q.product.name}} service</p>
                        <a href="#" class="btn btn-sm btn-success">Get Started</a>
                    </div>
                    <div class="col-md-4 col-sm-12 col-lg-4 pull-left" style="float:left;">
                        <h3>Downgrade Service</h3>
                        <p>Click below to downgrade the current {{q.product.name}} service</p>
                        <a href="#" class="btn btn-sm btn-danger">Get Started</a>
                    </div>
                    <div class="col-md-4 col-sm-12 col-lg-4 pull-left" style="float:left;">
                        <h3>Service Add-ons </h3>
                        <p>Click below to add a new addon for {{q.product.name}} service</p>
                        <a href="#" class="btn btn-sm btn-info">Get Started</a>
                    </div>
                        
                    <div style="height:10px;width:100%;overflow:auto;"></div>
                    <hr />
                    <br />
                    <br />

                    <h3>Service Addons</h3>
                    
                    <br />
                    <br />
                    <table class="table table-bordered">
                        <tr>
                            <td>
                                Product
                            </td>
                            <td>
                                Order
                            </td>
                            <td>
                                Provision Status
                            </td>
                            <td>
                                Price
                            </td>

                            <td>
                           </td>
                        </tr>
                        {% for sa in service_addons %}
                        <tr>
                            <td>
                                {{sa.product.name}}
                            </td>
                            <td>
                                {{sa.order}}
                            </td>
                            <td>
                                {{sa.provision_status}}
                            </td>
                            <td>
                                {{sa.price}}
                            </td>
                            <td>
                                <a href="#" class="btn btn-warning btn-sm">Remove</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>




                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block extra_js %}
{% endblock %}
