{% extends 'crm/base2.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
     {% if account_filter %}
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'contacts_list' %}">Contacts</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'accounts_detail' pk=account_filter_id %}">{{account_filter_name}}</a></li>
     {% else %}
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'contacts_list' %}">Contacts</a></li>
     {% endif %}
    </ol>

{% endblock %}

     

{% block extra_css %}
<style type="text/css">
input, select, textarea {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
ul.ui-autocomplete {
	background-color:#fff !important;
	cursor:pointer;
width: 500px !important;

}
ul.ui-autocomplete li { color:blue !important; padding:5px !important;width:500px;}
.frmSearch {background-color: #c6f7d0;margin: 2px 0px;padding:40px;border-radius:4px;}
#country-list{float:left;list-style:none;margin-top:-3px;padding:0;width:190px;position: absolute;}
#country-list li{padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}
#country-list li:hover{background:#ece3d2;cursor: pointer;}
#search-box{padding: 10px;border-radius:4px;}
#quote-select-account2 { display:none; }
</style>

{% endblock %}


{% block page_title %}
New Quote Wizard
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12" id="quote-select-account">
            <div class="card card-cute-border">
                <div class="card-body">
                        <!--h2>Select the Account</h2>
                            <div class="col-md-8 col-lg-12">
    							<div class="frmSearch" style="width:100% !important;"> 
    								<input type="text" id="search-box" placeholder="Type Account Name" />
                                    <input type="hidden" id="quote-account-id" name="quote_account_id" value=""/>
    								<div id="suggesstion-box" style="width:100% !important;padding:3px;background-color:#fff;"></div>
    							</div>
                            </div-->

                         <!-- quote cuteness -->
				<div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body wizard-content ">
                                <h4 class="card-title">Enter Account Name</h4>
                                <h6 class="card-subtitle">Select the customer name by searching below </h6>
                                <br />
                                <br />
                                <br />

                                <form action="#" class="tab-wizard vertical wizard-circle wizard clearfix form-material" role="application" id="steps-uid-1">
                                    <!-- Step 1 -->
                                    <section id="steps-uid-1-p-0" role="tabpanel" aria-labelledby="steps-uid-1-h-0" class="body current" aria-hidden="false">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
														<div class="" style="width:100% !important;"> 
															<input type="text" id="search-box" class="form-control" placeholder="Type Account Name" />
															<input type="hidden" id="quote-account-id" name="quote_account_id" value=""/>
															<div id="suggesstion-box" style="width:100% !important;padding:3px;background-color:#fff;"></div>
														</div>
														<div class="col-md-4 col-lg-12">
															<a href="javascript:show_products();" class="btn btn-success" style="float:right;">Start Quote</a>

														</div>
                                            </div>
                                        </div>
                                    </section>
								</form>
                            </div>
                        </div>
                    </div>
                </div>
                         <!-- end cuteness -->

                        <hr />


                        <h4 class="card-title">Create a new Account</h4>
                        <h6 class="card-subtitle">Click the button below to set up a new account.</h6> <br /><br />
                        <a target="_blank" href="{% url 'accounts_new' %}" class="btn btn-danger">New Account</a>

                        <hr />

                        <!--a href="javascript:show_quote_form($('#quote-account-id').val());" class="btn btn-success pull-right" id="account_sel_next" style="display:none;" >Continue</a-->

                </div>
            </div>
        </div>


    </div>

{% endblock %}

{% block custom_js %}
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
<script type="text/javascript">
function show_products(account) {
    var acc_id = $('#quote-account-id').val();
    window.location = '/quoteswizard/2/' + acc_id;
}

function show_quote_form(account_id) {
    $("#quote-select-account").css('display', 'none');
    var addr_fields = [
        'billing_address', 'billing_city', 'billing_state', 'billing_zipcode', 'billing_country',
        'service_address', 'service_city', 'service_state', 'service_zipcode', 'service_country'
    ]
    $.ajax({
        type: "GET",
        url: "/ajax/accounts/",
        data: "account_id="+account_id,
        success: function(data) {
            //console.log(data.result);
            //console.log(data.result.service_address);
            //console.log(data.result['service_address']);
            $('#quote_account_name2').html(data.result.name);
            $("#quote-select-account2").css('display', 'block');
            addr_fields.forEach(function(item) {
                $('#id_'+item).val(data.result[item]);
            });
            return data;
        },
    });


}


$(document).ready(function(){
		$("#search-box").autocomplete({
			minLength: 3,
            select: function(event, data) {
				//console.log('selectedev');
				//console.log(event);
				//console.log('selected ');
				//console.log(data);
				//console.log(data.item.label);
				//console.log(data.item.id);
				$("#suggesstion-box").show();
				$("#suggesstion-box").html('Selected Account ID: ' + data.item.id);
				$("#search-box").css("background","#FFF");
                $('#account_sel_next').show();
                $('#quote-account-id').val(data.item.id);

            },
            source: function(req, resp) {
              $.ajax({
				type: "GET",
				url: "/ajax/autocomplete/accounts/",
				data:'q='+req.term,
				beforeSend: function(){
					$("#search-box").css("background","#FFF url(loading.gif) no-repeat 165px");
				},
				success: function(data){
                    //console.log(data);
					resp($.map(data, function (item) {
                    return {
                          label: item.name,
                          value: item.name,
						  id: item.id
                    	}
                	}))
				},
			  });
            }
		});
});
//To select country name
function selectCountry(val) {
$("#search-box").val(val);
$("#suggesstion-box").hide();
}
</script>
{% endblock %}
