{% extends 'crm/base2.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
     {% if account_filter %}
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'contacts_list' %}">Contacts</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'accounts_detail' pk=account_filter_id %}">{{account_filter_name}}</a></li>
     {% else %}
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'contacts_list' %}">Contacts</a></li>
     {% endif %}
    </ol>

{% endblock %}

     

{% block extra_css %}
<style type="text/css">
input, select, textarea {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
ul.ui-autocomplete {
	background-color:#fff !important;
	cursor:pointer;
        width:200px;

}
ul.ui-autocomplete li { color:blue !important; padding:5px !important;}
.frmSearch {border: 1px solid #a8d4b1;background-color: #fff;margin: 2px 0px;padding:40px;border-radius:4px;}
#country-list{float:left;list-style:none;margin-top:-3px;padding:0;width:190px;position: absolute;}
#country-list li{padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}
#country-list li:hover{background:#ece3d2;cursor: pointer;}
#search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}
#sddress-search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}
#quote-select-account2 { display:none; }
.pull-left { float:left;}
.pull-right { float:right; }
.linebreak10 { overflow:auto;width:100%;height:10px; }
</style>

{% endblock %}


{% block page_title %}
Quote for {{quote.account}}- {{quote.name}}
{% endblock %}


{% block content %}

    <div class="row">
        <!--div class="col-md-6" id="quote-select-account">
            <div class="card card-cute-border">
                <div class="card-body">
                    <h2>Create Item Group</h2>
                    Create an item group to group together the different products and services<br /><br />
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
					  New Item Group
					</button>
                </div>
            </div>
        </div-->
        <div class="col-md-3" id="quote-select-account">
            <div class="card card-cute-border">
                <div class="card-body">
                    <h2>Grand Total</h2>
                    <h1 style="color:green;">$ {{total}}</h1>

                </div>
            </div>
        </div>
        <div class="col-md-3" id="quote-select-account">
            <div class="card card-white">
                <div class="card-body">
                    <h2>Status</h2>
                    <p>
                    Quote Status: {{quote.quote_status}}
                    </p>
                    <a href="javascript:$('#contactSelectModal').modal();" class="btn btn-warning">Submit to Customer</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="quote-inventory">
    </div>


    <div class="row">
        <div class="col-md-12" id="quote-select-account">
            <div class="card card-white card-cute-border">
                <div class="card-body">
                    <h2 class="pull-left">Account Services</h2>

                    <!-- action buttons -->
                    <div class="pull-right" style="padding:5px;">
                        <a href="javascript:$('#addproductmodal').modal();" 
                            class="btn btn-sm btn-info">Add Service/Product</a>     
                    </div>
                    <div class="pull-right" style="padding:5px;">
                        <a href="javascript:open_upgrade_dialog();" 
                            class="btn btn-sm btn-success">Upgrade Service</a> 
                    </div>
                    <div class="pull-right" style="padding:5px;">
                        <a href="javascript:open_downgrade_dialog(); " 
                            class="btn btn-sm btn-danger">Downgrade Service</a>
                    </div>

                    <!-- end action buttons -->
					<div class="btn-group pull-right" style="padding:5px;">
					  <button type="button" class="pull-right btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Services
					  </button>
					  <div class="dropdown-menu" style="padding:5px;">
						<a class="dropdown-item" href="javascript:$('#addproductmodal').modal();">add</a>
						<a class="dropdown-item" href="javascript:$('#addproductmodal').modal();">remove</a>

						<a class="dropdown-item" href="javascript:open_upgrade_dialog();">upgrade</a>
						<a class="dropdown-item" href="javascript:open_downgrade_dialog();">downgrade</a>
					  </div>
					</div>
					<div class="btn-group pull-right" style="padding:5px;"> 
					  <button type="button" class="pull-right btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Service Addon
					  </button>
					  <div class="dropdown-menu" style="padding:5px;">
						<a class="dropdown-item" href="javascript:open_upgrade_dialog();">add</a>
						<a class="dropdown-item" href="javascript:open_downgrade_dialog();">remove</a>
					  </div>
					</div>

                    <div class="linebreak10"></div>
                    <div class="linebreak10"></div>
                    <div class="linebreak10"></div>
                    <div class="table-responsive account-details-box-table">
                        <table class="display table table-striped table-bordered">
                            <tr style="font-weight:bold;">
                                <td>Product</td><td> - </td><td>Order</td><td>Quantity</td><td>PPU</td><td>Quantity</td>
                            </tr>
                                    
                            {% for a in account_services %}
                                <tr>
                                    <td>
                                        {{a.product}}<br />
                                        <span class="quotes-itemlist-desc">
                                             <i style="padding-left:0px;">{{a.oi.get_quote_description}}</i>
                                        </span>
                                    </td>
                                    <td>
                                        ID #{{a.pk}}
                                    </td>
                                    <td>
                                        {{a.order.order_number}}
                                    </td>
                                    <td>
                                        {{a.quantity}}x
                                    </td>
                                    <td>${{a.oi.price_per_unit}} </td>
                                    <td>
                                        {{a.price}}
                                    </td>

                                </tr>
                                {% for k,v in quote.get_pretty_items.items %}
                                    {% for kserv, vserv in v.service_addons.items %}

                                        {% for it in vserv %}
                                            {% ifequal it.upgrade_service.pk a.pk %}
                                            <tr {% ifequal it.purchase_type 'upgrade' %}style="background-color:#eefcf1 !important;"{% endifequal %}
                                                {% ifequal it.purchase_type 'downgrade' %}style="background-color:#fceeee !important;"{% endifequal %}>
                                                <td>
                                                    <div class="" style="margin-right:7px;">
                                                        <i class="mdi mdi-subdirectory-arrow-right"></i>
                                                        {{it.product.name}} &nbsp;&nbsp;
                                                        <span class="badge badge-info  ">Service Addon</span>
                                                    </div>
                                                    <span class="quotes-itemlist-desc">
                                                        <i style="padding-left:14px;">{{it.get_quote_description}}</i>
                                                    </span>
                                                </td>
                                                <td>
                                                    {% ifequal it.purchase_type 'upgrade' %}
                                                       <span class="badge badge-success">ADD</span>
                                                    {% endifequal %}
                                                    {% ifequal it.purchase_type 'downgrade' %}
                                                       <span class="badge badge-danger">DOWNGRADE</span>
                                                    {% endifequal %}
                                                </td>
                                                <td> 
                                                    <a href="{% url 'wizard_del_item_from_group' %}?quoteitem_id={{it.pk}}">[delete]</a>
                                                </td>
                                                <td>
                                                    <!-- onchange="javascript:update_quantity_total({{it.pk}}, this.value);" -->
                                                    {% if it.quantity %}{{it.quantity}}x{% else %} 0{% endif %}
                                                </td>
                                                <td>
                                                    <!--label style="width:80px;" id="total_item_{{it.pk}}">$ {{it.get_total}}</label-->
                                                    <!--i id="item_price_{{it.pk}}">{{it.price}}</i-->
                                                    <input type="text" name="itemprice_{{it.pk}}" 
                                                            id="item_price_{{it.pk}}"  class="pull-left"
                                                            value="{{it.price}}" style="width:60px;height:30px;"/>&nbsp;&nbsp;&nbsp;
                                                    <button class="btn btn-xs btn-info pull-left" style="margin-left:6px;height:30px;" 
                                                            onclick="update_price({{it.pk}});">update price</button>
                                                    {% if it.price_changed %}
                                                       <span class="badge badge-danger">price updated</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <label style="width:80px;" id="total_item_{{it.pk}}">$ {{it.get_total}}</label>
                                                </td>


                                            </tr>
                                            {% endifequal %}
                                        {% endfor %}

                                    {% endfor %}
                                {% endfor %}


                            {% endfor %}


                                {% for k,v in quote.get_pretty_items.items %}

                                    {% for it in v.new_service %}
                                        <tr {% ifequal it.purchase_type 'upgrade' %}class="alert alert-success"{% endifequal %}
                                            {% ifequal it.purchase_type 'downgrade' %}class="alert alert-danger"{% endifequal %}
                                            style="background-color:#eefcf1 !important;">
                                                <td>
                                                    <div class="" style="margin-right:7px;">
                                                        <i class="mdi mdi-subdirectory-arrow-right"></i>
                                                        {{it.product.name}} &nbsp;&nbsp;
                                                        <span class="badge badge-warning">New Service</span>
                                                    </div>
                                                    <span class="quotes-itemlist-desc">
                                                        <i style="padding-left:14px;">{{it.get_quote_description}}</i>
                                                    </span>
                                                </td>
                                                <td>
                                                       <span class="badge badge-success">NEW</span>
                                                </td>
                                                <td><a href="{% url 'wizard_del_item_from_group' %}?quoteitem_id={{it.pk}}">[delete]</a></td>
                                                <td>
                                                    <input type="text" 
                                                           onchange="javascript:update_quantity_total({{it.pk}}); " 
                                                        name="item_quantity_{{it.pk}}"
                                                        id="id_item_quantity_{{it.pk}}" 
                                                        style="width:40px;height:30px;"
                                                        editable="false"
                                                        value="{{it.quantity}}" />
                                                        <button class="btn btn-xs btn-info pull-left" style="margin-left:6px;height:30px;" 
                                                                                                      onclick="update_quantity({{it.pk}}, $('#id_item_quantity_'+{{it.pk}}).val());">save</button>
                                                </td>
                                                <td>
                                                    <input type="text" name="itemprice_{{it.pk}}" id="item_price_{{it.pk}}" 
                                                            value="{{it.price}}" style="width:60px;height:30px;" class="pull-left"/>
                                                    <button class="btn btn-xs btn-info pull-left" style="margin-left:6px;height:30px;" 
                                                            onclick="update_price({{it.pk}});">update price</button>
                                                    {% if it.price_changed %}
                                                        Price Updated!
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <label style="width:80px;" id="total_item_{{it.pk}}">$ {{it.get_total}}</label>
                                                </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

   {% if itemgroups %}
    <div class="row">
        <div class="col-md-12" id="quote-select-account">
            <div class="card card-white card-cute-border">
                <div class="card card-body">

            {% for k,v in quote.get_pretty_items.items %}
                    <h2>Item Group {{k}}</h2>
                    {% for kserv, vserv in v.service_addons.items %}
                    <h3><i>Service ID {{kserv}}</i></h3>
                    <div class="col-md-12 col-sm-12" style="padding-top:10px;font-size:12px;">
                        <table class="table table-bordered table-responsive">
                            {% for it in vserv %}
                                <tr {% ifequal it.purchase_type 'upgrade' %}class="alert alert-success"{% endifequal %}
                                    {% ifequal it.purchase_type 'downgrade' %}class="alert alert-danger"{% endifequal %}>
                                    <td>
                                    {% ifequal it.purchase_type 'upgrade' %}
                                       <i style="font-size:17px;color:green;" class="fa fa-plus"></i> 
                                    {% endifequal %}
                                    {% ifequal it.purchase_type 'downgrade' %}
                                       <i style="font-size:17px;color:red;" class="fa fa-minus"></i> 
                                    {% endifequal %}
                                    </td>
                                    <td>{{it.product.name}}</td>
                                    <td><a href="{% url 'wizard_del_item_from_group' %}?quoteitem_id={{it.pk}}">[delete]</a></td>
                                    <td>
                                        <input type="text" name="itemprice_{{it.pk}}" id="item_price_{{it.pk}}" value="{{it.price}}" style="width:60px;height:30px;"/>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" style="height:30px;" 
                                                onclick="update_price({{it.pk}});">update price</button>
                                        {% if it.price_changed %}
                                            Price Updated!
                                        {% endif %}
                                    </td>
                                    <td>
                                        <input type="text" 
                                                onchange="javascript:update_quantity_total({{it.pk}}, this.value);" 
                                                name="item_quantity_{{it.pk}}"
                                                style="width:40px;height:30px;"
                                                editable="false"
                                                value="{{it.quantity}}"/>quant.
                                    </td>
                                    <td>
                                        <label style="width:80px;" id="total_item_{{it.pk}}">$ {{it.get_total}}</label>
                                    </td>
                                </tr>

                            {% endfor %}
                        </table>
                    </div>

                    {% endfor %}
                    {% if v.new_service %}
                        <h3><i>New Services</i></h3>
                        <div class="col-md-12 col-sm-12" style="padding-top:10px;font-size:12px;">
                            <table class="table table-bordered table-responsive">
                            {% for it in v.new_service %}
                                        <tr>
                                            <td><i style="font-size:17px;color:green;" class="fa fa-plus"></i> </td>
                                            <td>
                                                {{it.product.name}}<br />
                                                {% if not it.product.product_type == 'Product' %}Service Address: {{it.service_address}}{% endif %}
                                            </td>
                                        <td><a href="{% url 'wizard_del_item_from_group' %}?quoteitem_id={{it.pk}}">[delete]</a></td>
                                        <td>
                                            <input type="text" name="itemprice_{{it.pk}}" id="item_price_{{it.pk}}" value="{{it.price}}" style="width:60px;height:30px;"/>
                                            <button class="btn btn-primary" style="height:30px;" 
                                                    onclick="update_price({{it.pk}});">update price</button>
                                            {% if it.price_changed %}
                                                Price Updated!
                                            {% endif %}
                                        </td>
                                        <td>
                                            <button class="btn btn-primary" style="height:30px;" 
                                                    onclick="update_price({{it.pk}});">update price</button>
                                            {% if it.price_changed %}
                                                Price Updated!
                                            {% endif %}
                                        </td>
                                        <td>
                                            <input type="text" 
                                                onchange="javascript:update_quantity_total({{it.pk}}, this.value);" 
                                                name="item_quantity_{{it.pk}}"
                                                style="width:40px;height:30px;"
                                                editable="false"
                                                value="{{it.quantity}}"/>quant.
                                        </td>
                                        <td>
                                            <label style="width:80px;" id="total_item_{{it.pk}}">$ {{it.get_total}}</label>
                                        </td>
                                        </tr>
                            
                            {% endfor %}
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    {% else %}
    <!--div class="row">
        <div class="col-md-12" id="quote-select-account">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div class="alert alert-danger">

                       <h3>No Item groups Created</h3>
                       First, you must create the item groups that the products will belong to. 
                       <br /><br />
					    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                            Create Item Group
                        </button>
                </div>
            </div>
        </div>
    </div-->
    {% endif %}



    <!-- item group modal -->
	<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
            <form method="POST" action="{% url 'wizard_add_itemgroup' %}">{% csrf_token %}
                <input type="hidden" name="quoteid" value="{{quote_id}}" />
              <div class="modal-header">
                <h3 class="modal-title">New Item Group</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-11px;">
                  <span aria-hidden="true" style="font-size:24px;">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Enter the name of the Item Group here</p>
                <input type="text" name="new_itemgroup_name" id="new-itemgroup-name" /><br/>
                
              </div>
              <div class="modal-footer">
                  <input type="submit" class="btn btn-primary" value="Save Changes">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </form>
		</div>
	  </div>
	</div>
    <!-- end modal -->


   <!-- info modal -->
	<div class="modal" tabindex="-1" role="dialog" id="infoModal">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h3 class="modal-title">Adding Product or Service</h3>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-11px;">
			  <span aria-hidden="true" style="font-size:24px;">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
              <div class="alert alert-info" style="padding-top:20px;">  
			        <p id='infoModalText'>Test</p>
               </div>
            
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
		  </div>
		</div>
	  </div>
	</div>
    <!-- end modal -->


   <!-- contact select modal -->
	<div class="modal" tabindex="-1" role="dialog" id="contactSelectModal">
	  <div class="modal-dialog" role="document">
          <form action="{% url 'wizard_quotes_submit' pk=quote.pk %}" method="POST">{% csrf_token %}
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title">Select a Contact</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-11px;">
                  <span aria-hidden="true" style="font-size:24px;">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <p id='infoModalText'>Please select the contact you would like to send the quote to.</p><br /><br />
                        <select name="contact_id">
                            {% for i in contacts %}
                            <option value="{{i.pk}}">{{i.firstname}} {{i.lastname}} - {{i.email}}</option>
                            {% endfor %}
                        </select>

                
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-warning" >Send to Customer</button>
              </div>
            </div>
          </form>
	  </div>
	</div>
    <!-- contact select modal -->



   <!-- debug modal -->
	<div class="modal" tabindex="-1" role="dialog" id="debugModal">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h3 class="modal-title">Notification</h3>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-11px;">
			  <span aria-hidden="true" style="font-size:24px;">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
              <div class="alert alert-info" style="padding-top:20px;">  
			        <p id='debugModalText'>Test</p>
               </div>
            
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
		  </div>
		</div>
	  </div>
	</div>
    <!-- debug modal-->


       <!-- add product modal -->
	<div class="modal" tabindex="-1" role="dialog" id="addproductmodal">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
              <div class="modal-body">
                    <form method="POST" action="{% url 'wizard_quotes_step3' pk=quote.pk %}"> {% csrf_token %}
                            <input type="hidden" id="add-product-id" name="add_product_id" value=""/>
                            <input type="hidden" id="add-product-name" name="add_product_name" value=""/>
                            <input type="hidden" id="add-product-price" name="add_product_price" value=""/>

                            <h2>Select Service Address</h2>
                            <p>Select the service address</p>
                            <div class="frmSearch">
                                <input type="text" id="address-search-box" name="address_search_box" />
                                <input type="hidden" id="service-address-id" name="service_address_id" value="" />
                                <input type="hidden" id="service-address-name" name="service_address_name" value="" />
                                <div id="address-results-box"></div>
                            </div>



                            


                            <div id="select-service-dropdown" style="overflow:auto;display:none;">
                                <h2>New Service / Product</h2>
                                <p>Select a Service or Product from the dropdown below</p>
                                <select id="product_select_dropdown" name="product_selected" onchange="javascript:select_prod_item(this.value);">
                                    <option value=""> - Select Service or Product - 
                                    {% for k, v in products_list.items %}
                                        <option disabled></option>
                                        <option style="font-weight:bold;padding-top:10px;padding-botttom:10px;" disabled> -- {{k}} --</option>
                                        <option disabled></option>
                                        {% for prod in v %}
                                        <option value="{{prod.pk}}##{{prod.name}}##{{prod.price}}"> {{prod.name}}</option>
                                        {% endfor %}
                                        <option disabled></option>
                                    {% endfor %}
                                </select>
                                <hr />
                                <h3>Requested activation date </h3>
                                <input type="text" name="req_activation_date" placeholder="2018-01-01"/><br /><br />
                            </div>

                            <div id="quote-item-groups" style="overflow:auto;display:none;">
                                
                                <!--div>
                                    <h2>Select The Item Group</h2>
                                    <select name="quote_item_groups" id="item_grp_dropdown" class="form-control pull-left" style="height:44px;">
                                        <option value="#">Select item group</option>
                                        {% if itemgroups %}
                                            {% for ig in itemgroups %}
                                                <option value="{{ig.pk}}">{{ig.name}}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div-->
                                <hr /><br />
                                <div>
                                    <h2>Quantity</h2>
                                    <input type="hidden" name="item_grp_qty" id="item-group-qty" value="1" style="width:50px"/>
                                    <input type="text" name="item_quantity" id="itemquantity" style="width:50px;"/>
                                </div>
                                <div>
                                    <!--a href="javascript:add_item_to_group();" class="btn btn-success pull-right" id="prod_sel_next"  style="margin-top:50px;">Continue</a-->
                                    <input type="submit" class="btn btn-success" value="Add Product" style="margin-top:50px; width:100%;"/>
                                </div>
                           </div>
                    </form>
                
              </div>
              <div class="modal-footer">
                  <!--input type="submit" class="btn btn-primary" value="Save Changes"-->
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
              </div>
		</div>
	  </div>
	</div>


    <!-- upgrade product modal-->
	<div class="modal" tabindex="-1" role="dialog" id="upgradeproductmodal">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
              <div class="modal-body">
                  <h2>Modify Service: <b id="purchase_type_modal_label"></b></h2>
                <p>Select a Service to Upgrade/Downgrade</p>
                <form method="POST" action="{% url 'wizard_quote_upgrade_service' pk=quote.pk %}"> {% csrf_token %}
                    <input type="hidden" name="action" id="id_action" value="upgrade_action_changeme" />
                    <input type="hidden" name="purchase_type" id="id_purchase_type" value="" />
                    <select name="upgrade_service_select" id="upgrade_service_select_id" onchange="">
                        <option value=""> Select account service</option>
                        {% for i in account_services %}
                            <option value="{{i.pk}}">ID{{i.pk}} - {{i.product.name}} - {{i.order.order_number}}</option>
                        {% endfor %}
                        <option disabled></option>
                        <option style="font-weight:bold;padding-top:10px;padding-botttom:10px;" disabled> -- NEW services --</option>
                        {% for i in quote_items_addon %}
                            <option value="quoteitem_{{i.pk}}">(quote) ID{{i.pk}} - {{i.product.name}} </option>
                        {% endfor %}
                    </select>

                    <br /><br />
                    <a href="javascript:select_upgrade_service($('#upgrade_service_select_id').val());" class="btn btn-danger">
                        Upgrade/Downgrade a  Service
                    </a>
                    <a href="javascript:select_add_serviceaddon(this.value);" class="btn btn-primary">
                        Upgrade/Downgrade a Service-Addon
                    </a>

                    <br /><hr />


                    <div id="upgrade_service_product_div" style="overflow:auto;display:none;">
                        <hr />
                        <h2>Upgrade Service </h2>
                        <p>Select the service to upgrade/downgrade from the dropdown below</p>
                        <input type="text" name="quantity" placeholder="Enter quantity" /><br />
                        <input type="submit" value="Make Changes" class="btn btn-success pull-right" />
                    </div>

                    <div id="upgrade_service_add_serviceaddon" style="overflow:auto;display:none;">
                        <hr />
                        <h2>Select New Service-Addon </h2>
                        <p>Select the new service-addon to add from the dropdown below</p>
                            <select name="upgrade_service_product" id="upgrade_service_product_id">
                                <option value=""></option>
                                {% for sp in service_addons %}
                                <option value="{{sp.pk}}##{{sp.part_number}}">
                                        {{sp.name}}
                                    </option>
                                {% endfor %}
                            </select><br />

                            <a href="javascript:new_serviceaddon($('#upgrade_service_product_id').val());" class="pull-right btn btn-success">
                                Next Step
                            </a>

                    </div>
                        <br /><hr />


                    <div id="new_serviceaddon_selected">

                    </div>


                </form>

              </div>
              <div class="modal-footer">
                  <!--input type="submit" class="btn btn-primary" value="Save Changes"-->
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
              </div>
		</div>
	  </div>
	</div>

               
{% endblock %}

{% block custom_js %}
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
<script type="text/javascript">

function show_products_from_address() {
    // when selecting the service address, the onchange will
    // trigger this function which iwll show the new products dropdown.
    
    //$('#select-service-dropdown');
}

function open_upgrade_dialog() {
    $('#id_purchase_type').val('upgrade');
    $('#upgradeproductmodal').modal();
    $("#purchase_type_modal_label").html('Upgrade');
}
function open_downgrade_dialog() {
    $('#id_purchase_type').val('downgrade');
    $("#purchase_type_modal_label").html('Downgrade');
    $('#upgradeproductmodal').modal();
}

function select_upgrade_service(val) {
    $('#id_action').val('upgrade-service');
    console.log('Select upgrade service - val ' + val);
    $('#upgrade_service_product_div').show();

}

function select_add_serviceaddon(val) {
    $('#id_action').val('new-addon-service');
    console.log('Add Service-addon');
    $('#upgrade_service_add_serviceaddon').show();

}

function update_quantity_total(pk) {
    console.log("Update quantity total");
    var total = val * $('#item_price_'+pk).val();
    console.log("Total is now " + total);
    //$('#total_item_'+pk).html("$ " + total);
    $('#item_price_'+pk).html(total);

}
function new_serviceaddon(val) {
    console.log('New service addon - addon selected ' + val);
    var splits = val.split('##');
    var productid = splits[0];
    var part_num = splits[1];
    console.log('Product id ' + productid);
    console.log('part num ' + part_num);
    // logic to check what kind of serviceaddon it is
    // to determine what fields to show 
    if (part_num == "itpvoice_pbx_did_port") {
        // just add a text area field to paste the numbers
        console.log('DID addon ');
        htmldata = '<h2>Paste phone numbers</h2><p>Paste phone numbers below (one per line)</p>';
        htmldata += '<textarea id="add_new_serviceaddon_numbers" cols="10" rows="10">Paste numbers here</textarea>';
        //htmldata += '<br /><a href="javascript(
        $('#new_serviceaddon_selected').html(htmldata);
        $("#id_action").val('new_serviceaddon');

    } else if(part_num == "itpvoice_pbx_did") {
        console.log("Add new did");
        htmldata = '<h2>New DID phone numbers</h2><p>How many numbers would you like to add?</p>';
        htmldata += '<input type="text" name="num_of_new_dids" placeholder="# of DIDs" class="col-md-3"/>&nbsp;&nbsp;';
        htmldata += '<input type="text" name="new_did_ratecenter" placeholder="Rate Center" class="col-md-6"/>';
        htmldata += '<br /><br /><br />';
        htmldata += '<input type="submit" class="btn btn-success pull-right" style="width:100%;" value="Add new DID Numbers"><br /><br /><br /> ';
        $('#new_serviceaddon_selected').html(htmldata);
        
    }



    //"new_serviceaddon_selected"
}

function new_upgradedowngradeservice(val) {
    console.log('New service addon - addon selected ' + val);
    var splits = val.split('##');
    var productid = splits[0];
    var part_num = splits[1];
    console.log('Product id ' + productid);
    console.log('part num ' + part_num);
    // logic to check what kind of serviceaddon it is
    // to determine what fields to show 
    if (part_num == "itpvoice_pbx_did_port") {
        // just add a text area field to paste the numbers
        console.log('DID addon ');
        htmldata = '<h2>Paste phone numbers</h2><p>Paste phone numbers below (one per line)</p>';
        htmldata += '<textarea id="add_new_serviceaddon_numbers" cols="10" rows="10">Paste numbers here</textarea>';
        //htmldata += '<br /><a href="javascript(
        $('#new_serviceaddon_selected').html(htmldata);
        $("#id_action").val('new_serviceaddon');

    } else if(part_num == "itpvoice_pbx_did") {
        console.log("Add new did");
        htmldata = '<h2>New DID phone numbers</h2><p>How many numbers would you like to add?</p>';
        htmldata += '<input type="text" name="num_of_new_dids" placeholder="# of DIDs" class="col-md-3"/>&nbsp;&nbsp;';
        htmldata += '<input type="text" name="new_did_ratecenter" placeholder="Rate Center" class="col-md-6"/>';
        htmldata += '<br /><br /><br />';
        htmldata += '<input type="submit" class="btn btn-success pull-right" style="width:100%;" value="Add new DID Numbers"><br /><br /><br /> ';
        $('#new_serviceaddon_selected').html(htmldata);
        
    }



    //"new_serviceaddon_selected"
}

function update_price(id) {
    var price = $('#item_price_' + id).val();
    console.log('update price for ' + id + ' to price = ' + price);
    url = "{% url 'wizard_change_item_price' %}?id="+id+"&price="+price;
    console.log(url);
    window.location = url;

}
function update_quantity(id, quant) {
    //var quant = $('id_item_quantity_' + id).val();
    console.log('update quantity for ' + id + ' to quantity = ' + quant);
    url = "{% url 'wizard_change_item_quantity' %}?id="+id+"&quantity="+quant;
    console.log(url);
    window.location = url;

}

var QUOTE_ITEM_DATA = {};

function add_item_group() {
    var h = $('#item_grp_dropdown').html();
    var igname = $('#new-itemgroup-name').val();
    var h2 = h + '<option value="' + igname + '">' + igname + '</option>'; 
    console.log(h2);
    if (QUOTE_ITEM_DATA[igname] === undefined) {
        $("#item_grp_dropdown").html(h2);
        QUOTE_ITEM_DATA[igname] = [];
    }
    $('#exampleModal').modal('hide');
    var msg = 'Created item group: ' + igname;
    $('#infoModalText').html(msg);
    $('#infoModal').modal();
    update_item_listing();

}

function add_item_to_group() {
    // $("#quote-select-account").css('display', 'none');
    console.log($("#item_grp_dropdown").val());
    var igname = $("#item_grp_dropdown").val();
    var pid = $('#add-product-id').val();
    var pname = $('#add-product-name').val();
    var price = $('#add-product-price').val();
    QUOTE_ITEM_DATA[igname].push({'product': pname, 'pid': pid, 'itemgroup': igname, 'price': price});
    var msg = 'The Product/Service ' + pname + ' was successfully added to item group: ' + igname;
    $('#infoModalText').html(msg);
    $('#infoModal').modal();
    update_item_listing();

}
function update_item_listing() {//$('#quote-inventory').html('&nbsp;');
    
    var inhtml = '';
    var subhtml = '';
    for (let [key, value] of Object.entries(QUOTE_ITEM_DATA)) {
        console.log('iterating quote items: ' + key);
        var itemgroup_name = key;
        inhtml += '<div class="col-md-12" id="quote-select-account">';
        inhtml += '<div class="panel panel-white">';
        inhtml += '<div class="panel-body">';
        inhtml += '<h3>Item Group: ' + itemgroup_name + '</h3>';

        //console.log(inhtml);
        //$('#quote-inventory').html($('#quote-inventory').html() + inhtml);
        console.log('hello');
        var subhtml = '';
        if (value.length <= 0) {
            subhtml = '<div class="alert alert-danger">here are no products in this group</div>';
        } else {
            inhtml += '<table class="table table-bordered">';
            for (let v of value) {
                console.log(v);
                subhtml += '<tr><td>' + v.product + '</td><td>' + v.price + '</td><td><a href="#">[remove]</a></td></tr>';
            }
            subhtml += '</table>';
        }
        
        inhtml += subhtml;
        inhtml += '</div></div></div>';

    }
    $('#quote-inventory').html(inhtml);

}

        {% if debug_msg %}
            var msg = '{{debug_msg}}';
            $('#debugModalText').html(msg);
            $('#debugModal').modal();

        {% endif %}


function select_prod_item(val) {
    console.log("Selected product " + val);
    $('#quote-item-groups').show();
    // id##anme##price
    var splits = val.split('##');
    var productid = splits[0];
    var productname = splits[1];
    var productprice = splits[2];

    $('#add-product-id').val(productid);
    $('#add-product-name').val(productname);
    $('#add-product-price').val(productprice);

}
    
$(document).ready(function(){
		$("#search-box").autocomplete({
			minLength: 3,
            select: function(event, data) {
				//console.log(data.item.label);
				//console.log(data.item.id);
				$("#suggesstion-box").show();
				$("#suggesstion-box").html('Selected Product ID: ' + data.item.id);
				$("#search-box").css("background","#FFF");
                //a$('#prod_sel_next').show();
                $('#quote-item-groups').show();
                $('#add-product-id').val(data.item.id);
                $('#add-product-name').val(data.item.label);
                $('#add-product-price').val(data.item.price);

            },
            source: function(req, resp) {
              $.ajax({
				type: "GET",
				url: "/ajax/autocomplete/products/",
				data:'q='+req.term,
				beforeSend: function(){
					$("#search-box").css("background","#FFF url(loading.gif) no-repeat 165px");
				},
				success: function(data){
                    //console.log(data);
					resp($.map(data, function (item) {
                    return {
                          label: item.name,
                          value: item.name,
						  id: item.id,
                          price: item.price
                    	}
                	}))
				},
			  });
            }
		});
		$("#address-search-box").autocomplete({
			minLength: 3,
            select: function(event, data) {
				//console.log(data.item.label);
				console.log(data.item.pk);
				//$("#suggesstion-box").show();
				//$("#suggesstion-box").html('Selected Service Address ID: ' + data.item.id);
				$("#address-results-box").html('Selected Service Address ID: ' + data.item.id);
				$("#search-box").css("background","#FFF");
                //a$('#prod_sel_next').show();
                //$('#quote-item-groups').show();
                $('#service-address-id').val(data.item.id);
                $('#service-address-name').val(data.item.label);
                $('#select-service-dropdown').show();
                

                $.ajax({
                    type: "GET",
                    url: "/ajax/prod-by-service-address/",
                    data: "pk="+data.item.id,
                    success: function(data2) {
                        console.log("Products by service address search...");
                        console.log("Service address ID " + data.item.id);
                        //console.log(data.result.service_address);
                        //console.log(data.result['service_address']);
                        //$('#quote_account_name2').html(data2.result.name);
                        //$("#quote-select-account2").css('display', 'block');
                        //addr_fields.forEach(function(item) {
                        //    $('#id_'+item).val(data2.result[item]);
                        //});
                        var html = '<option value=""> - Select Service or Product - </option>';
                        for (var k in data2) {
                            html += '';
                            html += '<option disabled></option>'
                            html += '<option style="font-weight:bold;padding-top:10px;padding-botttom:10px;" disabled> -- '+ k +' --</option>'
                            console.log('iterate results..');
                            console.log(k);
                            for (i = 0; i < data2[k].length; i++) {
                                console.log(" - " + data2[k][i]['pk']);
                                html += '<option value="'+data2[k][i]['pk']+'##'+ data2[k][i]['name'] + '##' + data2[k][i]['price'] + '"> '+ data2[k][i]['name'] +'</option>';
                            }
                            html += '<option disabled></option>';
                        }
                        $('#product_select_dropdown').html(html);
                        return data2;
                    },
                });


                                    /*<option value=""> - Select Service or Product - 
                                    {% for k, v in products_list.items %}
                                        <option disabled></option>
                                        <option style="font-weight:bold;padding-top:10px;padding-botttom:10px;" disabled> -- {{k}} --</option>
                                        <option disabled></option>
                                        {% for prod in v %}
                                        <option value="{{prod.pk}}##{{prod.name}}##{{prod.price}}"> {{prod.name}}</option>
                                        {% endfor %}
                                        <option disabled></option>
                                    {% endfor %}*/

            },
            source: function(req, resp) {
              $.ajax({
				type: "GET",
				url: "/ajax/autocomplete/service-address/",
				data:'q='+req.term,
				beforeSend: function(){
					$("#address-search-box").css("background","#FFF url(loading.gif) no-repeat 165px");
				},
				success: function(data){
                    console.log(data);
					resp($.map(data, function (item) {
                        $(".ui-autocomplete").css("z-index", "2147483647");
                        $(".ui-autocomplete").css("overflow", "auto"); 
                        $(".ui-autocomplete").css("width", "100%"); 
                        return {
                              label: item.full_address,
                              value: item.full_address,
                              id: item.pk,
                            }
                    }))
				},
			  });
            }
		});



});

function selectCountry(val) {
    //To select country name
    $("#search-box").val(val);
    $("#suggesstion-box").hide();
}
</script>
{% endblock %}
