{% load customtags2 %}
<!DOCTYPE html>
<html>
<head>
    <title>HTML to API - Invoice</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" href="sass/main.css" media="screen" charset="utf-8"/> -->
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="content-type" content="text-html; charset=utf-8">
    <style type="text/css">
        @page {
                size: {{ pagesize }};
                margin: 0cm;
                @frame footer {
                    -pdf-frame-content: footerContent;
                    bottom: 0cm;
                    margin-left: 9cm;
                    margin-right: 9cm;
                    height: 1cm;
                }
            }
        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed,
        figure, figcaption, footer, header, hgroup,
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            font-size: 100%;
            vertical-align: baseline;
        }

        html {
            line-height: 1;
        }

        ol, ul {
            list-style: none;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        caption, th, td {
            text-align: left;
            font-weight: normal;
            vertical-align: middle;
        }

        q, blockquote {
            quotes: none;
        }
        q:before, q:after, blockquote:before, blockquote:after {
            content: "";
            content: none;
        }

        a img {
            border: none;
        }

        article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
            display: block;
        }

        body {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 300;
            font-size: 12px;
            margin: 0;
            padding: 0;
        }
        body a {
            text-decoration: none;
            color: inherit;
        }
        body a:hover {
            color: inherit;
            opacity: 0.7;
        }
        body .container {
            min-width: 500px;
            margin: 0 auto;
            padding: 0 20px;
        }
        body .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }
        body .left {
            float: left;
        }
        body .right {
            float: right;
        }
        body .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        body .no-break {
            page-break-inside: avoid;
        }

        header {
            margin-top: 20px;
            margin-bottom: 50px;
        }
        header figure {
            float: left;
            width: 60px;
            height: 60px;
            margin-right: 10px;
            background-color: #8BC34A;
            border-radius: 50%;
            text-align: center;
        }
        header figure img {
            margin-top: 13px;
        }
        header .company-address {
            float: left;
            max-width: 150px;
            line-height: 1.7em;
        }
        header .company-address .title {
            color: #e53928;
            font-weight: 400;
            font-size: 1.5em;
            text-transform: uppercase;
        }
        header .company-contact {
            float: right;
            height: 60px;
            padding: 0 0px;
            background-color: #fff;
            color: #e53928;
        }
        header .company-contact span {
            display: inline-block;
            vertical-align: middle;
        }
        header .company-contact .circle {
            width: 20px;
            height: 20px;
            background-color: white;
            border-radius: 50%;
            text-align: center;
        }
        header .company-contact .circle img {
            vertical-align: middle;
        }
        header .company-contact .phone {
            height: 100%;
            margin-right: 20px;
        }
        header .company-contact .email {
            height: 100%;
            min-width: 100px;
            text-align: right;
        }

        section .details {
            margin-bottom: 55px;
        }
        section .details .client {
            width: 50%;
            line-height: 20px;
        }
        section .details .client .name {
            color: #e53928;
        }
        section .details .data {
            width: 50%;
            text-align: right;
        }
        section .details .title {
            margin-bottom: 15px;
            color: #e53928;
            font-size: 3em;
            font-weight: 400;
            text-transform: uppercase;
        }
        section table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            font-size: 0.9166em;
        }
        section table .qty, section table .unit, section table .total {
            width: 15%;
        }
        section table .desc {
            width: 55%;
        }
        section table thead {
            display: table-header-group;
            vertical-align: middle;
            border-color: inherit;
        }
        section table thead th {
            padding: 5px 10px;
            background: #e53928;
            border-bottom: 5px solid #FFFFFF;
            border-right: 4px solid #FFFFFF;
            text-align: right;
            color: white;
            font-weight: 400;
            text-transform: uppercase;
        }
        section table thead th:last-child {
            border-right: none;
        }
        section table thead .desc {
            text-align: left;
        }
        section table thead .qty {
            text-align: center;
        }
        section table tbody td {
            padding: 10px;
            /*background: #e5e5e5 */;
        background: #fff;
            color: #000;
            text-align: right;
            border-bottom: 3px solid #ddd;
            border-right: 4px solid #fff;
        }
        section table tbody td:last-child {
            border-right: none;
        }
        section table tbody h3 {
            margin-bottom: 5px;
            color: #e53928;
            font-weight: 600;
        }
        section table tbody .desc {
            text-align: left;
        }
        section table tbody .qty {
            text-align: center;
        }
        section table.grand-total {
            margin-bottom: 45px;
        }
        section table.grand-total td {
            padding: 5px 10px;
            border: none;
            color: #777777;
            text-align: right;
        }
        section table.grand-total .desc {
            background-color: transparent;
        }
        section table.grand-total tr:last-child td {
            font-weight: 600;
            color: #e53928;
            font-size: 1.18181818181818em;
        }

        /*footer {
            margin-bottom: 20px;
        }
        footer .thanks {
            margin-bottom: 40px;
            color: #e53928;
            font-size: 1.16666666666667em;
            font-weight: 600;
        }
        footer .notice {
            margin-bottom: 25px;
        }
        footer .end {
            padding-top: 5px;
            border-top: 2px solid #e53928;
            text-align: center;
        }*/
        @page {
                size: A4;
                margin: 10mm 5mm;
        }
        footer
        {
                position        : fixed;
                right           : 0;
                bottom          : 0;
                margin-bottom   : -10mm;
                height          : 10mm;
                text-align      : right;
                font-size       : 10px;
        }
    </style>
</head>

<body>
    <header class="clearfix">
        <div class="container">
            <div class="company-address" style="max-width:400px !important;">

        <img src="http://192.112.255.145/pdf-documents/itpfiber-logo.png" style="width:150px;"/>
                <h2 class="title"></h2>
                <p style="font-family:arial !important;">350 Sevilla Ave Suite 202<br />
                Coral Gables, FL 33134<br />
                <a href="tel:8775254itp">(877) 525 - 4ITP</a>
                    <a href="mailto:sales@itpscorp.com">billing@itpfiber.com</a>
                </p>

        <div style="padding-bottom:0px;padding-top:30px;width:100%;">
          <div class="client left">
            <div style="background-color:#e53928;color:#fff;padding:3px;width:400px;">
              Billing Address 
            </div>
            <div style="background-color:#ddd;color:#000;padding:10px;">
              <p class="name" style="font-size:20px;color:#e53928;font-family:arial !important;">{{quote.account.name}}</p>
              {{quote.account.billing_address}}<br />
              {{quote.account.billing_city}}, {{quote.account.billing_state}} {{quote.account.billing_zipcode}}<br />
            </div>
          </div>
        </div>
            </div>
            <div class="company-contact">
        <div class="details clearfix">
          <div class="data right">
            <div class="title" style="color:#000;font-size:30px;font-family: arial !important;">Quote #{{quote.pk}}</div>
            <div class="date" style="color:#000 !important;font-family:arial !important;">
              <br /><br />
              Date: {{quote.date_created.month}}/
              {{quote.date_created.day}}/{{quote.date_created.year}}
              <br>
              Account Number: {{quote.account.accountnumber}}<br />
              Quote Valid Until: {{valid_until.month}}/{{valid_until.day}}/{{valid_until.year}}
            </div>
          </div>
        </div>
      </div>
        </div>
    </header>

    <section>
        <div class="container">
            <table border="0" cellspacing="0" cellpadding="0" style="font-family:Arial !important;">
                <thead>
                    <tr>
                        <th class="desc" style="font-weight:bold;">Monthly Recurring Charges</th>
                        <th class="">Quantity</th>
                        <th class="unit">Unit price</th>
                        <th class="total">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for qi in quote.get_quote_items %} 

                    {% for k, v in qi.items %} 
                    {% for item in v %}
                    <!-- orderitems that are purchasetype=new-order and addons view to new(pending) service -->
                    {% if not item.product.product_type == 'Product' and not item.purchase_type == 'upgrade' and not item.purchase_type == 'downgrade' and not item.purchase_type == 'disconnect' and not item.product.product_type == 'ServiceAddon' %}
                     <tr>
                         <td class="desc"><h3>{{item.product.name}} (NEW {{item.purchase_type}})</h3>{{item.get_quote_description}}<br />
                          {% if not item.product.product_type == 'Product' %}Service Address: {{item.service_address.get_long_linear_address}}{% endif %}
        
                        </td>
                        <td>{{item.quantity}}</td>
                        <td class="unit">${{item.price}}</td>
                        <td class="total">${{item.item_price_total}}</td>
                      </tr>

                      {% for servaddons in item.get_related_addons %}
                        <tr>
                            <td class="desc" style="padding-left:25px;">- {{servaddons.product.name}} (NEW)<br />{{servaddons.get_quote_description}}</td>
                            <td>
                                1
                            </td>
                            <td>{{servaddons.price}}</td>
                            <td>{{servaddons.item_price_total}}</td>
                        </tr>

                      {% endfor %}


                    {% endif %}
                    {% endfor %}
                      {% endfor %}
                    {% endfor %}

                    
                    {% for a in account_services %} 

                    {% with has_upgrade=a|pending_upgrades:quote.pk has_downgrade=a|pending_downgrades:quote.pk has_disconnect=a|pending_disconnect:quote.pk %}
                        {% with upgrade_pk=has_upgrade.pk upgrade_quantity=has_upgrade.quantity upgrade_price=has_upgrade.price downgrade_pk=has_downgrade.pk downgrade_quantity=has_downgrade.quantity downgrade_price=has_downgrade.price disconnect_pk=has_disconnect.pk %}

                    <tr>
                    <td class="desc">
                        <h3>
                            {% if has_disconnect %}
                            <strike>{{a.oi.product.name}} (Existing Service)</strike> Disconnect on {{has_disconnect.req_activation_date}}
                            {% else %}
                                {{a.oi.product.name}} (Existing Service)
                            {% endif %}
                        </h3>
                        {% if has_disconnect %}
                            <strike>{{a.oi.get_quote_description}}</strike><br />
                        {% else %}
                            {{a.oi.get_quote_description}}<br />
                        {% endif %}
                      {% if not a.oi.product.product_type == 'Product' %}
                        
                        {% if has_disconnect %}
                            <strike>Service Address: {{a.get_service_address.get_long_linear_address}}</strike><br />
                         {% else %}
                             Service Address: {{a.get_service_address.get_long_linear_address}}<br/>
                         {% endif %}
                      {% endif %}
                      {% if a.contract_terms %}Contract Terms: {{a.contract_terms}} {% endif %}
                    </td>
                    <td class="">
                            {% if has_upgrade or has_downgrade %}
                              {% if has_upgrade %} upgrade {% endif %} {% if has_downgrade %} downgrade {% endif %} {% if has_disconnect %} disconnect {% endif %}
                                {% if has_upgrade.product.part_number == 'itp_fiber' or has_downgrade.product.part_number == 'itp_fiber' %}


                                    {{a.oi.product.metadata.download_speed}}/{{a.oi.product.metadata.upload_speed}} Mbps
                                    {% if upgrade_quantity %} 
                                        <!--b style="color:green;"> <i class="mdi mdi-arrow-right"></i> {{upgrade_quantity}}</b-->
                                        to  <b style="color:green;"> 
                                            {{has_upgrade.product.metadata.download_speed}}/{{has_upgrade.product.metadata.upload_speed}}Mbps
                                        </b>
                                    {% endif %}
                                    {% if downgrade_quantity %} 
                                   to  <b style="color:red;">
                                            {{has_downgrade.product.metadata.download_speed}}/{{has_downgrade.product.metadata.upload_speed}}Mbps
                                        </b>
                                    {% endif %}

                                {% else %}
                                    {{a.quantity}} 
                                    {% if upgrade_quantity %} 
                                    to <b style="color:green;"> {{upgrade_quantity}}</b>
                                    {% endif %}
                                    {% if downgrade_quantity %} 
                                    to <b style="color:red;"> {{downgrade_quantity}} </b>
                                    {% endif %}
                                        
                                    {% endif %}
                            {% else %}
                                
                                {{a.quantity}} 
                                {% if upgrade_quantity %} 
                                to <b style="color:green;"> {{upgrade_quantity}}</b>
                                {% endif %}
                                {% if downgrade_quantity %} 
                                to <b style="color:red;"> {{downgrade_quantity}} </b>
                                {% endif %}

                           {% endif %}
            
                    </td>
                    <td class="unit">
                            {% if not has_upgrade and not has_disconnect and not has_downgrade %}
                                ${{a.price_per_unit}}
                            {% endif %}

                            {% if has_upgrade %}
                                {% ifnotequal upgrade_price a.price_per_unit %}
                                    <strike>${{a.price_per_unit}}</strike>
                                    to ${{upgrade_price}}
                                {% else %}
                                    {{upgrade_price}}
                                {% endifnotequal %}
                             {% endif %}

                            {% if has_downgrade %}
                                {% ifnotequal downgrade_price a.price_per_unit %}
                                    <strike>${{a.price_per_unit}}</strike>
                                    to ${{downgrade_price}}
                                {% else %}
                                    {{downgrade_price}}
                                {% endifnotequal %}
                             {% endif %}

                            {% if has_disconnect %}
                                {% ifnotequal disconnect_price a.price_per_unit %}
                                    <strike>${{a.price_per_unit}}</strike>
                                    to ${{disconnect_price}}
                                {% else %}
                                    ${{disconnect_price}}
                                {% endifnotequal %}
                             {% endif %}

                        </td>
                        <td class="total">
                            {% if  not has_upgrade and not has_disconnect and not has_downgrade %}
                                ${{a.price}}
                            {% endif %}

                            {% if has_upgrade %}
                            <strike>${{a.price}}</strike> to 
                                <b style="color:green !important;">${{has_upgrade.get_total}}</b>
                            {% endif %}

                            {% if has_downgrade %}
                            <strike>${{a.price}}</strike> to 
                                <b style="color:red !important;">${{has_downgrade.get_total}}</b>
                            {% endif %}
                        </td>
                    </tr>

                    <!-- service addons eh -->
                    {% for addon in a.get_service_addons %}
                        <tr>
                            <td class="desc" style="padding-left:25px;">- {{addon.product.name}} (existing)<br />
                                {{addon.get_quote_description}}</td>
                            <td>
                                1
                            </td>
                            <td>{{addon.price_per_unit}}</td>
                            <td>{{addon.price}}</td>
                        </tr>
                    {% endfor %}

                    {% for servaddons in quote_service_addons %}
                        {% if servaddons.upgrade_service.pk == a.pk %}
                            <tr {% ifequal servaddons.purchase_type 'upgrade' %}class="alert alert-success"{% endifequal %}
                                {% ifequal servaddons.purchase_type 'downgrade' %}class="alert alert-danger"{% endifequal %}>
                                <td class="desc" style="padding-left:25px;">- {{servaddons.product.name}} (new)<br />
                                    {{servaddons.get_quote_description}}</td>
                                <td>{{servaddons.quantity}}</td>
                                <td>{{servaddons.price_per_unit}}</td>
                                <td>{{servaddons.item_price_total}}</td>

                            </tr>
                        {% endif %}
                    {% endfor %}
                    
                    <!-- end service addons -->

                    {% endwith %}{% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        <div>
            <div class="no-break">
                <table class="grand-total">
                    <tbody>
                        <tr>
                            <td class="desc" style="border-width:0px 0px 0px 0px;"></td>
                            <td class="qty" style="border-width:0px 0px 0px 0px;"></td>
                            <td class="unit" style="border-width:0px 0px 0px 0px;">SUBTOTAL:</td>
                            <td class="total" style="border-width:0px 0px 0px 0px;">${{mrc_subtotal}}</td>
                        </tr>
                        <tr>
                            <td class="desc" style="border-width:0px 0px 0px 0px;"></td>
                            <td class="qty" style="border-width:0px 0px 0px 0px;"></td>
                            <td class="unit" style="border-width:0px 0px 0px 0px;">:</td>
                            <td class="total" style="border-width:0px 0px 0px 0px;"></td>
                        </tr>
                        <tr>
                            <td class="desc"  style="border-width:0px 0px 0px 0px;"></td>
                            <td class="unit" colspan="2" style="background-color:#e53928;color:#fff;font-family:arial !important;">TOTAL MONTHLY CHARGES:</td>
                            <td class="total" style="background-color:#e53928;color:#fff;font-family:arial !important;">{{mrc_subtotal}}</td>
                        </tr>
                </tbody>
            </table>
            <div style="width:100%;height:30px;overflow:auto;"></div>
            <div class="no-break">

            <!-- came back omg -->
            <table border="0" cellspacing="0" cellpadding="0" style="font-family:arial !important;">
                <thead>
                    <tr>
                        <th class="desc" style="font-weight:bold;">Non-Recurring Charges</th>
                        <th class="qty">Quantity</th>
                        <th class="unit">Unit price</th>
                        <th class="total">Total</th>
                    </tr>
                </thead>
                <tbody>

                    {% for qi in quote.get_quote_items %} 
                    {% for k, v in qi.iteritems %} 
                    {% for item in v %}

                    {% if item.product.product_type == 'Product' %}
                    <tr>
                        <td class="desc" style="padding-left:15px;">
                            <h3>{{item.product.name}}</h3>
                            {{item.get_quote_description}}<br />
                            {% if not item.product.product_type == 'Product' %}
                                Service Address: {{item.service_address.get_long_linear_address}}
                            {% endif %}

                        </td>
                        <td class="qty">{{item.quantity}}</td>
                        <td class="unit">${{item.price}}</td>
                        <td class="total">${{item.item_price_total}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>

            <div class="no-break">
                <table class="grand-total" style="font-family:arial !important;">
                    <tbody>
                        <tr>
                            <td class="desc"></td>
                            <td class="qty"></td>
                            <td class="unit">SUBTOTAL:</td>
                            <td class="total">${{nrc_subtotal}}</td>
                        </tr>
                        <tr>
                            <td class="desc"></td>
                            <td class="qty"></td>
                            <td class="unit">TAX:</td>
                            <td class="total">${{tax_totals}}</td>
                        </tr>
                        <tr>
                            <td class="desc"></td>
                            <td class="unit" colspan="2" style="background-color:#e53928;color:#fff;">TOTAL ONE-TIME CHARGES:</td>
                            <td class="total" style="background-color:#e53928;color:#fff;">${{tax_sum}}</td>
                        </tr>
                    </tbody>
                </table>
    <!-- clap back that --> 


            </div>
        </div>
    </section>

    <footer>
    <div class="container">
      <div id="footerContent" style="width:100%;text-align:right;">
        __________<br />
                initials
      </div>
    </div>
    </footer>

</body>

</html>
