<!-- itpvoice nav tabs-->
<ul class="nav nav-tabs customtab" role="tablist" style="font-size:12px !important;">
    <li class="nav-item"> 
        <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">
            <span class="hidden-sm-up">
                <i class="ti-home"></i>
            </span> 
            <span class="hidden-xs-down">Overview</span>
        </a> 
    </li>
    
    <li class="nav-item"> 
        <a class="nav-link" data-toggle="tab" href="#phone-numbers" role="tab">
            <span class="hidden-sm-up">
                <i class="ti-email"></i></span> 
                <span class="hidden-xs-down">Phone Numbers</span>
            </a> 
    </li>
</ul>
<!-- end itpvoice nav tabs-->