<!-- itpvoice nav tabs-->
<ul class="nav nav-tabs customtab" role="tablist" style="font-size:12px !important;">
        <li class="nav-item"> 
            <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">
                <span class="hidden-sm-up">
                    <i class="ti-home"></i>
                </span> 
                <span class="hidden-xs-down">Overview</span>
            </a> 
        </li>
        
        
    
        <li class="nav-item"> 
            <a class="nav-link" data-toggle="tab" href="#service-addons" role="tab">
                <span class="hidden-sm-up">
                    <i class="ti-email"></i></span> 
                    <span class="hidden-xs-down">Addon Services</span>
                </a> 
        </li>


        <li class="nav-item"> 
                <a class="nav-link" data-toggle="tab" href="#metadata" role="tab">
                    <span class="hidden-sm-up">
                        <i class="ti-email"></i></span> 
                        <span class="hidden-xs-down">Metadata </span>
                    </a> 
            </li>
    </ul>
    <!-- end itpvoice nav tabs-->