<div class="tab-pane active" id="overview" role="tabpanel">
    <div class="p-20">
        

        <div class="row" style="padding:0px;">

            <!-- card -->
            <div class="col-md-12 col-sm-12" style="padding-left:10px;float:left;">
                <div class="" style="padding-left:0px">
                    <div class="card card-cute-border">
                        <div class="card-body">
                            <div class="align-self-center">
                                <h4 class="text-muted m-t-10 m-b-0 account-details-box-heading">
                                    Service {{object.product.name}} 
                                </h4>
                            </div>
                            <div class="table-responsive account-details-box-table">  
                                    <table class="table">
                                        
                                        <tr>
                                            <td>Service Address</td>
                                            <td>{{object.service_address}}</td>
                                        </tr>
                                        <tr>
                                            <td>Quantity</td>
                                            <td>{{object.quantity}}</td>
                                        </tr>
                                        <tr>
                                            <td>Price per Unit</td>
                                            <td>{{object.price_per_unit}}</td>
                                        </tr>
                                        <tr>
                                            <td>Order Item</td>
                                            <td>
                                                {% if object.oi %}
                                                    <a target="_blank" href="{% url 'orderitems_detail' pk=object.oi.pk %}">#{{object.oi.pk}}</a>
                                                {% else %}
                                                 n/a 
                                                 {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Price</td>
                                            <td>{{object.price}}</td>
                                        </tr>
                                        <tr>
                                            <td>Provision Status</td>
                                            <td>{% if object.provision_status == 'provisioned' %}<i class="fas fa-check-square" style="color:green !important;"></i>{% else %}<i class="far fa-times-circle" style="color:red;"></i>{% endif %}</td>
                                        </tr>
                                        
                                    </table>
                                </div>

                        </div>
                    </div>
                </div>
            </div><!-- end card -->

            
        
        </div> <!-- end row -->

        <!-- overview tab END -->

    </div>
</div>


<div class="tab-pane" id="phone-numbers" role="tabpanel">
    <div class="p-20">
        

        <div class="row" style="padding:0px;">

            <!-- card -->
            <div class="col-md-12 col-sm-12" style="padding-left:10px;float:left;">
                <div class="" style="padding-left:0px">
                    <div class="card card-cute-border">
                        <div class="card-body">
                            <div class="align-self-center" style="width:100% !important;">
                                <h4 class="text-muted m-t-10 m-b-0 account-details-box-heading">
                                    Phone Numbers
                                </h4>
                            </div>
                            <div class="table-responsive account-details-box-table">
                                {% if phone_numbers %}
                                <table class="table color-bordered-table info-bordered-table">
                                    <thead>
                                        <tr style="font-weight:bold;font-height:14px;">
                                            <th>
                                            <th>ID</th>
                                            <th>Number</th>
                                            <th>StTypeatus</th>
                                        </tr>
                                    </thead>
                                    {% for ph in phone_numbers %}
                                    <tr>
                                        <td>
                                            
                                            <a class="btn btn-xs btn-info" href="#">
                                                View
                                            </a>
                                            
                                        </td>
                                        <td>{{ph.pk}}</td>
                                        <td>{{ph.metadata.did}}</td>
                                        <td>{{ph.product.name}}</td>
                                    </tr>
                                    {% endfor %}
                                    
                                </table>
                                {% else %}
                                    <div class="alert alert-info account-details-alert-text">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                                                <span aria-hidden="true">×</span> 
                                            </button>
                                            <h3 class="text-info">
                                                <i class="fa fa-exclamation-circle"></i> Information
                                            </h3> 
                                            There are no phone numbers registered on this account.
                                    </div>
    
    
    
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
            </div><!-- end card -->
        
        </div> <!-- end row -->

    </div>
</div> <!-- end the tab -->




<div class="tab-pane" id="service-addons" role="tabpanel">
        <div class="p-20">
            
    
            <div class="row" style="padding:0px;">
    
                <!-- card -->
                <div class="col-md-12 col-sm-12" style="padding-left:10px;float:left;">
                    <div class="" style="padding-left:0px">
                        <div class="card card-cute-border">
                            <div class="card-body">
                                <div class="align-self-center" style="width:100% !important;">
                                    <h4 class="text-muted m-t-10 m-b-0 account-details-box-heading">
                                        Addon Services
                                    </h4>
                                </div>
                                <div class="table-responsive account-details-box-table">
                                    {% if all_other_addons %}
                                    <table class="table color-bordered-table info-bordered-table">
                                        <thead>
                                            <tr style="font-weight:bold;font-height:14px;">
                                                
                                                <th>ID</th>
                                                <th>Product</th>
                                                <th>Rel.</th>
                                                <th>Type</th>
                                                <th>Price</th>
                                            </tr>
                                        </thead>
                                        {% for sa in all_other_addons %}
                                        <tr>
                                            <!----td>
                                                
                                                <a class="btn btn-xs btn-info" href="#">
                                                    View
                                                </a>
                                                
                                            </td-->
                                            <td>{{sa.pk}}</td>
                                            <td>{{sa.product}}</td>
                                            <td>{{sa.product.product_rel}}</td>
                                            <td>{{sa.product.product_key.name}}</td>
                                            <td>{{sa.price}}</td>
                                        </tr>
                                        {% endfor %}
                                        
                                    </table>
                                    {% else %}
                                        <div class="alert alert-info account-details-alert-text">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                                                    <span aria-hidden="true">×</span> 
                                                </button>
                                                <h3 class="text-info">
                                                    <i class="fa fa-exclamation-circle"></i> Information
                                                </h3> 
                                                There are no other addon services.
                                        </div>
        
        
        
                                    {% endif %}
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div><!-- end card -->
            
            </div> <!-- end row -->
    
        </div>
    </div> <!-- end the tab -->