{% extends 'crm/base2.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
     <li class="breadcrumb-item"><a href="/">Home</a></li>
     <li class="breadcrumb-item active" class="">Admin Tools</li>
     <li class="breadcrumb-item active" class="active">International Billing</li>
    </ol>
{% endblock %}


{% block page_title %}
    Billing for International Rates
{% endblock %}


{% block content %}

    <div class="row">

		<div class="col-12">
        	<div class="card card-cute-border">
            	<div class="card-body">
                	<!--h4 class="card-title">Responsive Table </h4>
                    <h6 class="card-subtitle">Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive </code></h6-->
                    <div class="table-responsive account-details-box-table">
                        <a href="javascript:$('#import_csv_modal').modal();" class="btn btn-sm btn-danger">Import CSV</a>&nbsp;&nbsp;
                        <a href="javascript:$('#import_single_modal').modal();" class="btn btn-sm btn-primary">Import Single Entry</a>
                        <br /><br />
                        <table class="table color-bordered-table info-bordered-table" style="width: 98%; cellspacing: 0;">
                            <thead>
                                <tr style="color:#fff !important;">
                                    <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'created' %}-created{% else %}created{% endifequal %}">created </a></th>
                                    <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'destination' %}-destination{% else %}destination{% endifequal %}">destination </a></th>
                                    <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'cost' %}-cost{% else %}cost{% endifequal %}">cost </a></th>
                                    <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'customer_cost' %}-customer_cost{% else %}customer_cost{% endifequal %}">customer_cost </a></th>
                                    <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'enabled' %}-enabled{% else %}enabled{% endifequal %}">enabled </a></th>
                                    <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'carrier' %}-carrier{% else %}carrier{% endifequal %}">carrier </a></th>
                                    <th><a style="color:#fff !important;" href="?order_by={% ifequal order_by 'country' %}-country{% else %}country{% endifequal %}">country </a></th>
                                    <th></th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in object_list %}
                                <tr>
                                    <td>{{i.created}}</td>
                                    <td>{{i.destination}}</td>
                                    <td>{{i.cost}}</td>
                                    <td>{{i.customer_cost}}</td>
                                    <td>{{i.enabled}}</td>
                                    <td>{{i.carrier}}</td>
                                    <td>{{i.country}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                           </table>  

                           {% if errors %}
                           <div class="alert alert-danger">
                               An error occured: {{errors}}
                           </div>
                           {% endif %}

                           {% if is_paginated %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}&order_by={{order_by}}">&laquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                <li><a href="?page={{ i }}&order_by={{order_by}}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}&order_by={{order_by}}">&raquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                            {% endif %}


                        </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="import_csv_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <form action="{% url 'admintools_international_rates' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <input type="hidden" name="action" value="add-csv" />
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Import Rates via CSV</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <h4>Upload your csv file below</h4><br />
                <p>Please upload the spreadsheet in the specified format. <br />If you do not have a sample file, you can download a <a href="http://itpfiber.com/Sample International Rates Import CSV.csv" target="_blank">sample template here.</a><br /><br /></p>
                <input type="file" name="csv_file" value="Import "/><br /><br />
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success">Save changes</button>
                </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Modal -->
    <div class="modal fade" id="import_single_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <form action="{% url 'admintools_international_rates' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <input type="hidden" name="action" value="add-single" />
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add International Rate Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        
                        <div style="padding:20px;">
                            <input type="text" name="destination" style="padding:6px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#ddd;width:100%;" placeholder="Destination"/><br /><br />
                            <input type="text" name="cost" style="padding:6px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#ddd;width:100%;" placeholder="Cost"/><br /><br />
                            <input type="text" name="country" style="padding:6px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#ddd;width:100%;" placeholder="Country"/><br /><br />
                            <select name="carrier" placeholder="Select carrier" style="padding:6px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#ddd;width:100%;">
                                <option value="">Select a carrier</option>
                                <option value="bandwidth.com">bandwidth.com</option>
                                <option value="vitelity">vitelity</option>
                                <option value="flowroute">flowroute</option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Save changes</button>
                    </div>
                </div>
              </form>
            </div>
          </div>

   


{% endblock %}

